Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Disable check_bounds check for performance tests
  src/ansys/dpf/composites/layup_info.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Revert data files and upload correct server logs. Improve return types of indexer
  .github/workflows/ci_cd.yml
  src/ansys/dpf/composites/layup_info.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

rename axis to axes and return named tuple with the figure and axes of matplotlib
  examples/sampling_point_example.py
  pyproject.toml
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

style checks
  examples/sampling_point_example.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Split tests in different files
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/helper.py
  tests/material_properties_test.py
Due: mypy-tests

Fix type error
  src/ansys/dpf/composites/select_indices.py
Due: mypy-code

simplify source code
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

precommit hooks
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Deploying to gh-pages from @ pyansys/pydpf-composites@ff460cccf4bdba86b76e2e53bb0299724ed34a59 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

Improve docs
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/element_info_output_all_element_types_test.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

Improve types
  tests/helper.py
Due: mypy-tests

Deploying to gh-pages from @ pyansys/pydpf-composites@bd3d1085e150b9bbe5ed297aa34e985d7005e4e9 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

More documentation and use stream provider
  doc/source/api/index.rst
  doc/source/api/layup_information.rst
  doc/source/api/select_indices.rst
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/element_info_output_all_element_types_test.py
  tests/helper.py
Due: mypy-code, mypy-tests

Example with flat array output
  src/ansys/dpf/composites/layup_info.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Change source import of flake8
  .pre-commit-config.yaml
Due: none

Extend documentation
  .gitignore
  doc/source/api/layup_information.rst
  doc/source/api/select_indices.rst
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/helper.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

Disable vale
  .github/workflows/ci_cd.yml
Due: none

Fix tests
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/material_properties_test.py
Due: mypy-tests

Remove docs style
  .github/workflows/ci_cd.yml
Due: none

Layered Data Access (#9)
  .github/workflows/ci_cd.yml
  .gitignore
  .pre-commit-config.yaml
  doc/source/api/index.rst
  doc/source/api/layup_information.rst
  doc/source/api/select_indices.rst
  pyproject.toml
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/__init__.py
  tests/basic_workflow_test.py
  tests/conftest.py
  tests/data/all_element_types/model_with_all_element_types_all_except_mid_output.rst
  tests/data/all_element_types/model_with_all_element_types_all_output.rst
  tests/data/all_element_types/model_with_all_element_types_minimal_output.rst
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/helper.py
  tests/material_properties_test.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Deploying to gh-pages from @ pyansys/pydpf-composites@ca83fd98a6c4e2314a886bfce323f5951607145a 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

Use example files downloaded from github
  examples/basic_example.py
  examples/failure_operator_example.py
  examples/sampling_point_example.py
  examples/sampling_point_operator_example.py
  examples/short_fiber_example.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  tests/helper.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Deploying to gh-pages from @ pyansys/pydpf-composites@ca83fd98a6c4e2314a886bfce323f5951607145a 🚀
  _images/sphx_glr_basic_example_001.png
  _images/sphx_glr_failure_operator_example_001.png
  _images/sphx_glr_failure_operator_example_002.png
  _images/sphx_glr_failure_operator_example_003.png
  _images/sphx_glr_short_fiber_example_001.png
  _images/sphx_glr_short_fiber_example_thumb.png
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

add py.typed
  src/ansys/dpf/composites/py.typed
Due: none

Deploying to gh-pages from @ pyansys/pydpf-composites@460d6ebf45c8579accfa1dd2eaed0144195f32c1 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

Small doc improvements
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/material_setup.py
Due: mypy-code

Use python 3.9 for docs
  tox.ini
Due: none

Switch main python version
  .github/workflows/ci_cd.yml
  tox.ini
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
