Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://gitlab.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8



- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Deploying to gh-pages from @ pyansys/pydpf-composites@3cf8d1ed8b1baddf3ee5f94a523d8441e1dde24b 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

Deploying to gh-pages from @ pyansys/pydpf-composites@3cf8d1ed8b1baddf3ee5f94a523d8441e1dde24b 🚀
  _downloads/1d3aec630b324236d9219dfeba967518/short_fiber_example.ipynb
  _downloads/42405952459ced51b7a430af4ff2191b/basic_example.ipynb
  _downloads/54f16dc01300d9b2014a3113546ecf0c/sampling_point_example.ipynb
  _downloads/e6cd01b6074eb736f509d78d8292b856/failure_operator_example.ipynb
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

add sampling point class
  README.rst
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

refine default plot
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

minor bug fix
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Improve plugin load when platform is unspecified
  doc/make.bat
  src/ansys/dpf/composites/load_plugin.py
Due: mypy-code

update sampling point test
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

add sampling point example
  examples/sampling_point_operator_example.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

fix examples/sampling_point_operator_example.py
  examples/sampling_point_operator_example.py
Due: mypy-code

run tox -e style
  examples/sampling_point_example.py
  examples/sampling_point_operator_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

precommit hooks
  examples/sampling_point_operator_example.py
Due: mypy-code

Remove unused sys import
  src/ansys/dpf/composites/load_plugin.py
Due: mypy-code

Improve plugin load when platform is unspecified (#18)
  doc/make.bat
  src/ansys/dpf/composites/load_plugin.py
Due: mypy-code

Deploying to gh-pages from @ pyansys/pydpf-composites@dabeb9396da56d80852678d81ab79f30b6921d7b 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

precommit hooks
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Precommit hooks
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

fix unit test
  tests/sampling_point_test.py
Due: mypy-tests

run precommit hook
  tests/sampling_point_test.py
Due: mypy-tests

fix README.rst
  README.rst
Due: none

improve examples/sampling_point_example.py Throw error if SamplingPoint is scoped to more than one element
  examples/sampling_point_example.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

adjust heading style of section Examples (examples/README.rst)
  README.rst
  examples/README.rst
Due: none

Improve the appearance of the examples section
  doc/source/examples/index.rst
  doc/source/index.rst
  examples/README.rst
Due: none

Update src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/layup_info.py
Due: mypy-code
