Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Adresse issue #80
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/3_short_fiber_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

Update unit test
  tests/result_definition_test.py
Due: mypy-tests

fix types of get_result_plots
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Improve comment related to write_data_for_full_element_scope
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

stylistic improvements
  src/ansys/dpf/composites/failure_criteria/combined_failure_criterion.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Minor doc fixes (#73)
  doc/source/api/index.rst
  doc/source/conf.py
  doc/source/index.rst
  doc/source/intro.rst
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/8_assembly_example.py
  examples/README.rst
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/material_properties.py
  tests/performance_test.py
Due: mypy-code, mypy-tests

stylistic improvements
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

code style checks
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Minor doc improvements (#82)
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/3_short_fiber_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  tox.ini
Due: mypy-code

ensure that angle and thickness are floats.
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/api/_autosummary/ansys.dpf.composites.FailureMeasure.margin_of_safety.html
  dev/api/_autosummary/ansys.dpf.composites.FailureMeasure.reserve_factor.html
  dev/api/_autosummary/ansys.dpf.composites.SamplingPoint.add_results_to_plot.html
  dev/api/_autosummary/ansys.dpf.composites.SamplingPoint.get_indices.html
  dev/api/_autosummary/ansys.dpf.composites.SamplingPoint.get_offsets_by_spots.html
  dev/api/_autosummary/ansys.dpf.composites.SamplingPoint.get_polar_plot.html
  dev/api/_autosummary/ansys.dpf.composites.SamplingPoint.get_result_plots.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.CombinedFailureCriterion.html
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

More doc improvements
  doc/source/api/composite_model.rst
  doc/source/index.rst
  doc/source/intro.rst
  examples/2_sampling_point_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/connect_to_or_start_server.py
  src/ansys/dpf/composites/failure_criteria/puck.py
  src/ansys/dpf/composites/sampling_point.py
  tests/getting_started_test.py
Due: mypy-code, mypy-tests

Add unit test
  tests/sampling_point_test.py
Due: mypy-tests

Rename criteria to criterion
  doc/source/intro.rst
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/8_assembly_example.py
  src/ansys/dpf/composites/composite_model.py
  tests/composite_model_test.py
  tests/getting_started_test.py
Due: mypy-code, mypy-tests

Fix sampling point test
  tests/sampling_point_test.py
Due: mypy-tests

Add unit test
  src/ansys/dpf/composites/sampling_point.py
  tests/composite_model_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Fix to_json for np.int and finish unit tests
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  tests/composite_model_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

run style checks
  tests/composite_model_test.py
  tests/sampling_point_test.py
Due: mypy-tests

convert data to ensure a constitent types
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

improve doc string
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

run style checks
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

data conversion for the Analysis Plies of a Sampling Point
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

implement explicit data conversion for the analysis plies of a sampling point
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

run style check
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

get_composite_files_from_workbench_result_folder now looks for file.rst to instead of *.rst to support distributed mode. I have never seen a project where a different file name for the RST was used.
  src/ansys/dpf/composites/composite_data_sources.py
Due: mypy-code

revert none checks because of type checks.
  src/ansys/dpf/composites/composite_data_sources.py
Due: mypy-code

Use IntEnum where possible to simplify the API
  examples/1_failure_operator_example.py
  examples/4_get_material_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/layup_info.py
  tests/composite_model_test.py
  tests/getting_started_test.py
Due: mypy-code, mypy-tests

Minor changes in the main page of the documentation
  doc/source/index.rst
Due: none

run pre-commit hooks
  src/ansys/dpf/composites/layup_info.py
Due: mypy-code

DOC: add development documentation
  dev/_downloads/0ceda182f5f52dbb13e30c600c99a2ab/1_failure_operator_example.ipynb
  dev/_downloads/182734e7babe023574be666ab4d0c279/4_get_material_properties_example.py
  dev/_downloads/7fbd17dbe9eea9f3b1cbedd3beefee18/7_interlaminar_normal_stress_example.ipynb
  dev/_downloads/834844dd5f9fb735dc47d160776f651c/8_assembly_example.py
  dev/_downloads/896c84cc1c245945d2ca349ce8f06ae9/4_get_material_properties_example.ipynb
  dev/_downloads/8e7784dcad693950905e90085a0c70d8/8_assembly_example.ipynb
  dev/_downloads/9ff5ec05dd6df800cc962cd22c60cd28/6_filter_composite_data_example.ipynb
  dev/_downloads/aacf4e81e7cf567a4fea4a631f9c6861/7_interlaminar_normal_stress_example.py
  dev/_downloads/d8ea217109bc4b7c7ba4e3aaa13216ef/1_failure_operator_example.py
  dev/_downloads/e05f846beb0a8299ac35fefa3ea22a53/6_filter_composite_data_example.py
  dev/_images/sphx_glr_2_sampling_point_example_001.png
  dev/_images/sphx_glr_2_sampling_point_example_003.png
  dev/_images/sphx_glr_2_sampling_point_example_005.png
  dev/_images/sphx_glr_2_sampling_point_example_thumb.png
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/index.rst.txt
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/index.html
  dev/searchindex.js
Due: mypy-code

update tests because FaliureOutput is now an IntEnum
  tests/composite_model_test.py
  tests/sampling_point_test.py
Due: mypy-tests

Remove duplicate implementation of composite file classes
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

style checks
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
