Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 23.3.0  # IF VERSION CHANGES --> MODIFY "blacken-docs" MANUALLY AS WELL!!
  hooks:
  - id: black

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.14.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.3.0]
    exclude: "^tests/"

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.7.0
  hooks:
  - id: pyupgrade
    args: [--py39-plus]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: ["tomli"]
    exclude: "^(tests/|examples/)"

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
    exclude: '^poetry\.lock$'

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.2.6
  hooks:
  - id: add-license-headers
    args: ["--start_year", "2023"]

- repo: local
  hooks:
  - id: poetry-pyproject-consistency
    name: "poetry: check pyproject.toml consistency"
    entry: poetry
    language: system
    args: ["check"]
    files: '^pyproject\.toml$'
    pass_filenames: false
  - id: poetry-lockfile-consistency
    name: "poetry: check lockfile consistency"
    entry: poetry
    language: system
    args: ["lock", "--check"]
    files: '^(pyproject\.toml|poetry\.lock)$'
    pass_filenames: false
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: "^(doc/)|(tests/)|(examples/)"
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Fix Field Indexer by distinguish between fields with data pointers and without Add draft of an example for a thermal analysis
  examples/013_thermal_example.py
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/performance_test.py
Due: pylint, mypy-code, mypy-tests

further debugging
  examples/013_thermal_example.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: pylint, mypy-code

fix select_indices for layered solid elements
  examples/013_thermal_example.py
  src/ansys/dpf/composites/select_indices.py
Due: pylint, mypy-code

update unit test
  tests/element_info_output_all_element_types_test.py
Due: mypy-tests

verify get_selected_indices for all types of layered elements
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/element_info_output_all_element_types_test.py
Due: pylint, mypy-code, mypy-tests

fix two issues
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: pylint, mypy-code

run pre-commit hooks
  examples/013_thermal_example.py
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/element_info_output_all_element_types_test.py
Due: pylint, mypy-code, mypy-tests

run pre-commit hooks
  src/ansys/dpf/composites/example_helper/__init__.py
Due: pylint, mypy-code

ensure consistent return type of (Property)FieldIndexer
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/performance_test.py
Due: pylint, mypy-code, mypy-tests

fix typing
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: pylint, mypy-code

fix typing and issues reported by mypy
  src/ansys/dpf/composites/_indexer.py
Due: pylint, mypy-code

run type checks
  src/ansys/dpf/composites/_indexer.py
Due: pylint, mypy-code

Use Union instead of | (or) for the typing for the support of Python 3.9
  src/ansys/dpf/composites/_indexer.py
Due: pylint, mypy-code

bug fix for dpf server 2024 R1 pre0 and before where the shell offset extraction fails.
  src/ansys/dpf/composites/_indexer.py
Due: pylint, mypy-code

run code style checks
  src/ansys/dpf/composites/_indexer.py
Due: pylint, mypy-code

run style checks
  src/ansys/dpf/composites/_indexer.py
Due: pylint, mypy-code

improve comments of the new example
  examples/013_thermal_example.py
Due: none

additional unit test
  tests/data/all_element_types/model_with_all_element_types_all_output_1_layer.rst
  tests/data/all_element_types/model_with_all_element_types_all_output_1_layer_material.xml
  tests/element_info_output_all_element_types_test.py
Due: mypy-tests

cosmetic change
  tests/element_info_output_all_element_types_test.py
Due: mypy-tests

cosmetic change
  src/ansys/dpf/composites/_indexer.py
Due: pylint, mypy-code

New test only passes if the version of the DPF server is 8.0 or higher.
  tests/element_info_output_all_element_types_test.py
Due: mypy-tests

update example
  pyconv/examples/001_failure_operator_example.py
Due: none

Fix Field Indexer and get_element_indices for layered solids and add example of a thermal analysis (#512)
  examples/013_thermal_example.py
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/data/all_element_types/model_with_all_element_types_all_output_1_layer.rst
  tests/data/all_element_types/model_with_all_element_types_all_output_1_layer_material.xml
  tests/element_info_output_all_element_types_test.py
  tests/performance_test.py
Due: pylint, mypy-code, mypy-tests

Bump version 0.6.1
  pyproject.toml
Due: poetry-pyproject-consistency, poetry-lockfile-consistency
