Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 23.3.0  # IF VERSION CHANGES --> MODIFY "blacken-docs" MANUALLY AS WELL!!
  hooks:
  - id: black

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.14.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.3.0]
    exclude: "^tests/"

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.7.0
  hooks:
  - id: pyupgrade
    args: [--py39-plus]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: ["tomli"]
    exclude: "^(tests/|examples/)"

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
    exclude: '^poetry\.lock$'

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.2.6
  hooks:
  - id: add-license-headers
    args: ["--start_year", "2023"]

- repo: local
  hooks:
  - id: poetry-pyproject-consistency
    name: "poetry: check pyproject.toml consistency"
    entry: poetry
    language: system
    args: ["check"]
    files: '^pyproject\.toml$'
    pass_filenames: false
  - id: poetry-lockfile-consistency
    name: "poetry: check lockfile consistency"
    entry: poetry
    language: system
    args: ["lock", "--check"]
    files: '^(pyproject\.toml|poetry\.lock)$'
    pass_filenames: false
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: "^(doc/)|(tests/)|(examples/)"
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Add tests for new pre-release version. (#448)
  .github/workflows/ci_cd.yml
  doc/source/intro.rst
  tox.ini
Due: none

Fix output for non-irf failure (#446)
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_test.py
Due: pylint, mypy-code, mypy-tests

Update 0.4 release branch (#449)
  .github/workflows/ci_cd.yml
  doc/source/intro.rst
  examples/006_filter_composite_data_example.py
  poetry.lock
  pyproject.toml
  release_checklist.rst
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_test.py
  tests/filter_layered_data_test.py
  tests/test_metadata.py
  tox.ini
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

Migrate vale config to v3
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
Due: none

Add example for results in global coordinates
  examples/006_filter_composite_data_example.py
Due: none

Remove upper bounds for python packages
  poetry.lock
  pyproject.toml
Due: poetry-pyproject-consistency, poetry-lockfile-consistency

Update examples/006_filter_composite_data_example.py
  examples/006_filter_composite_data_example.py
Due: none

Use latest python version for docs. Implement fix for sort gallery
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Due: none

Use latest python in tox
  tox.ini
Due: none

Fix formating with updated versions and update pre-commit hooks
  .pre-commit-config.yaml
  LICENSE
  doc/source/conf.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_scoping_test.py
  tests/conftest.py
  tests/helper.py
Due: pylint, mypy-code, mypy-tests

Don't generate docs for derived properties for enums
  doc/source/_templates/autosummary/no_methods_doc/base.rst.jinja2
  doc/source/api/constants.rst
  doc/source/api/layup_info.rst
Due: none
