Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Update dpf core dependency
  poetry.lock
  pyproject.toml
Due: none

increase timeout
  tests/conftest.py
Due: mypy-tests

increase timeout some more
  tests/conftest.py
Due: mypy-tests

Try to workaround a dpf bug by introducing a timeout
  tests/conftest.py
Due: mypy-tests

Implement workaround for dpf bug
  tests/conftest.py
Due: mypy-tests

Deploying to gh-pages from @ pyansys/pydpf-composites@460d6ebf45c8579accfa1dd2eaed0144195f32c1 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

Rename to continuous fibers. Use os property of server to simplify plugin load
  examples/basic_example.py
  examples/failure_operator_example.py
  examples/filter_composite_data_example.py
  examples/sampling_point_example.py
  examples/sampling_point_operator_example.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/load_plugin.py
  src/ansys/dpf/composites/sampling_point.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Switch to pyansys example repo
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

Check results of performance tests
  src/ansys/dpf/composites/indexer.py
  src/ansys/dpf/composites/layup_info.py
  tests/helper.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Remove obsolete comment
  src/ansys/dpf/composites/indexer.py
Due: mypy-code

Try with python 3.10
  .github/workflows/ci_cd.yml
Due: none

Add support for element type 187
  src/ansys/dpf/composites/layup_info.py
  tests/data/all_element_types/model_with_all_element_types_all_except_mid_output.rst
  tests/data/all_element_types/model_with_all_element_types_all_output.rst
  tests/data/all_element_types/model_with_all_element_types_minimal_output.rst
  tests/element_info_output_all_element_types_test.py
Due: mypy-code, mypy-tests

Add more layup properties
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/indexer.py
  src/ansys/dpf/composites/layup_info.py
  tests/layup_properties_test.py
Due: mypy-code, mypy-tests

Basic example of a plot with layup properties
  .pre-commit-config.yaml
  examples/get_layup_properties_example.py
Due: mypy-code

Add example including analysis ply names
  examples/get_layup_properties_example.py
  src/ansys/dpf/composites/layup_info.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

Check and improve performance of LayupProperties provider
  src/ansys/dpf/composites/layup_info.py
  tests/helper.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Fix helper import
  tests/layup_properties_test.py
Due: mypy-tests

Jvonrick/make examples more accessible (#29)
  .github/workflows/ci_cd.yml
  doc/source/api/select_indices.rst
  doc/source/conf.py
  examples/basic_example.py
  examples/failure_operator_example.py
  examples/filter_composite_data_example.py
  examples/sampling_point_example.py
  examples/sampling_point_operator_example.py
  examples/short_fiber_example.py
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/load_plugin.py
  src/ansys/dpf/composites/material_setup.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/select_indices.py
  tests/conftest.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/helper.py
  tests/material_properties_test.py
  tests/performance_tests.py
  tox.ini
Due: mypy-code, mypy-tests

Add python 3.10 to tests (#32)
  .github/workflows/ci_cd.yml
  src/ansys/dpf/composites/indexer.py
  src/ansys/dpf/composites/layup_info.py
  tests/helper.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Deploying to gh-pages from @ pyansys/pydpf-composites@ecb2d8678f98c7c9c1f770bd7749eed1fa073f1d 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/filter_composite_data_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

Fix element type order
  src/ansys/dpf/composites/layup_info.py
Due: mypy-code

Support element type 187 (#33)
  src/ansys/dpf/composites/layup_info.py
  tests/data/all_element_types/model_with_all_element_types_all_except_mid_output.rst
  tests/data/all_element_types/model_with_all_element_types_all_output.rst
  tests/data/all_element_types/model_with_all_element_types_minimal_output.rst
  tests/element_info_output_all_element_types_test.py
Due: mypy-code, mypy-tests

Deploying to gh-pages from @ pyansys/pydpf-composites@0522a08b783255e7c898277d60da1ecf97cad32c 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/filter_composite_data_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

Make indexer properties private
  src/ansys/dpf/composites/indexer.py
  tests/layup_properties_test.py
Due: mypy-code, mypy-tests

Rename long fiber to continuous fiber
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/layup_info.py
  tests/helper.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Improve docs
  doc/source/api/layup_information.rst
  examples/get_layup_properties_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/layup_info.py
  tests/layup_properties_test.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Jvonrick/add more layup properties (#35)
  .pre-commit-config.yaml
  doc/source/api/layup_information.rst
  examples/get_layup_properties_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/indexer.py
  src/ansys/dpf/composites/layup_info.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Deploying to gh-pages from @ pyansys/pydpf-composites@92a073d61e0e8629bc42312b53fd47782706bb89 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  _sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/filter_composite_data_example.html
  examples/gallery_examples/get_layup_properties_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

Add documentation
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/material_properties.py
  tests/helper.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

Update README.rst
  README.rst
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
