Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Remove auto generated type.
  src/ansys/dpf/composites/ply_wise_data.py
Due: mypy-code

Skip tests for older versions
  tests/ply_wise_data_test.py
Due: mypy-tests

Fix link in docs
  examples/006_filter_composite_data_example.py
Due: mypy-code

Don't override location. It is now set in the backend.
  src/ansys/dpf/composites/ply_wise_data.py
Due: mypy-code

Add fatigue example
  examples/012_fatigue_example.py
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/example_helper/__init__.py
Due: mypy-code

Add fatigue example
  src/ansys/dpf/composites/ply_wise_data.py
Due: mypy-code

Update examples/006_filter_composite_data_example.py
  examples/006_filter_composite_data_example.py
Due: mypy-code

Update src/ansys/dpf/composites/ply_wise_data.py
  src/ansys/dpf/composites/ply_wise_data.py
Due: mypy-code

Update examples/012_fatigue_example.py
  examples/012_fatigue_example.py
Due: mypy-code

Apply suggestions from code review
  examples/012_fatigue_example.py
Due: mypy-code

Apply suggestions from code review
  examples/006_filter_composite_data_example.py
Due: mypy-code

Remove obsolet premium context, since premium is anyway the default.
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Fix codestyle issues
  examples/006_filter_composite_data_example.py
  examples/012_fatigue_example.py
Due: mypy-code

Fix code style issues
  src/ansys/dpf/composites/ply_wise_data.py
Due: mypy-code

Document more explicitly that SpotReductionStrategy only affects averaging from spots to nodes.
  doc/source/api/ply_wise_data.rst
  examples/006_filter_composite_data_example.py
  src/ansys/dpf/composites/ply_wise_data.py
  tests/ply_wise_data_test.py
Due: mypy-code, mypy-tests

Use twice the orthotropic stress limit for Sc since it represents the stress range.
  examples/012_fatigue_example.py
Due: mypy-code

Remove obsolet premium context (#408)
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Upload files to unique folder on server to avoid conflicts
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/basic_workflow_test.py
  tests/element_info_output_all_element_types_test.py
Due: mypy-code, mypy-tests
