Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Fix inputs for config operators
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

DOC: update development documentation 36ffda041ab25307e30b95ae00a61270b2f96ca2
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Update src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
Due: mypy-code

Update src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl.py
Due: mypy-code

Update src/ansys/dpf/composites/sampling_point_types.py
  src/ansys/dpf/composites/sampling_point_types.py
Due: mypy-code

add more tests for the scoping and other cosmetic changes
  examples/011_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
  tests/data/shell/shell_2load_steps.rst
  tests/getting_started_test.py
  tests/helper.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Fix include after moving a function to another subdirectory
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

apply style checks
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

apply style checks
  src/ansys/dpf/composites/_composite_model_impl.py
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
Due: mypy-code, mypy-tests

update doc string of CompositeModelImpl
  src/ansys/dpf/composites/_composite_model_impl.py
Due: mypy-code

Fix tests
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
  tests/conftest.py
  tests/helper.py
Due: mypy-tests

Fix tests
  tests/composite_model_test.py
Due: mypy-tests

Fix tests
  tests/helper.py
Due: mypy-tests

work on feedback from the code review
  src/ansys/dpf/composites/_composite_model_factory.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Various doc improvements
  doc/source/api/data_sources.rst
  examples/008_assembly_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/composite_scope.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/sampling_point_types.py
Due: mypy-code

DOC: update development documentation 36ffda041ab25307e30b95ae00a61270b2f96ca2
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/api/_autosummary/ansys.dpf.composites.sampling_point.SamplingPoint.add_ply_sequence_to_plot.html
  version/dev/api/_autosummary/ansys.dpf.composites.sampling_point.SamplingPoint.add_results_to_plot.html
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Update examples/008_assembly_example.py
  examples/008_assembly_example.py
Due: mypy-code

Various doc improvements
  src/ansys/dpf/composites/_composite_model_impl.py
Due: mypy-code

Implement composite_files_from_workbench_harmonic_analysis
  doc/source/api/data_sources.rst
  examples/010_harmonic_example.py
  src/ansys/dpf/composites/data_sources.py
  tests/data/workflow_example/harmonic/harmonic_analysis/MatML.xml
  tests/data/workflow_example/harmonic/harmonic_analysis/file.rst
  tests/data/workflow_example/harmonic/modal_analysis/Setup/ACPCompositeDefinitions.h5
  tests/test_data_sources.py
Due: mypy-code, mypy-tests

Ingnore 1_ext files
  src/ansys/dpf/composites/data_sources.py
  tests/data/workflow_example/assembly/Setup 3/ACPSolidModel_SM.1_ext.h5
  tests/data/workflow_example/assembly/Setup 4/ACPCompositeDefinitions.1_ext.h5
Due: mypy-code

Fix docs link
  examples/010_harmonic_example.py
Due: mypy-code

Reformat doc string
  src/ansys/dpf/composites/_composite_model_impl.py
Due: mypy-code

Cosmetic changes in the documentation.
  doc/source/intro.rst
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  tests/conftest.py
Due: mypy-code, mypy-tests
