Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Improve material properties doc
  src/ansys/dpf/composites/material_properties.py
Due: mypy-code

Reorganize API docs groups
  doc/source/api/base.rst
  doc/source/api/composite_model.rst
  doc/source/api/failure_criteria.rst
  doc/source/api/index.rst
  doc/source/api/select_indices.rst
  doc/source/api/server_helper.rst
Due: none

Small documentation fixes
  doc/source/api/composite_model.rst
  doc/source/api/material_properties.rst
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/connect_to_or_start_server.py
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/layup_info.py
Due: mypy-code

Fix intendation
  doc/source/api/material_properties.rst
Due: none

rework cell labels
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/3_short_fiber_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

Fix some typos
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/3_short_fiber_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

style check
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

DOC: add development documentation
  dev/_downloads/0ceda182f5f52dbb13e30c600c99a2ab/1_failure_operator_example.ipynb
  dev/_downloads/139306772400c841de910108371f3025/dpf_composite_failure_workflow.ipynb
  dev/_downloads/17321ebe36092bd4e1302e206e846af2/5_get_layup_properties_example.py
  dev/_downloads/182734e7babe023574be666ab4d0c279/4_get_material_properties_example.py
  dev/_downloads/491641e9a5e6494a96fec16ad05a39f7/5_get_layup_properties_example.ipynb
  dev/_downloads/69acae2b746b2763a8d711f6de4d0393/3_short_fiber_example.ipynb
  dev/_downloads/6b26539de83fbf2e8d5b37668ecc4e76/dpf_composite_failure_workflow.py
  dev/_downloads/7e9cf296843a413f05366030fec0953f/2_sampling_point_example.py
  dev/_downloads/7fbd17dbe9eea9f3b1cbedd3beefee18/7_interlaminar_normal_stress_example.ipynb
  dev/_downloads/834844dd5f9fb735dc47d160776f651c/8_assembly_example.py
  dev/_downloads/896c84cc1c245945d2ca349ce8f06ae9/4_get_material_properties_example.ipynb
  dev/_downloads/8e7784dcad693950905e90085a0c70d8/8_assembly_example.ipynb
  dev/_downloads/9ff5ec05dd6df800cc962cd22c60cd28/6_filter_composite_data_example.ipynb
  dev/_downloads/aacf4e81e7cf567a4fea4a631f9c6861/7_interlaminar_normal_stress_example.py
  dev/_downloads/c85b56dab21447c163731d74b0a4284d/2_sampling_point_example.ipynb
  dev/_downloads/d8ea217109bc4b7c7ba4e3aaa13216ef/1_failure_operator_example.py
  dev/_downloads/e05f846beb0a8299ac35fefa3ea22a53/6_filter_composite_data_example.py
  dev/_downloads/e79424f559efb4dcca51af7a09973e19/3_short_fiber_example.py
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: mypy-code

Jvonrick/docs improvements (#63)
  doc/source/_static/boat_irf.png
  doc/source/_static/boat_sampling_point.png
  doc/source/api/base.rst
  doc/source/api/composite_model.rst
  doc/source/api/failure_criteria.rst
  doc/source/api/index.rst
  doc/source/api/material_properties.rst
  doc/source/api/select_indices.rst
  doc/source/api/server_helper.rst
  doc/source/intro.rst
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/connect_to_or_start_server.py
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/material_properties.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Doc enums by making them lower case
  doc/source/api/composite_model.rst
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/sampling_point.py
  tests/composite_model_test.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Fix enums in examples
  examples/2_sampling_point_example.py
  examples/4_get_material_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
Due: mypy-code

Update dpf core
  poetry.lock
  pyproject.toml
Due: none

improve main page and getting started
  doc/source/api/layup_information.rst
  doc/source/index.rst
  doc/source/intro.rst
Due: none

Upper bound for autodoc typehints
  poetry.lock
  pyproject.toml
Due: none

Doc enums by making them lower case and upgrade dpf core (#65)
  doc/source/api/composite_model.rst
  examples/2_sampling_point_example.py
  examples/4_get_material_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/sampling_point.py
  tests/composite_model_test.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Sort subsection of API doc alphabetically
  doc/source/api/failure_criteria.rst
  doc/source/api/layup_information.rst
  doc/source/api/material_properties.rst
  doc/source/api/select_indices.rst
Due: none

get rid of helper function get_combined_failure_criterion
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

Improve comment about large model and the usage of CompositeModel
  doc/source/intro.rst
Due: none

get rid of module name from unit titles
  doc/source/conf.py
Due: none

use enhanced API instead of string
  examples/4_get_material_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/dpf_composite_failure_workflow.py
  tests/basic_workflow_test.py
  tests/composite_model_test.py
  tests/element_info_output_all_element_types_test.py
  tests/helper.py
  tests/performance_test.py
Due: mypy-code, mypy-tests

Fix typos
  tests/element_info_output_all_element_types_test.py
  tests/helper.py
  tests/performance_test.py
Due: mypy-tests

DOC: add development documentation
  dev/_downloads/139306772400c841de910108371f3025/dpf_composite_failure_workflow.ipynb
  dev/_downloads/182734e7babe023574be666ab4d0c279/4_get_material_properties_example.py
  dev/_downloads/6b26539de83fbf2e8d5b37668ecc4e76/dpf_composite_failure_workflow.py
  dev/_downloads/7fbd17dbe9eea9f3b1cbedd3beefee18/7_interlaminar_normal_stress_example.ipynb
  dev/_downloads/896c84cc1c245945d2ca349ce8f06ae9/4_get_material_properties_example.ipynb
  dev/_downloads/9ff5ec05dd6df800cc962cd22c60cd28/6_filter_composite_data_example.ipynb
  dev/_downloads/aacf4e81e7cf567a4fea4a631f9c6861/7_interlaminar_normal_stress_example.py
  dev/_downloads/e05f846beb0a8299ac35fefa3ea22a53/6_filter_composite_data_example.py
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: mypy-code

Replace 'expensive' -> 'slow' in docs
  doc/source/intro.rst
  examples/4_get_material_properties_example.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/material_properties.py
  tests/performance_test.py
Due: mypy-code, mypy-tests

Remove unnecessary files and add css file
  .pre-commit-config.yaml
  doc/source/_static/pydpf_composite.css
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/conf.py
Due: none

Improve link to failure criteria
  examples/1_failure_operator_example.py
Due: mypy-code

Minor doc improvements
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
  tox.ini
Due: mypy-code

Remove obsolete comment
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

Fix typo: missing 'the'
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/8_assembly_example.py
Due: mypy-code

Fix typo: build -> built
  examples/2_sampling_point_example.py
Due: mypy-code

Ensure consistent name capitalization
  doc/source/api/index.rst
  doc/source/index.rst
  examples/README.rst
Due: none

Link against stable numpy docs
  doc/source/conf.py
Due: none

Failure values of FailureMeasure enum to be consistent with the backend
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/result_definition.py
  tests/composite_model_test.py
Due: mypy-code, mypy-tests

run code style checks
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code
