Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

temporary change: use mapdl_section_data docker image instead of latest
  tests/conftest.py
Due: mypy-tests

documentation: cosmetic changes
  doc/source/index.rst
  examples/011_rst_workflow.py
  examples/099_dpf_composite_failure_workflow.py
Due: mypy-code

add TokenIgnores for Vale
  doc/.vale.ini
  doc/source/index.rst
Due: none

Update src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl.py
Due: mypy-code

Update src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/_indexer.py
Due: mypy-code

improve documentation
  doc/source/index.rst
  doc/source/intro.rst
  examples/011_rst_workflow.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/conftest.py
Due: mypy-code, mypy-tests

additional unit tests to verify the ElementInfoProvider for mixed models (sections from acp and rst, and model with homogeneous solids)
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/data/model_with_beams_shells_solids/mixed_model.wbpz
  tests/data/model_with_beams_shells_solids/model_with_beams_shells_solids.acph5
  tests/data/model_with_beams_shells_solids/model_with_beams_shells_solids.engd
  tests/data/model_with_beams_shells_solids/model_with_beams_shells_solids.h5
  tests/data/model_with_beams_shells_solids/model_with_beams_shells_solids.rst
  tests/data/shell_mixed_acp_rst_model/ReadMe.txt
  tests/data/shell_mixed_acp_rst_model/linear_shell_with_MAPDL_sections.cdb
  tests/data/shell_mixed_acp_rst_model/linear_shell_with_MAPDL_sections.h5
  tests/data/shell_mixed_acp_rst_model/linear_shell_with_MAPDL_sections.rst
  tests/data/shell_mixed_acp_rst_model/material.engd
  tests/element_info_test.py
Due: mypy-code, mypy-tests

style check
  tests/element_info_test.py
Due: mypy-tests

cosmetic change
  examples/011_rst_workflow.py
Due: mypy-code

switch back to the latest docker image
  .github/workflows/ci_cd.yml
  tests/conftest.py
  tox.ini
Due: mypy-tests

style checks
  src/ansys/dpf/composites/_composite_model_impl.py
Due: mypy-code

Update doc/source/index.rst
  doc/source/index.rst
Due: none

Skip new tests if the tests are run with an old server
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  tests/element_info_test.py
Due: mypy-code, mypy-tests

run style check
  tests/element_info_test.py
Due: mypy-tests

Support section data from RST (#388)
  doc/.vale.ini
  doc/source/api/layup_info.rst
  doc/source/index.rst
  doc/source/intro.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/008_assembly_example.py
  examples/011_rst_workflow.py
  examples/099_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/select_indices.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_test.py
  tests/conftest.py
  tests/data/model_with_beams_shells_solids/mixed_model.wbpz
  tests/data/model_with_beams_shells_solids/model_with_beams_shells_solids.acph5
  tests/data/model_with_beams_shells_solids/model_with_beams_shells_solids.engd
  tests/data/model_with_beams_shells_solids/model_with_beams_shells_solids.h5
  tests/data/model_with_beams_shells_solids/model_with_beams_shells_solids.rst
  tests/data/shell_mixed_acp_rst_model/ReadMe.txt
  tests/data/shell_mixed_acp_rst_model/linear_shell_with_MAPDL_sections.cdb
  tests/data/shell_mixed_acp_rst_model/linear_shell_with_MAPDL_sections.h5
  tests/data/shell_mixed_acp_rst_model/linear_shell_with_MAPDL_sections.rst
  tests/data/shell_mixed_acp_rst_model/material.engd
  tests/element_info_test.py
  tests/rst_only_workflow_test.py
Due: mypy-code, mypy-tests

Fix type hints for paths
  src/ansys/dpf/composites/_typing_helper.py
Due: mypy-code

Explicitly uninstall ansys-dpf-core in test-minimal
  tox.ini
Due: none

Update .github/workflows/label.yml
  .github/workflows/label.yml
Due: none

Update labeler config
  .github/labeler.yml
Due: none

Add function to extract ply wise data
  src/ansys/dpf/composites/ply_wise_data.py
Due: mypy-code

Add test for extract ply wise data
  tests/ply_wise_data_test.py
Due: mypy-tests

Add docs
  doc/source/api/index.rst
  doc/source/api/ply_wise_data.rst
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/ply_wise_data.py
  tests/ply_wise_data_test.py
Due: mypy-code, mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
