Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Jvonrick/harmonic example (#287)
  doc/source/api/failure_criteria.rst
  doc/source/api/layup_info.rst
  doc/source/api/select_indices.rst
  doc/source/index.rst
  doc/source/intro.rst
  examples/001_failure_operator_example.py
  examples/002_sampling_point_example.py
  examples/003_short_fiber_example.py
  examples/004_get_material_properties_example.py
  examples/005_get_layup_properties_example.py
  examples/006_filter_composite_data_example.py
  examples/007_interlaminar_normal_stress_example.py
  examples/008_assembly_example.py
  examples/009_short_fiber_orientation_tensor.py
  examples/010_harmonic_example.py
  examples/011_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/failure_criteria/__init__.py
  src/ansys/dpf/composites/failure_criteria/_failure_mode_enum.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: mypy-code

DOC: update development documentation 6f179c028d0254697b28fea1859cc499eeba3b6d
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation c18a65f8b245cb7754cf978df4f4418a9acbae47
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Initial prototype for StressSolution
  examples/012_solution_queries.py
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/solution_queries.py
  tests/performance_test.py
Due: mypy-code, mypy-tests

DOC: update development documentation 9ccd1d5d9f1bb7682f976d10a507ff4b7d3a72d5
  version/dev/_downloads/0bcdfbedac49d41195123163588b6c5b/009_short_fiber_orientation_tensor.ipynb
  version/dev/_downloads/4c486dc0d97fc4b3038705c75677aae3/010_harmonic_example.ipynb
  version/dev/_downloads/57928fbea60dd74702eaf453ca24fc38/005_get_layup_properties_example.ipynb
  version/dev/_downloads/7c4a3fd561e2dcffe572d22b596f18e5/008_assembly_example.ipynb
  version/dev/_downloads/7c9b3047529f51fdfbee417c5683c0b2/002_sampling_point_example.ipynb
  version/dev/_downloads/99691009d7dc22d455fb4951528be3f4/004_get_material_properties_example.ipynb
  version/dev/_downloads/a900f4be052a782122df72bcdb57984f/003_short_fiber_example.ipynb
  version/dev/_downloads/bb3177d94926216b91930e358a2e5ef9/001_failure_operator_example.ipynb
  version/dev/_downloads/e9c4514d88ba65ac55929ae83e7c1bee/006_filter_composite_data_example.ipynb
  version/dev/_downloads/ead038a40bb172783f3436bae6b784e4/011_dpf_composite_failure_workflow.ipynb
  version/dev/_downloads/fcb7847b7f79388fd1a3a8544c6c23d0/007_interlaminar_normal_stress_example.ipynb
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation 9ccd1d5d9f1bb7682f976d10a507ff4b7d3a72d5
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation 451a6b768bf064322dbe1f1bb659e177d7348bc4
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Enable using distributed RST files.
  .pre-commit-config.yaml
  examples/011_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/composite_model_test.py
  tests/helper.py
  tests/result_definition_test.py
  tests/test_data_sources.py
Due: mypy-code, mypy-tests

Update ANALYSIS_PLY_PREFIX because of some changes in the back-end for the support of multiple lay-up definitions. The complete support will be implemented as part of the workflow refactoring.
  doc/source/intro.rst
  pyproject.toml
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Add some distributed RST tests, partially fix issues
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  tests/basic_workflow_test.py
  tests/data/shell/distributed_shell0.rst
  tests/data/shell/distributed_shell1.rst
  tests/performance_test.py
  tests/result_definition_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

fix style check
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
Due: mypy-code

Use special container till the PR of the backend is merged
  .github/workflows/ci_cd.yml
Due: none

Fix version test
  tests/test_metadata.py
Due: mypy-tests

Add tests for distributed RST files with CompositeModel
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/composite_model_test.py
Due: mypy-code, mypy-tests

ensure backward compatibility
  doc/source/intro.rst
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
Due: mypy-code

ensure backward compatibility
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: mypy-code

Use latest container again.
  .github/workflows/ci_cd.yml
  tests/conftest.py
Due: mypy-tests

Support multiple lay-up definitions (part 1) (#291)
  doc/source/intro.rst
  pyproject.toml
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  tests/test_metadata.py
Due: mypy-code, mypy-tests

DOC: update development documentation f7e965aa6cc7ce47eb9f4abb25f069903a8a73c0
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/intro.rst.txt
  version/dev/_static/documentation_options.js
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/intro.html
  version/dev/objects.inv
  version/dev/searchindex.js
Due: none

test compatibility with 2023 R2 in addition to the latest container
  tests/conftest.py
  tox.ini
Due: mypy-tests

run pre-commit hooks
  tests/conftest.py
Due: mypy-tests

test old docker image
  tox.ini
Due: none

pull ghcr.io/ansys/pydpf-composites:latest_2023r2 as well when running the tests
  .github/workflows/ci_cd.yml
Due: none

test all containers
  .github/workflows/ci_cd.yml
  tox.ini
Due: none

DOC: update development documentation 7827ef3e7295cc1df3928aa6947c50c72e0b94ff
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none
