Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 23.3.0  # IF VERSION CHANGES --> MODIFY "blacken-docs" MANUALLY AS WELL!!
  hooks:
  - id: black

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.14.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.3.0]
    exclude: "^tests/"

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.7.0
  hooks:
  - id: pyupgrade
    args: [--py39-plus]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: ["tomli"]
    exclude: "^(tests/|examples/)"

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
    exclude: '^poetry\.lock$'

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.2.6
  hooks:
  - id: add-license-headers
    args: ["--start_year", "2023"]

- repo: local
  hooks:
  - id: poetry-pyproject-consistency
    name: "poetry: check pyproject.toml consistency"
    entry: poetry
    language: system
    args: ["check"]
    files: '^pyproject\.toml$'
    pass_filenames: false
  - id: poetry-lockfile-consistency
    name: "poetry: check lockfile consistency"
    entry: poetry
    language: system
    args: ["lock", "--check"]
    files: '^(pyproject\.toml|poetry\.lock)$'
    pass_filenames: false
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: "^(doc/)|(tests/)|(examples/)"
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

some style changes due to other changes.
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/solid_stack_results.py
Due: pylint, mypy-code

Add tests for SolidStack and SolidStackProvider to improve the code coverage
  tests/sampling_point_solid_stack_test.py
Due: mypy-tests

Match hatches in lay-up plot lighter and use silver instead of black. Remove unneeded argument from SamplingPoint constructor
  examples/015_solid_model.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/solid_stack_results.py
Due: pylint, mypy-code

Fully regenerate the poetry lockfile
  poetry.lock
Due: poetry-lockfile-consistency

Update minimum required version of ansys-dpf-core to 0.9.0 because DataTree.to_dict is not available in 0.8.
  .ci/minimum_requirements.txt
  pyproject.toml
  src/ansys/dpf/composites/layup_info/__init__.py
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code

Fix python_version in mypy config
  pyproject.toml
Due: poetry-pyproject-consistency, poetry-lockfile-consistency

Fix docu build
  doc/source/api/layup_info.rst
Due: none

Drop support for EOL numpy and matplotlib versions
  .ci/minimum_requirements.txt
  poetry.lock
  pyproject.toml
Due: poetry-pyproject-consistency, poetry-lockfile-consistency

Fix mypy error: remove type hints on enum members
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/result_definition.py
Due: pylint, mypy-code

Add Sampling Point feature for solid models (#556)
  .ci/minimum_requirements.txt
  doc/source/api/layup_info.rst
  doc/source/index.rst
  examples/015_solid_model.py
  pyproject.toml
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  src/ansys/dpf/composites/solid_stack_results.py
  tests/data/solid_model/ACPSolidModel_SolidModel.1.h5
  tests/data/solid_model/file.rst
  tests/data/solid_model/material.engd
  tests/data/solid_model/ref_110.txt
  tests/data/solid_model/ref_113.txt
  tests/data/solid_model/ref_154.txt
  tests/data/solid_model/ref_219.txt
  tests/data/solid_model/small_solid_model.wbpz
  tests/helper.py
  tests/sampling_point_solid_stack_test.py
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

improve some doc strings (missed commit from Sampling Point for solids feature)
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
Due: pylint, mypy-code

get_data() is required here
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
Due: pylint, mypy-code

Update src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
Due: pylint, mypy-code

[WIP] work on examples
  examples/016_lsdyna_bird_strike.py
Due: none

Improve doc strings in solid_stack_info.py (#560)
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
Due: pylint, mypy-code

Fix mypy error: use explicit float64
  src/ansys/dpf/composites/_sampling_point_helpers.py
Due: pylint, mypy-code

[WIP] example 016 is running as expected now.
  examples/015_lsdyna.py
  examples/016_lsdyna_bird_strike.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: pylint, mypy-code

[WIP] lsdyna example and support.
  examples/015_lsdyna.py
  examples/016_lsdyna_bird_strike.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_element_info.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: pylint, mypy-code

[WIP] work on code style
  examples/016_lsdyna_bird_strike.py
  src/ansys/dpf/composites/layup_info/_element_info.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: pylint, mypy-code

[WIP] code style
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_element_info.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/solid_stack_results.py
Due: pylint, mypy-code

Dependency maintenance (#559)
  .ci/minimum_requirements.txt
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/result_definition.py
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code

[WIP] add unit test and files
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/_element_info.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/server_helpers/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/data/lsdyna/basic_shell_model/ACP-Pre.acph5
  tests/data/lsdyna/basic_shell_model/ACPCompositeDefinitions.h5
  tests/data/lsdyna/basic_shell_model/d3plot
  tests/data/lsdyna/basic_shell_model/d3plot01
  tests/data/lsdyna/basic_shell_model/d3plot02
  tests/data/lsdyna/basic_shell_model/file.actunits
  tests/data/lsdyna/basic_shell_model/input.k
  tests/data/lsdyna/basic_shell_model/material.engd
  tests/lsdyna_workflow_test.py
Due: pylint, mypy-code, mypy-tests

[WIP] extend get_composite_files_from_workbench_result_folder to support LSDyna
  examples/016_lsdyna_bird_strike.py
  src/ansys/dpf/composites/data_sources.py
Due: pylint, mypy-code

[WIP] update tests/lsdyna_workflow_test.py to verify get_composite_files_from_workbench_result_folder for LSDYNA
  src/ansys/dpf/composites/layup_info/_element_info.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/data/lsdyna/basic_shell_model/MatML.xml
  tests/data/lsdyna/basic_shell_model/Setup 1/ACP-Pre.acph5
  tests/data/lsdyna/basic_shell_model/Setup 1/ACPCompositeDefinitions.h5
  tests/lsdyna_workflow_test.py
Due: pylint, mypy-code, mypy-tests

fix docu build (missing api references and thumbnail size)
  doc/source/_static/pydpf_composite.css
  doc/source/api/constants.rst
  doc/source/api/layup_info.rst
  doc/source/conf.py
  examples/016_lsdyna_bird_strike.py
Due: none

run style checks
  examples/016_lsdyna_bird_strike.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/lsdyna_workflow_test.py
Due: pylint, mypy-code, mypy-tests

run style checks
  pyproject.toml
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/data_sources.py
  tests/lsdyna_workflow_test.py
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

[WIP] run style checks
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/data_sources.py
Due: pylint, mypy-code

some more cosmetic changes
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: pylint, mypy-code

use github repo to get example files and cosmetic changes
  examples/016_lsdyna_bird_strike.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/_element_info.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: pylint, mypy-code

Disable lsdyna test for servers older than 2025 R2
  examples/016_lsdyna_bird_strike.py
  tests/lsdyna_workflow_test.py
Due: mypy-tests
