Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 23.3.0  # IF VERSION CHANGES --> MODIFY "blacken-docs" MANUALLY AS WELL!!
  hooks:
  - id: black

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.14.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.3.0]
    exclude: "^tests/"

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.7.0
  hooks:
  - id: pyupgrade
    args: [--py39-plus]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: ["tomli"]
    exclude: "^(tests/|examples/)"

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
    exclude: '^poetry\.lock$'

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.2.6
  hooks:
  - id: add-license-headers
    args: ["--start_year", "2023"]

- repo: local
  hooks:
  - id: poetry-pyproject-consistency
    name: "poetry: check pyproject.toml consistency"
    entry: poetry
    language: system
    args: ["check"]
    files: '^pyproject\.toml$'
    pass_filenames: false
  - id: poetry-lockfile-consistency
    name: "poetry: check lockfile consistency"
    entry: poetry
    language: system
    args: ["lock", "--check"]
    files: '^(pyproject\.toml|poetry\.lock)$'
    pass_filenames: false
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: "^(doc/)|(tests/)|(examples/)"
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Bump version from 0.7 to 0.8 (dev)
  pyproject.toml
  tests/test_metadata.py
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, mypy-tests

Bump version from 0.7 to 0.8 (dev) (#573)
  pyproject.toml
  tests/test_metadata.py
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, mypy-tests

initial attempt to run tests with new dpf container
  .github/workflows/ci_cd.yml
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/server_helpers/_versions.py
Due: pylint, mypy-code

initial attempt to run tests with new dpf container
  src/ansys/dpf/composites/sampling_point.py
Due: pylint, mypy-code

fix format
  src/ansys/dpf/composites/sampling_point.py
Due: pylint, mypy-code

use sp_for_solids
  tests/conftest.py
  tox.ini
Due: mypy-tests

update scope if the selected element is a solid element
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/sampling_point.py
Due: pylint, mypy-code

handling of spots for solid elements
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/sampling_point_types.py
Due: pylint, mypy-code

Update all affected tests. Results are identical except that principal strains and stresses are now available as well.
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/sampling_point.py
  tests/data/solid_model/ref_110_old.txt
  tests/data/solid_model/ref_113_old.txt
  tests/data/solid_model/ref_154_old.txt
  tests/data/solid_model/ref_219_old.txt
  tests/helper.py
  tests/sampling_point_solid_stack_test.py
Due: pylint, mypy-code, mypy-tests

update sampling point plot: add solid element boxes
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  tests/sampling_point_solid_stack_test.py
Due: pylint, mypy-code, mypy-tests

apply style patch
  examples/015_solid_model.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/sampling_point_types.py
  tests/helper.py
  tests/sampling_point_solid_stack_test.py
Due: pylint, mypy-code, mypy-tests

Revert temporary change
  .github/workflows/ci_cd.yml
  tox.ini
Due: none

update documentation
  src/ansys/dpf/composites/sampling_point.py
  tests/conftest.py
  tests/helper.py
Due: pylint, mypy-code, mypy-tests

unit test: improve error handling
  tests/helper.py
Due: mypy-tests

cosmetic changes
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/sampling_point.py
Due: pylint, mypy-code

run style checks
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  tests/conftest.py
Due: pylint, mypy-code, mypy-tests

apply pre-commit checks
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
Due: pylint, mypy-code
