Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

typing
  examples/interlaminar_normal_stress_example.py
  src/ansys/dpf/composites/layup_info.py
Due: mypy-code

typing
  src/ansys/dpf/composites/layup_info.py
Due: mypy-code

Add missing import
  examples/interlaminar_normal_stress_example.py
Due: mypy-code

sort imports
  examples/interlaminar_normal_stress_example.py
Due: mypy-code

improve format of INS example
  examples/interlaminar_normal_stress_example.py
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

reformat examples
  examples/sampling_point_example.py
  examples/sampling_point_operator_example.py
Due: mypy-code

Deploying to gh-pages from @ pyansys/pydpf-composites@e23038419693dc75f9752f3562f9551fb3be4413 🚀
  _downloads/113ecfa629c7ea6daa0f1b1d32d125d8/get_material_properties_example.ipynb
  _downloads/1d3aec630b324236d9219dfeba967518/short_fiber_example.ipynb
  _downloads/42405952459ced51b7a430af4ff2191b/basic_example.ipynb
  _downloads/54f16dc01300d9b2014a3113546ecf0c/sampling_point_example.ipynb
  _downloads/679df32a8c9c8ef86507a79d100db426/filter_composite_data_example.ipynb
  _downloads/d9871954fe5e3910ea4b12e0d7c34e5b/get_layup_properties_example.ipynb
  _downloads/e6cd01b6074eb736f509d78d8292b856/failure_operator_example.ipynb
  _downloads/eebde4b94eb99b1ce1193cc064bef73a/sampling_point_operator_example.ipynb
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  _sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  _sources/examples/gallery_examples/get_material_properties_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/filter_composite_data_example.html
  examples/gallery_examples/get_layup_properties_example.html
  examples/gallery_examples/get_material_properties_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

expose element label property to the sampling point
  examples/sampling_point_example.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

style checks
  examples/sampling_point_example.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

style checks
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Support of versioned documentation
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Due: none

update lock file
  poetry.lock
Due: none

update ansys-spinx-theme
  poetry.lock
  pyproject.toml
Due: none

add sphinx-design
  poetry.lock
  pyproject.toml
Due: none

fix upload dev documentation
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Due: none

Deploying to gh-pages from @ pyansys/pydpf-composites@e23038419693dc75f9752f3562f9551fb3be4413 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  _sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  _sources/examples/gallery_examples/get_material_properties_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/filter_composite_data_example.html
  examples/gallery_examples/get_layup_properties_example.html
  examples/gallery_examples/get_material_properties_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

support multi-version documentation
  release/versions.json
Due: none

DOC: add development documentation
  dev/_sources/examples/gallery_examples/basic_example.rst.txt
  dev/_sources/examples/gallery_examples/failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/short_fiber_example.rst.txt
  dev/examples/gallery_examples/basic_example.html
  dev/examples/gallery_examples/failure_operator_example.html
  dev/examples/gallery_examples/filter_composite_data_example.html
  dev/examples/gallery_examples/get_layup_properties_example.html
  dev/examples/gallery_examples/get_material_properties_example.html
  dev/examples/gallery_examples/sampling_point_example.html
  dev/examples/gallery_examples/sampling_point_operator_example.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/short_fiber_example.html
  dev/searchindex.js
Due: none

Delete CNAME
  CNAME
Due: none

Create CNAME
  CNAME
Due: none

implement remarks from the PR review
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Due: none

Implement remarks from PR review (remove obsolete code)
  examples/interlaminar_normal_stress_example.py
Due: mypy-code

Implement remarks from the PR review.
  examples/sampling_point_example.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Extract and plot critical failure mode per ply
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Do not publish documentation of feature builds
  .github/workflows/ci_cd.yml
Due: none

update poetry lock file
  poetry.lock
Due: none

run pre-commit style check
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Add missing return type
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

DOC: add development documentation
  dev/_sources/examples/gallery_examples/basic_example.rst.txt
  dev/_sources/examples/gallery_examples/failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/short_fiber_example.rst.txt
  dev/examples/gallery_examples/basic_example.html
  dev/examples/gallery_examples/failure_operator_example.html
  dev/examples/gallery_examples/filter_composite_data_example.html
  dev/examples/gallery_examples/get_layup_properties_example.html
  dev/examples/gallery_examples/get_material_properties_example.html
  dev/examples/gallery_examples/interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/sampling_point_example.html
  dev/examples/gallery_examples/sampling_point_operator_example.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/short_fiber_example.html
  dev/searchindex.js
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
