Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 24.4.2  # IF VERSION CHANGES --> MODIFY "blacken-docs" MANUALLY AS WELL!!
  hooks:
  - id: black

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.16.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.3.0]
    exclude: "^tests/"

- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.15.2
  hooks:
  - id: pyupgrade
    args: [--py310-plus]

- repo: https://github.com/PyCQA/flake8
  rev: 7.0.0
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: ["tomli"]
    exclude: "^(tests/|examples/)"

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
    exclude: '^poetry\.lock$'

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.3.1
  hooks:
  - id: add-license-headers
    args: ["--start_year", "2023"]

- repo: https://github.com/python-poetry/poetry/
  rev: "2.2.1"
  hooks:
    - id: poetry-check
      name: "poetry: check pyproject.toml syntax"
    - id: poetry-check
      name: "poetry: check poetry.lock consistency"
      args: ["--lock"]
      files: '^(pyproject\.toml|poetry\.lock)$'

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: "^(doc/)|(tests/)|(examples/)"
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

[WIP]
  README.rst
  examples/018_get_strain_energy_example.py
Due: none

[WIP]: the computation of the total strain energy has been validated against Mechanical. Min and Max match.
  examples/018_get_strain_energy_example.py
Due: none

[WIP] debugging wrong results of the shell element has an offset (does not represent the mid-plane surface of the laminate)
  examples/004_get_material_properties_example.py
  examples/006_filter_composite_data_example.py
  examples/018_get_strain_energy_example.py
  src/ansys/dpf/composites/example_helper/__init__.py
Due: pylint, mypy-code

[WIP] Results match with Mechanical
  examples/018_get_strain_energy_example.py
Due: none

Add unit test for new method get_spot_from_integration_point_index
  examples/018_get_strain_energy_example.py
  src/ansys/dpf/composites/select_indices.py
  tests/filter_layered_data_test.py
Due: pylint, mypy-code, mypy-tests

fix final style issue
  src/ansys/dpf/composites/select_indices.py
Due: pylint, mypy-code

use the official EXAMPLE_REPO URL
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/select_indices.py
  tests/filter_layered_data_test.py
Due: pylint, mypy-code, mypy-tests

better comment the new unit test
  tests/filter_layered_data_test.py
Due: mypy-tests

cosmetic change
  src/ansys/dpf/composites/select_indices.py
Due: pylint, mypy-code

cosmetic changes
  examples/018_get_strain_energy_example.py
  src/ansys/dpf/composites/example_helper/__init__.py
  tox.ini
Due: pylint, mypy-code

revert an accidental change.
  tox.ini
Due: none

cosmetic changes
  examples/018_get_strain_energy_example.py
  src/ansys/dpf/composites/example_helper/__init__.py
Due: pylint, mypy-code

implement remarks from code review.
  examples/018_get_strain_energy_example.py
  src/ansys/dpf/composites/select_indices.py
  tests/filter_layered_data_test.py
Due: pylint, mypy-code, mypy-tests

Fix code style issue
  src/ansys/dpf/composites/select_indices.py
Due: pylint, mypy-code

cosmetic changes
  examples/018_get_strain_energy_example.py
  src/ansys/dpf/composites/select_indices.py
  tests/filter_layered_data_test.py
Due: pylint, mypy-code, mypy-tests
