Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Update src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Add missing import from typing
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Add composite model
  doc/source/api/base.rst
  doc/source/api/composite_model.rst
  doc/source/api/index.rst
  doc/source/api/layup_information.rst
  examples/failure_operator_example.py
  examples/filter_composite_data_example.py
  examples/get_layup_properties_example.py
  examples/get_material_properties_example.py
  examples/sampling_point_example.py
  examples/sampling_point_operator_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/composite_data_sources.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/material_properties.py
  src/ansys/dpf/composites/material_setup.py
  tests/composite_model_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

use sphinx-design (tails) to better organize the documentation
  README.rst
  doc/source/developers_guide.rst
  doc/source/index.rst
  doc/source/intro.rst
Due: none

Fix includes and pass server to composite model
  examples/failure_operator_example.py
  examples/filter_composite_data_example.py
  examples/get_layup_properties_example.py
  examples/get_material_properties_example.py
  examples/sampling_point_example.py
  examples/sampling_point_operator_example.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/enums.py
  tests/composite_model_test.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Use correct import for numpy types
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

Use last time step instead of a hardcoded value
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

DOC: add development documentation
  dev/_sources/examples/gallery_examples/basic_example.rst.txt
  dev/_sources/examples/gallery_examples/failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/short_fiber_example.rst.txt
  dev/examples/gallery_examples/basic_example.html
  dev/examples/gallery_examples/failure_operator_example.html
  dev/examples/gallery_examples/filter_composite_data_example.html
  dev/examples/gallery_examples/get_layup_properties_example.html
  dev/examples/gallery_examples/get_material_properties_example.html
  dev/examples/gallery_examples/interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/sampling_point_example.html
  dev/examples/gallery_examples/sampling_point_operator_example.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/short_fiber_example.html
  dev/searchindex.js
Due: none

Implement remarks from PR review
  tests/sampling_point_test.py
Due: mypy-tests

Do bounds checks for negative indices
  src/ansys/dpf/composites/indexer.py
Due: mypy-code

Add interlaminar normal stress function in composite_model and use it in example
  examples/interlaminar_normal_stress_example.py
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

Implement PR comments
  examples/get_layup_properties_example.py
  src/ansys/dpf/composites/composite_data_sources.py
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/layup_info.py
  tests/composite_model_test.py
Due: mypy-code, mypy-tests

Fix tests
  src/ansys/dpf/composites/composite_model.py
  tests/composite_model_test.py
Due: mypy-code, mypy-tests

add bullet list Key Features to the landing page (incomplete)
  README.rst
  doc/source/index.rst
  examples/failure_operator_example.py
Due: mypy-code

fix documentation build step on Linux
  doc/source/developers_guide.rst
Due: none

Jvonrick/composites model (#45)
  doc/source/api/base.rst
  doc/source/api/composite_model.rst
  doc/source/api/index.rst
  doc/source/api/layup_information.rst
  examples/failure_operator_example.py
  examples/filter_composite_data_example.py
  examples/get_layup_properties_example.py
  examples/get_material_properties_example.py
  examples/interlaminar_normal_stress_example.py
  examples/sampling_point_example.py
  examples/sampling_point_operator_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/composite_data_sources.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/indexer.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/material_properties.py
  src/ansys/dpf/composites/material_setup.py
  tests/composite_model_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Initial version (does not support multiple scopes)
  examples/assembly_example.py
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/composite_data_sources.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/material_properties.py
  src/ansys/dpf/composites/select_indices.py
  tests/composite_model_test.py
  tests/data/assembly/ACPCompositeDefinitions.h5
  tests/data/assembly/ACPCompositeDefinitions.mapping
  tests/data/assembly/ACPSolidModel_SM.h5
  tests/data/assembly/ACPSolidModel_SM.mapping
  tests/data/assembly/README.txt
  tests/data/assembly/file.rst
  tests/data/assembly/material.engd
Due: mypy-code, mypy-tests

Prepare support for multiple scopes
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/composite_data_sources.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  tests/composite_model_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/result_definition_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Used multiple composite definitons for a single composite model
  examples/assembly_example.py
  examples/basic_example.py
  examples/filter_composite_data_example.py
  examples/get_material_properties_example.py
  examples/interlaminar_normal_stress_example.py
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/composite_data_sources.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  tests/composite_model_test.py
  tests/helper.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

Use single mapping files
  examples/assembly_example.py
  examples/basic_example.py
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/composite_data_sources.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/result_definition.py
  tests/composite_model_test.py
  tests/helper.py
  tests/result_definition_test.py
Due: mypy-code, mypy-tests

reformat README.rst
  README.rst
Due: none

Reactivate performance tests Improve docs
  examples/assembly_example.py
  src/ansys/dpf/composites/composite_model.py
  tests/performance_test.py
Due: mypy-code, mypy-tests

Split layup operators and material operators
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/composite_model.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/performance_test.py
Due: mypy-code, mypy-tests
