Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Fix import
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

Documentation fixes
  doc/source/api/base.rst
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

Remove missing o
  examples/assembly_example.py
  src/ansys/dpf/composites/composite_data_sources.py
  src/ansys/dpf/composites/composite_model.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

DOC: add development documentation
  dev/_sources/examples/gallery_examples/basic_example.rst.txt
  dev/_sources/examples/gallery_examples/failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/short_fiber_example.rst.txt
  dev/examples/gallery_examples/basic_example.html
  dev/examples/gallery_examples/failure_operator_example.html
  dev/examples/gallery_examples/filter_composite_data_example.html
  dev/examples/gallery_examples/get_layup_properties_example.html
  dev/examples/gallery_examples/get_material_properties_example.html
  dev/examples/gallery_examples/interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/sampling_point_example.html
  dev/examples/gallery_examples/sampling_point_operator_example.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/short_fiber_example.html
  dev/searchindex.js
Due: none

Fix ResultDefinitionScope comments
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

Add dummy workbench folder structure
  tests/data/workflow_example/CAERep.xml
  tests/data/workflow_example/CAERepOutput.xml
  tests/data/workflow_example/MatML.xml
  tests/data/workflow_example/Model 4/ACP-Pre-2.copy.mapping
  tests/data/workflow_example/Model 4/ACP-Pre-2.engd
  tests/data/workflow_example/Readme
  tests/data/workflow_example/Setup 3/ACP-Pre.acph5
  tests/data/workflow_example/Setup 3/ACPSolidModel_SM.acmo
  tests/data/workflow_example/Setup 3/ACPSolidModel_SM.h5
  tests/data/workflow_example/Setup 3/ACPSolidModel_SM.mapping
  tests/data/workflow_example/Setup 3/ACPSolidModel_SM.pmdb
  tests/data/workflow_example/Setup 3/material.engd
  tests/data/workflow_example/Setup 4/ACP-Pre.acph5
  tests/data/workflow_example/Setup 4/ACPCompositeDefinitions.h5
  tests/data/workflow_example/Setup 4/ACPCompositeDefinitions.mapping
  tests/data/workflow_example/ds.dat
  tests/data/workflow_example/file.DSP
  tests/data/workflow_example/file.aapresults
  tests/data/workflow_example/file.cnd
  tests/data/workflow_example/file.mntr
  tests/data/workflow_example/file.rst
  tests/data/workflow_example/file0.err
  tests/data/workflow_example/result_definition.json
  tests/data/workflow_example/solve.out
Due: none

get composite files from workbench folder structure
  src/ansys/dpf/composites/composite_data_sources.py
  tests/composite_model_test.py
  tests/test_data_sources.py
Due: mypy-code, mypy-tests

Remove missing o
  src/ansys/dpf/composites/composite_data_sources.py
Due: mypy-code

Support assemblies (#47)
  doc/source/api/base.rst
  examples/assembly_example.py
  examples/basic_example.py
  examples/filter_composite_data_example.py
  examples/get_material_properties_example.py
  examples/interlaminar_normal_stress_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/composite_data_sources.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/material_properties.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/select_indices.py
  tests/composite_model_test.py
  tests/data/assembly/ACPCompositeDefinitions.h5
  tests/data/assembly/ACPCompositeDefinitions.mapping
  tests/data/assembly/ACPSolidModel_SM.h5
  tests/data/assembly/ACPSolidModel_SM.mapping
  tests/data/assembly/README.txt
  tests/data/assembly/file.rst
  tests/data/assembly/material.engd
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/result_definition_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Add get_composite_files_from_result_folder to documentation
  doc/source/api/base.rst
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/composite_data_sources.py
Due: mypy-code

Enable examples to run locally.
  .github/workflows/ci_cd.yml
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/load_plugin.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Implement PR comments
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/composite_data_sources.py
  tests/composite_model_test.py
  tests/test_data_sources.py
Due: mypy-code, mypy-tests

Undo addition of .copy.mapping files
  src/ansys/dpf/composites/composite_data_sources.py
Due: mypy-code

Pass env variable
  tox.ini
Due: none

Fix doc imports
  doc/source/api/base.rst
Due: none

Improve documentation
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/load_plugin.py
Due: mypy-code

Improve docs and allow ip to be set
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

Load the native plugins because that is needed in the docker case
  src/ansys/dpf/composites/load_plugin.py
Due: mypy-code

Fix typo
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

Moved server starting and connecting helpers to separate file. Throw more specific error in _try_until_timeout
  src/ansys/dpf/composites/connect_to_or_start_server.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Fix example imports
  examples/assembly_example.py
  examples/basic_example.py
  examples/failure_operator_example.py
  examples/filter_composite_data_example.py
  examples/get_layup_properties_example.py
  examples/get_material_properties_example.py
  examples/interlaminar_normal_stress_example.py
  examples/sampling_point_example.py
  examples/sampling_point_operator_example.py
  examples/short_fiber_example.py
Due: mypy-code

Fix pyproject toml so all the required packages get installed
  pyproject.toml
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

Improve model creation from workbench (#50)
  doc/source/api/base.rst
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/composite_data_sources.py
  tests/composite_model_test.py
  tests/data/workflow_example/CAERep.xml
  tests/data/workflow_example/CAERepOutput.xml
  tests/data/workflow_example/MatML.xml
  tests/data/workflow_example/Model 4/ACP-Pre-2.copy.mapping
  tests/data/workflow_example/Model 4/ACP-Pre-2.engd
  tests/data/workflow_example/Readme
  tests/data/workflow_example/Setup 3/ACP-Pre.acph5
  tests/data/workflow_example/Setup 3/ACPSolidModel_SM.acmo
  tests/data/workflow_example/Setup 3/ACPSolidModel_SM.h5
  tests/data/workflow_example/Setup 3/ACPSolidModel_SM.mapping
  tests/data/workflow_example/Setup 3/ACPSolidModel_SM.pmdb
  tests/data/workflow_example/Setup 3/material.engd
  tests/data/workflow_example/Setup 4/ACP-Pre.acph5
  tests/data/workflow_example/Setup 4/ACPCompositeDefinitions.h5
  tests/data/workflow_example/Setup 4/ACPCompositeDefinitions.mapping
  tests/data/workflow_example/ds.dat
  tests/data/workflow_example/file.DSP
  tests/data/workflow_example/file.aapresults
  tests/data/workflow_example/file.cnd
  tests/data/workflow_example/file.mntr
  tests/data/workflow_example/file.rst
  tests/data/workflow_example/file0.err
  tests/data/workflow_example/result_definition.json
  tests/data/workflow_example/solve.out
  tests/test_data_sources.py
Due: mypy-code, mypy-tests

Make matplotlib and vtk required dependencies and update poetry lockfile
  poetry.lock
  pyproject.toml
Due: none

Add upper bound for numpy because of dpf core
  poetry.lock
  pyproject.toml
Due: none

start dpf server if no docker container (#51)
  .github/workflows/ci_cd.yml
  examples/assembly_example.py
  examples/basic_example.py
  examples/failure_operator_example.py
  examples/filter_composite_data_example.py
  examples/get_layup_properties_example.py
  examples/get_material_properties_example.py
  examples/interlaminar_normal_stress_example.py
  examples/sampling_point_example.py
  examples/sampling_point_operator_example.py
  examples/short_fiber_example.py
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/connect_to_or_start_server.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  src/ansys/dpf/composites/load_plugin.py
  tests/conftest.py
  tox.ini
Due: mypy-code, mypy-tests

DOC: add development documentation
  dev/_sources/examples/gallery_examples/assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/basic_example.rst.txt
  dev/_sources/examples/gallery_examples/failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/short_fiber_example.rst.txt
  dev/developers_guide.html
  dev/examples/gallery_examples/assembly_example.html
  dev/examples/gallery_examples/basic_example.html
  dev/examples/gallery_examples/failure_operator_example.html
  dev/examples/gallery_examples/filter_composite_data_example.html
  dev/examples/gallery_examples/get_layup_properties_example.html
  dev/examples/gallery_examples/get_material_properties_example.html
  dev/examples/gallery_examples/interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/sampling_point_example.html
  dev/examples/gallery_examples/sampling_point_operator_example.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/short_fiber_example.html
  dev/searchindex.js
Due: none

Make pyvista required
  pyproject.toml
Due: none

remove numpy from optional extras because it is non-optional
  pyproject.toml
Due: none

Add missing dependency (#53)
  pyproject.toml
Due: none

DOC: add development documentation
  dev/_sources/examples/gallery_examples/assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/basic_example.rst.txt
  dev/_sources/examples/gallery_examples/failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/short_fiber_example.rst.txt
  dev/examples/gallery_examples/assembly_example.html
  dev/examples/gallery_examples/basic_example.html
  dev/examples/gallery_examples/failure_operator_example.html
  dev/examples/gallery_examples/filter_composite_data_example.html
  dev/examples/gallery_examples/get_layup_properties_example.html
  dev/examples/gallery_examples/get_material_properties_example.html
  dev/examples/gallery_examples/interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/sampling_point_example.html
  dev/examples/gallery_examples/sampling_point_operator_example.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/short_fiber_example.html
  dev/searchindex.js
Due: none
