Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

poetry-pyproject-consistency:
  name: 'poetry: check pyproject.toml consistency'
  entry: poetry
  language: system
  args:
  - check
  pass_filenames: false

poetry-lockfile-consistency:
  name: 'poetry: check lockfile consistency'
  entry: poetry
  language: system
  args:
  - lock
  - --check
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

implement material_metadata instead of ply_type
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/_composite_model_impl_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  tests/composite_model_test.py
Due: pylint, mypy-code, mypy-tests

solver material ids are not always available
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/layup_info/material_properties.py
Due: pylint, mypy-code

Update src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl.py
Due: pylint, mypy-code

fix unit test
  src/ansys/dpf/composites/layup_info/material_properties.py
  tests/composite_model_test.py
Due: pylint, mypy-code, mypy-tests

cosmetic change
  tests/composite_model_test.py
Due: mypy-tests

fix unit test and documentation
  doc/source/api/layup_info.rst
  src/ansys/dpf/composites/layup_info/material_properties.py
  tests/composite_model_test.py
Due: pylint, mypy-code, mypy-tests

use None instead of 0 and undefined. cosmetic changes
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  tests/composite_model_test.py
Due: pylint, mypy-code, mypy-tests

update doc string of material_names and material_metadata
  src/ansys/dpf/composites/composite_model.py
Due: pylint, mypy-code

Provide access to the ply type parameter of the materials (#465)
  doc/source/api/layup_info.rst
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/_composite_model_impl_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_test.py
Due: pylint, mypy-code, mypy-tests

Fix bug while processing analysis plies of imported solid models.
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/composite_model_test.py
  tests/data/assemby_imported_solid_model/MatML.xml
  tests/data/assemby_imported_solid_model/Setup 2/ACPCompositeDefinitions.h5
  tests/data/assemby_imported_solid_model/Setup 2/ACPCompositeDefinitions.mapping
  tests/data/assemby_imported_solid_model/Setup 3/ACPSolidModel_ImportedSolidModel 1.h5
  tests/data/assemby_imported_solid_model/Setup 3/ACPSolidModel_ImportedSolidModel 1.mapping
  tests/data/assemby_imported_solid_model/Setup/ACPSolidModel_SolidModel.1.h5
  tests/data/assemby_imported_solid_model/Setup/ACPSolidModel_SolidModel.1.mapping
  tests/data/assemby_imported_solid_model/file.rst
  tests/data/assemby_imported_solid_model/solid_on_ref_surface_plot_assembly.wbpz
Due: pylint, mypy-code, mypy-tests

cosmetic change
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: pylint, mypy-code

improve test
  tests/composite_model_test.py
Due: mypy-tests

update input files
  examples/010_harmonic_example.py
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
  tests/data/assemby_imported_solid_model/MatML.xml
  tests/data/assemby_imported_solid_model/Setup 2/ACPCompositeDefinitions.h5
  tests/data/assemby_imported_solid_model/Setup 2/ACPCompositeDefinitions.mapping
  tests/data/assemby_imported_solid_model/Setup 3/ACPSolidModel_ImportedSolidModel 1.h5
  tests/data/assemby_imported_solid_model/Setup 3/ACPSolidModel_ImportedSolidModel 1.mapping
  tests/data/assemby_imported_solid_model/Setup/ACPSolidModel_SolidModel.1.h5
  tests/data/assemby_imported_solid_model/Setup/ACPSolidModel_SolidModel.1.mapping
  tests/data/assemby_imported_solid_model/file.rst
  tests/data/assemby_imported_solid_model/solid_on_ref_surface_plot_assembly.wbpz
Due: mypy-tests

run style checks
  examples/010_harmonic_example.py
  tests/composite_model_scoping_test.py
Due: mypy-tests

skip new tests for old versions of the server
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
  tests/data/assembly_imported_solid_model/MatML.xml
  tests/data/assembly_imported_solid_model/Setup 2/ACPCompositeDefinitions.h5
  tests/data/assembly_imported_solid_model/Setup 2/ACPCompositeDefinitions.mapping
  tests/data/assembly_imported_solid_model/Setup 3/ACPSolidModel_ImportedSolidModel 1.h5
  tests/data/assembly_imported_solid_model/Setup 3/ACPSolidModel_ImportedSolidModel 1.mapping
  tests/data/assembly_imported_solid_model/Setup/ACPSolidModel_SolidModel.1.h5
  tests/data/assembly_imported_solid_model/Setup/ACPSolidModel_SolidModel.1.mapping
  tests/data/assembly_imported_solid_model/file.rst
  tests/data/assembly_imported_solid_model/solid_on_ref_surface_plot_assembly.wbpz
Due: pylint, mypy-code, mypy-tests

apply style checks
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
Due: mypy-tests

update tests
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
Due: mypy-tests

fix new unit tests for old versions of the dpf server
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
Due: mypy-tests

Update src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: pylint, mypy-code

improve test descriptions and fix unit test
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
Due: mypy-tests

run style checks
  tests/composite_model_test.py
Due: mypy-tests

fix typo
  tests/composite_model_test.py
Due: mypy-tests

fix docu.
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: pylint, mypy-code

update unit test
  tests/composite_model_test.py
Due: mypy-tests

Fix bug while processing ACP's imported solid models (#469)
  examples/010_harmonic_example.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
  tests/data/assembly_imported_solid_model/MatML.xml
  tests/data/assembly_imported_solid_model/Setup 2/ACPCompositeDefinitions.h5
  tests/data/assembly_imported_solid_model/Setup 2/ACPCompositeDefinitions.mapping
  tests/data/assembly_imported_solid_model/Setup 3/ACPSolidModel_ImportedSolidModel 1.h5
  tests/data/assembly_imported_solid_model/Setup 3/ACPSolidModel_ImportedSolidModel 1.mapping
  tests/data/assembly_imported_solid_model/Setup/ACPSolidModel_SolidModel.1.h5
  tests/data/assembly_imported_solid_model/Setup/ACPSolidModel_SolidModel.1.mapping
  tests/data/assembly_imported_solid_model/file.rst
  tests/data/assembly_imported_solid_model/solid_on_ref_surface_plot_assembly.wbpz
Due: pylint, mypy-code, mypy-tests

Path conditions:
  poetry-pyproject-consistency: any of: ^pyproject\.toml$
  poetry-lockfile-consistency: any of: ^(pyproject\.toml|poetry\.lock)$
  pylint: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-tests: any of: ^(tests/) and \.py$
