Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Use dpf_composites:customer_portal container: debug tests
  tests/conftest.py
Due: mypy-tests

run pre-commit hooks and fix Test with lower-bound dependency versions
  .github/workflows/ci_cd.yml
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  tests/conftest.py
  tox.ini
Due: mypy-code, mypy-tests

fix documentation build
  .github/workflows/ci_cd.yml
  README.rst
  src/ansys/dpf/composites/server_helpers/__init__.py
  tests/conftest.py
Due: mypy-code, mypy-tests

disable upload of server output
  .github/workflows/ci_cd.yml
  tests/conftest.py
Due: mypy-tests

check if env HOME is needed for dpf
  .github/workflows/ci_cd.yml
Due: none

check if env HOME is needed for dpf
  .github/workflows/ci_cd.yml
  README.rst
Due: none

Improve load_composites_plugin
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

Draft new sf example
  examples/9_short_fiber_orientation_tensor.py
Due: mypy-code

pre-commit checks
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

switch to dpf_composites:latest
  .github/workflows/ci_cd.yml
  tests/conftest.py
Due: mypy-tests

Update tests/conftest.py
  tests/conftest.py
Due: mypy-tests

Set env vars for licensing (#230)
  .github/workflows/ci_cd.yml
  README.rst
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  tests/conftest.py
  tox.ini
Due: mypy-code, mypy-tests

Use new keyopt provider (#226)
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: mypy-code

DOC: update development documentation 77122f2b5867e9ca99c88d5bc0acdd3872bef8fa
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/api/_autosummary/ansys.dpf.composites.layup_info.material_properties.get_constant_property.html
  version/dev/api/_autosummary/ansys.dpf.composites.layup_info.material_properties.get_constant_property_dict.html
  version/dev/api/_autosummary/ansys.dpf.composites.server_helpers.load_composites_plugin.html
  version/dev/contribute.html
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Fix matrix multiplication
  examples/9_short_fiber_orientation_tensor.py
Due: mypy-code

Update description
  examples/9_short_fiber_orientation_tensor.py
Due: mypy-code

DOC: update development documentation 77122f2b5867e9ca99c88d5bc0acdd3872bef8fa
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Micro update
  examples/9_short_fiber_orientation_tensor.py
Due: mypy-code

Improve model creation
  examples/3_short_fiber_example.py
  examples/9_short_fiber_orientation_tensor.py
Due: mypy-code

DOC: update development documentation 82789a15e3a8499e6416416498c9ef580325037f
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Bump version to 0.2.0
  pyproject.toml
Due: none

Bump version to 0.2b1
  pyproject.toml
Due: none

Fix package version test
  tests/test_metadata.py
Due: mypy-tests

Fix package version test (#238)
  tests/test_metadata.py
Due: mypy-tests

Remove the poetry workaround for sphinx theme installation
  .github/workflows/ci_cd.yml
  README.rst
Due: none

DOC: update development documentation d44991558dc874e49dc66cb96ad438607c2d6f2e
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Remove the poetry workaround for sphinx theme installation (#241)
  .github/workflows/ci_cd.yml
  README.rst
Due: none

DOC: update development documentation 2e16835a1b89e058e3c424026f02aefe4aa9f2a5
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/contribute.html
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Add scipy as doc dependency
  poetry.lock
  pyproject.toml
Due: none

Update doc and deps
  examples/9_short_fiber_orientation_tensor.py
  poetry.lock
  pyproject.toml
Due: mypy-code

Adjust scipy ver for python 3.11
  poetry.lock
  pyproject.toml
Due: none

Update dpf core version
  poetry.lock
  pyproject.toml
Due: none

Update dpf core version (#243)
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
