Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Specify minimum poetry version Fix version number of container in dev docs
  .github/workflows/ci_cd.yml
  README.rst
Due: none

Remove unnecessary installs
  .github/workflows/ci_cd.yml
Due: none

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/developers_guide.html
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

remove comment and better document how to specify the time step.
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

Add empty line to properly render list
  examples/3_short_fiber_example.py
Due: mypy-code

Add test with min requirements (#124)
  .github/workflows/ci_cd.yml
  README.rst
  minimum_requirements.txt
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/select_indices.py
  tox.ini
Due: mypy-code

DOC: add development documentation
  dev/_downloads/69acae2b746b2763a8d711f6de4d0393/3_short_fiber_example.ipynb
  dev/_downloads/e79424f559efb4dcca51af7a09973e19/3_short_fiber_example.py
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/developers_guide.html
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: mypy-code

address comments from the PR review
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

Revert enum attributes to uppercase
  doc/source/_templates/autosummary/class.rst
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/layup_info/_enums.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  tests/composite_model_test.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/getting_started_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Fix short fiber example doc (#131)
  examples/3_short_fiber_example.py
Due: mypy-code

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/api/_autosummary/ansys.dpf.composites.composite_model.CompositeModel.evaluate_failure_criteria.html
  dev/api/_autosummary/ansys.dpf.composites.composite_model.CompositeScope.html
  dev/api/_autosummary/ansys.dpf.composites.result_definition.ResultDefinition.time.html
  dev/developers_guide.html
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

Fix use of FailureOutput.FAILURE_VALUE
  doc/source/intro.rst
  examples/3_short_fiber_example.py
Due: mypy-code

Revert renaming enum attributes to lowercase (#128)
  doc/source/_templates/autosummary/class.rst
  doc/source/intro.rst
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/3_short_fiber_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/layup_info/_enums.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  tests/composite_model_test.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/getting_started_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Use 'PyDPF Composites' as HTML title
  doc/source/conf.py
Due: none

Improve CSS override
  doc/source/_static/pydpf_composite.css
Due: none

Increase maximum container width to 1600px
  doc/source/_static/pydpf_composite.css
Due: none

Use only class name as API reference title
  doc/source/_static/pydpf_composite.css
  doc/source/_templates/autosummary/class.rst
Due: none

Re-enable 'add_module_names' option, remove 'Import as ...'
  doc/source/_templates/autosummary/class.rst
  doc/source/conf.py
Due: none

Remove the 'testing session' section from docs
  doc/source/intro.rst
Due: none

Use 'PyDPF Composites' as HTML title (#133)
  doc/source/conf.py
Due: none

Use only class name as API reference title (#132)
  doc/source/_static/pydpf_composite.css
  doc/source/_templates/autosummary/class.rst
  doc/source/conf.py
Due: none

Add documentation for failure criteria init functions
  src/ansys/dpf/composites/failure_criteria/_core_failure.py
  src/ansys/dpf/composites/failure_criteria/_cuntze.py
  src/ansys/dpf/composites/failure_criteria/_face_sheet_wrinkling.py
  src/ansys/dpf/composites/failure_criteria/_hashin.py
  src/ansys/dpf/composites/failure_criteria/_hoffman.py
  src/ansys/dpf/composites/failure_criteria/_larc.py
  src/ansys/dpf/composites/failure_criteria/_max_strain.py
  src/ansys/dpf/composites/failure_criteria/_max_stress.py
  src/ansys/dpf/composites/failure_criteria/_puck.py
  src/ansys/dpf/composites/failure_criteria/_quadratic_failure_criterion.py
  src/ansys/dpf/composites/failure_criteria/_shear_crimping.py
  src/ansys/dpf/composites/failure_criteria/_tsai_hill.py
  src/ansys/dpf/composites/failure_criteria/_tsai_wu.py
  src/ansys/dpf/composites/failure_criteria/_von_mises.py
Due: mypy-code

use FailureMeasure in SamplingPoint where possible
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Improve Puck docstrings
  src/ansys/dpf/composites/failure_criteria/_puck.py
Due: mypy-code

fix coding error
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Implement FailureMeasure as str-Enum
  src/ansys/dpf/composites/result_definition.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Enable nitpicky mode for sphinx, fix broken links
  doc/source/api/composite_model.rst
  doc/source/api/constants.rst
  doc/source/api/data_sources.rst
  doc/source/api/failure_criteria.rst
  doc/source/api/index.rst
  doc/source/api/layup_info.rst
  doc/source/api/result_definition.rst
  doc/source/api/sampling_point.rst
  doc/source/api/select_indices.rst
  doc/source/api/server_helpers.rst
  doc/source/conf.py
  doc/source/intro.rst
  examples/2_sampling_point_example.py
  examples/5_get_layup_properties_example.py
  examples/8_assembly_example.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/failure_criteria/_combined_failure_criterion.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  tox.ini
Due: mypy-code

Fix capitalization in docstrings
  README.rst
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
Due: mypy-code

fix some includes
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

fix unit tests
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Make MaterialProperty StrEnum
  src/ansys/dpf/composites/layup_info/material_properties.py
Due: mypy-code

Pre-commit checks
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

cosmetic change
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Fix capitalization in docstrings (#139)
  README.rst
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
Due: mypy-code

Enable nitpicky mode for sphinx, fix broken links (#138)
  doc/source/api/composite_model.rst
  doc/source/api/constants.rst
  doc/source/api/data_sources.rst
  doc/source/api/failure_criteria.rst
  doc/source/api/index.rst
  doc/source/api/layup_info.rst
  doc/source/api/result_definition.rst
  doc/source/api/sampling_point.rst
  doc/source/api/select_indices.rst
  doc/source/api/server_helpers.rst
  doc/source/conf.py
  doc/source/intro.rst
  examples/2_sampling_point_example.py
  examples/5_get_layup_properties_example.py
  examples/8_assembly_example.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/failure_criteria/_combined_failure_criterion.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  tox.ini
Due: mypy-code
