Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

add examples and plain text documentation for pyconv DB
  pyconv/documentation_plain_text.txt
  pyconv/examples/001_failure_operator_example.py
  pyconv/examples/002_sampling_point_example.py
  pyconv/examples/004_get_material_properties_example.py
  pyconv/examples/005_get_layup_properties_example.py
  pyconv/examples/006_filter_composite_data_example.py
  pyconv/examples/007_interlaminar_normal_stress_example.py
  pyconv/examples/008_assembly_example.py
  pyconv/examples/010_harmonic_example.py
  pyconv/examples/011_rst_workflow.py
  pyconv/examples/pyconv_example_basic_example.py
  pyconv/examples/pyconv_example_material_names.py
  pyconv/inspect_module.py
Due: mypy-code

refine plain text documentation
  pyconv/documentation/ansys.dpf.composites.txt
  pyconv/documentation/composite_model.txt
  pyconv/documentation/composite_scope.txt
  pyconv/documentation/constants.txt
  pyconv/documentation/data_sources.txt
  pyconv/documentation/failure_criteria.txt
  pyconv/documentation/layup_info.txt
  pyconv/documentation/result_definition.txt
  pyconv/documentation/sampling_point.txt
  pyconv/documentation/select_indices.txt
  pyconv/documentation/server_helpers.txt
  pyconv/documentation_plain_text.txt
  pyconv/inspect_module.py
Due: mypy-code

Fix title in documentation
  doc/source/api/ply_wise_data.rst
Due: none

Fix include
  tests/ply_wise_data_test.py
Due: mypy-tests

Update src/ansys/dpf/composites/ply_wise_data.py
  src/ansys/dpf/composites/ply_wise_data.py
Due: mypy-code

Update filtering example
  examples/006_filter_composite_data_example.py
Due: mypy-code

Remove port specification
  examples/006_filter_composite_data_example.py
Due: mypy-code

Assign correct location
  src/ansys/dpf/composites/ply_wise_data.py
Due: mypy-code

Add version checks in example
  examples/006_filter_composite_data_example.py
Due: mypy-code
