Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Apply server context
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/example_helper/example_helper.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Apply license context before loading the plugin
  tests/conftest.py
Due: mypy-tests

Consume docker container for release and downgrade python version
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: mypy-tests

Remove license check for example
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

add allowlist for poetry for each tox environment
  tox.ini
Due: none

Add xvfb to allowlist
  tox.ini
Due: none

Fix readme
  README.rst
Due: none

Use release container version
  .github/workflows/ci_cd.yml
Due: none

Check properies are constant
  src/ansys/dpf/composites/material_properties.py
  tests/helper.py
Due: mypy-code, mypy-tests

Use enums for material properties
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/material_properties.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

Add additional tests
  src/ansys/dpf/composites/layup_info.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

Add docs
  doc/source/api/index.rst
  doc/source/api/material_properties.rst
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/material_properties.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

Add INS example
  examples/interlaminar_normal_stress_example.py
Due: mypy-code

Use ansys version variable
  .github/workflows/ci_cd.yml
Due: none

Use correct env variable
  .github/workflows/ci_cd.yml
Due: none

Use 231 container (#37)
  .github/workflows/ci_cd.yml
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/example_helper/example_helper.py
  tests/conftest.py
  tox.ini
Due: mypy-code, mypy-tests

Deploying to gh-pages from @ pyansys/pydpf-composites@545623b724e2c3316e808795e4448860644db05d 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  _sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/filter_composite_data_example.html
  examples/gallery_examples/get_layup_properties_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

Get rid of FieldInfo Add MaterialId Add example for material properties
  examples/get_material_properties_example.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/material.py
  src/ansys/dpf/composites/material_properties.py
  src/ansys/dpf/composites/select_indices.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/helper.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

Improve names of material properties
  doc/source/api/material_properties.rst
  examples/get_material_properties_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/enums.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

Try to build docs with python 3.10
  .github/workflows/ci_cd.yml
Due: none

Upgrade python in tox file
  tox.ini
Due: none

Use alias instead of NewType so the documentation looks ok.
  src/ansys/dpf/composites/material.py
Due: mypy-code

Downgrade to 3.9
  .github/workflows/ci_cd.yml
  tox.ini
Due: none

Remove MaterialId type
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/material.py
  src/ansys/dpf/composites/material_properties.py
  src/ansys/dpf/composites/select_indices.py
  tests/filter_layered_data_test.py
Due: mypy-code, mypy-tests

Documentation fixes
  doc/source/api/layup_information.rst
  doc/source/api/material_properties.rst
  doc/source/api/select_indices.rst
  examples/filter_composite_data_example.py
  examples/get_material_properties_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/material_properties.py
  src/ansys/dpf/composites/select_indices.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/material_properties_test.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Add performance test for property evaluation. Add the possibility to evaluate multiple properties at once, because the most expensive part is to determine which material ids exists in the setup.
  examples/get_material_properties_example.py
  src/ansys/dpf/composites/material_properties.py
  tests/material_properties_test.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Add reference to Ansys documentation
  doc/source/api/index.rst
Due: none

Deploying to gh-pages from @ pyansys/pydpf-composites@545623b724e2c3316e808795e4448860644db05d 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  _sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  api/_autosummary/ansys.dpf.composites.AnalysisPlyInfoProvider.html
  api/_autosummary/ansys.dpf.composites.ElementInfoProvider.html
  api/_autosummary/ansys.dpf.composites.LayupPropertiesProvider.html
  api/_autosummary/ansys.dpf.composites.get_element_info_provider.html
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/filter_composite_data_example.html
  examples/gallery_examples/get_layup_properties_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

Minor documentation improvements
  examples/get_material_properties_example.py
  src/ansys/dpf/composites/material_properties.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

Better interface for material properties (#38)
  doc/source/api/index.rst
  doc/source/api/layup_information.rst
  doc/source/api/material_properties.rst
  doc/source/api/select_indices.rst
  examples/filter_composite_data_example.py
  examples/get_material_properties_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/material_properties.py
  src/ansys/dpf/composites/select_indices.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/helper.py
  tests/material_properties_test.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

pre-commit style checks
  examples/interlaminar_normal_stress_example.py
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

add debug output
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

Deploying to gh-pages from @ pyansys/pydpf-composites@e23038419693dc75f9752f3562f9551fb3be4413 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  _sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  _sources/examples/gallery_examples/get_material_properties_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/filter_composite_data_example.html
  examples/gallery_examples/get_layup_properties_example.html
  examples/gallery_examples/get_material_properties_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sampling_point_operator_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

finish ins example
  examples/interlaminar_normal_stress_example.py
  src/ansys/dpf/composites/layup_info.py
Due: mypy-code

add return type
  src/ansys/dpf/composites/layup_info.py
Due: mypy-code
