Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

poetry-pyproject-consistency:
  name: 'poetry: check pyproject.toml consistency'
  entry: poetry
  language: system
  args:
  - check
  pass_filenames: false

poetry-lockfile-consistency:
  name: 'poetry: check lockfile consistency'
  entry: poetry
  language: system
  args:
  - lock
  - --check
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

add server version check
  tests/composite_model_scoping_test.py
Due: mypy-tests

disable test which still fails.
  tests/composite_model_scoping_test.py
Due: mypy-tests

cosmetic changes
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
Due: mypy-tests

cosmetic changes
  tests/composite_model_scoping_test.py
Due: mypy-tests

Enable mesh property tests (#558)
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
  tests/rst_only_workflow_test.py
Due: mypy-tests

[WIP] finished the implementation of the sampling point plot for SolidStack. Clean up and review have not been done yet.
  doc/source/index.rst
  examples/015_solid_model.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/server_helpers/_versions.py
Due: pylint, mypy-code

[WIP] some minor bug corrections
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  tests/sampling_point_solid_stack_test.py
Due: pylint, mypy-code, mypy-tests

[WIP] sampling point with drop-off elements
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
Due: pylint, mypy-code

[WIP] support of drop-off and cut-off elements. Basics are running.
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
Due: pylint, mypy-code

[WIP] Using virtual thickness of drop-off and cut-off elements if available. Additional unit test with is still WIP.
  examples/015_solid_model.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  tests/sampling_point_solid_stack_test.py
Due: pylint, mypy-code, mypy-tests

[WIP] finish unit tests and refactoring
  examples/015_solid_model.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/solid_stack_results.py
  tests/data/solid_model/ACPSolidModel_SolidModel.1.h5
  tests/data/solid_model/file.rst
  tests/data/solid_model/material.engd
  tests/data/solid_model/small_solid_model.wbpz
  tests/helper.py
  tests/sampling_point_solid_stack_test.py
Due: pylint, mypy-code, mypy-tests

run pre-commit hook
  examples/015_solid_model.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/solid_stack_results.py
  tests/data/solid_model/ref_110.txt
  tests/data/solid_model/ref_113.txt
  tests/data/solid_model/ref_154.txt
  tests/data/solid_model/ref_219.txt
  tests/helper.py
  tests/sampling_point_solid_stack_test.py
Due: pylint, mypy-code, mypy-tests

style checks
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/solid_stack_results.py
  tests/sampling_point_solid_stack_test.py
Due: pylint, mypy-code, mypy-tests

run pre-commit hooks
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/solid_stack_results.py
  tests/sampling_point_solid_stack_test.py
Due: pylint, mypy-code, mypy-tests

style changes
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/solid_stack_results.py
Due: pylint, mypy-code

reformatting
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/solid_stack_results.py
Due: pylint, mypy-code

reformatting
  tests/sampling_point_solid_stack_test.py
Due: mypy-tests

cosmetic changes
  examples/015_solid_model.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
Due: pylint, mypy-code

minor changes
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
Due: pylint, mypy-code

implement remarks from code review
  examples/015_solid_model.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/solid_stack_results.py
Due: pylint, mypy-code

run pre-commit hooks
  examples/015_solid_model.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/solid_stack_results.py
Due: pylint, mypy-code

fix code style
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/solid_stack_results.py
Due: pylint, mypy-code

Update reference data because of swapped s/e13 and s/e23 components. Implement remarks from code review
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  tests/data/solid_model/ref_110.txt
  tests/data/solid_model/ref_113.txt
  tests/data/solid_model/ref_154.txt
  tests/data/solid_model/ref_219.txt
  tests/helper.py
Due: pylint, mypy-code, mypy-tests

Update src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
Due: pylint, mypy-code

Update src/ansys/dpf/composites/solid_stack_results.py
  src/ansys/dpf/composites/solid_stack_results.py
Due: pylint, mypy-code

improve doc
  src/ansys/dpf/composites/solid_stack_results.py
Due: pylint, mypy-code

Path conditions:
  poetry-pyproject-consistency: any of: ^pyproject\.toml$
  poetry-lockfile-consistency: any of: ^(pyproject\.toml|poetry\.lock)$
  pylint: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-tests: any of: ^(tests/) and \.py$
