Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy-code, mypy-tests

pylint:
  name: pylint
  entry: pylint
  language: system

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

cosmetic changes
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
Due: pylint, mypy-code

cosmetic change (fix too long doc string)
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
Due: pylint, mypy-code

fix style check (undefined type)
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
Due: pylint, mypy-code

update dependencies
  poetry.lock
Due: none

set DPF_DEFAULT_GRPC_MODE to insecure
  .github/workflows/ci_cd.yml
  README.rst
  tests/conftest.py
Due: mypy-tests

update documentation and test build steps
  examples/009_short_fiber_orientation_tensor.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  tests/conftest.py
  tox.ini
Due: pylint, mypy-code, mypy-tests

fix server configuration for the unit tests
  tests/conftest.py
Due: mypy-tests

[WIP] add debug output to be removed again
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
Due: pylint, mypy-code

fix docu build
  .github/workflows/ci_cd.yml
  tox.ini
Due: none

remove debug output
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
Due: pylint, mypy-code

run style checks
  tests/conftest.py
Due: mypy-tests

code review remarks
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
Due: pylint, mypy-code

Update connect_to_or_start DPF server to support different gRPC modes (#620)
  .github/workflows/ci_cd.yml
  README.rst
  examples/009_short_fiber_orientation_tensor.py
  poetry.lock
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  tests/conftest.py
  tox.ini
Due: pylint, mypy-code, mypy-tests

Update test matrix: add dpf docker image 2026 R1
  .github/workflows/ci_cd.yml
Due: none

Update test matrix: add dpf docker image 2026 R1 (#625)
  .github/workflows/ci_cd.yml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-tests: any of: ^(tests/) and \.py$
