Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Add AUTHORS and CONTRIBUTORS.md files
  AUTHORS
  CONTRIBUTORS.md
Due: none

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_sampling_point_base.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  tests/composite_model_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/sampling_point_2023r2.py
Due: mypy-code

Enable using distributed RST files for short fiber
  examples/003_short_fiber_example.py
  examples/009_short_fiber_orientation_tensor.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_2023r2.py
  src/ansys/dpf/composites/_composite_model_interface_factory.py
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/sampling_point_types.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_test.py
  tests/conftest.py
  tests/getting_started_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_2023r2.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_test.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/_composite_model_interface_factory.py
  src/ansys/dpf/composites/composite_model.py
  tests/composite_model_test.py
Due: mypy-code, mypy-tests

DOC: update development documentation bd50a37e156f8f2588b6241c5b3a8b69af55671d
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Enable using distributed RST files for short fiber (#301)
  examples/003_short_fiber_example.py
  examples/009_short_fiber_orientation_tensor.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: mypy-code

DOC: update development documentation e8a277fe8b1ed7add66c19dea2eed3c2eb77aa70
  version/dev/_downloads/0bcdfbedac49d41195123163588b6c5b/009_short_fiber_orientation_tensor.ipynb
  version/dev/_downloads/5a02b4bca892c66fa756e75abd6483c7/003_short_fiber_example.py
  version/dev/_downloads/a900f4be052a782122df72bcdb57984f/003_short_fiber_example.ipynb
  version/dev/_downloads/f7afa37a2e0689eada6f12b28988b27f/009_short_fiber_orientation_tensor.py
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/api/_autosummary/ansys.dpf.composites.data_sources.ShortFiberCompositesFiles.rst.html
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: mypy-code

Add AUTHORS and CONTRIBUTORS.md files (#300)
  AUTHORS
  CONTRIBUTORS.md
Due: none

DOC: update development documentation ebb67a27ddfe1ed6882938c01e007cb3b3399d65
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Add reruns for failing tests
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Support of assemblies with DPF server 2023 R2 and deprecation warnings.
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  tox.ini
Due: mypy-code

Apply style checks
  src/ansys/dpf/composites/_composite_model_impl.py
Due: mypy-code

Apply style checks
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

Apply style checks
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

All tests are passing except composite_model_element_scoping tests with DPF server 7.0 (2024 R1)
  examples/011_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/sampling_point.py
  tests/composite_model_test.py
Due: mypy-code, mypy-tests

remove todos
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

apply style checks
  examples/011_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/__init__.py
  tests/composite_model_test.py
Due: mypy-code, mypy-tests

apply style checks
  src/ansys/dpf/composites/_composite_model_impl.py
Due: mypy-code

revert accidental commit
  tox.ini
Due: none

update documentation
  doc/source/api/composite_model.rst
  doc/source/api/composite_scope.rst
  doc/source/api/data_sources.rst
  doc/source/api/index.rst
  doc/source/api/result_definition.rst
  examples/011_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

apply style patches
  examples/011_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

all tests are passing with the old and new DPF server
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/data_sources.py
  tests/composite_model_test.py
Due: mypy-code, mypy-tests

Prototype for solution queries
  src/ansys/dpf/composites/solution_queries.py
Due: mypy-code

Add reruns for failing tests (#302)
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Update PyVista, and mark it as optional
  poetry.lock
  pyproject.toml
Due: none

Update pyvista, and mark it as optional (#304)
  poetry.lock
  pyproject.toml
Due: none
