Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

poetry-pyproject-consistency:
  name: 'poetry: check pyproject.toml consistency'
  entry: poetry
  language: system
  args:
  - check
  pass_filenames: false

poetry-lockfile-consistency:
  name: 'poetry: check lockfile consistency'
  entry: poetry
  language: system
  args:
  - lock
  - --check
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Update examples/014_cyclic_symmetry_example.py
  examples/014_cyclic_symmetry_example.py
Due: none

document limitation about expaned cyclic symmetry models.
  doc/source/index.rst
Due: none

revised example 13 doc
  examples/013_thermal_example.py
Due: none

Removed whitespaces
  examples/013_thermal_example.py
Due: none

Update examples/013_thermal_example.py
  examples/013_thermal_example.py
Due: none

Doc/cyclic symmetry (#517)
  doc/source/index.rst
  examples/014_cyclic_symmetry_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/example_helper/__init__.py
Due: pylint, mypy-code

Doc/revised example 13 (#519)
  examples/013_thermal_example.py
Due: none

Add and document an [examples] extra requirement
  doc/source/intro.rst
  poetry.lock
  pyproject.toml
Due: poetry-pyproject-consistency, poetry-lockfile-consistency

Update doc/source/intro.rst
  doc/source/intro.rst
Due: none

Add and document an [examples] extra requirement (#525)
  doc/source/intro.rst
  poetry.lock
  pyproject.toml
Due: poetry-pyproject-consistency, poetry-lockfile-consistency

Tweak material results example heading
  examples/013_thermal_example.py
Due: none

Path conditions:
  poetry-pyproject-consistency: any of: ^pyproject\.toml$
  poetry-lockfile-consistency: any of: ^(pyproject\.toml|poetry\.lock)$
  pylint: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-tests: any of: ^(tests/) and \.py$
