Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

FIX: add release folder
  release/versions.json
Due: none

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
  index.html
Due: none

Add setuptools dependency
  poetry.lock
  pyproject.toml
Due: none

Add setuptools dependency (#194)
  poetry.lock
  pyproject.toml
Due: none

DOC: add development documentation
  dev/_images/sphx_glr_1_failure_operator_example_001.png
  dev/_images/sphx_glr_1_failure_operator_example_002.png
  dev/_images/sphx_glr_1_failure_operator_example_003.png
  dev/_images/sphx_glr_3_short_fiber_example_001.png
  dev/_images/sphx_glr_3_short_fiber_example_002.png
  dev/_images/sphx_glr_3_short_fiber_example_003.png
  dev/_images/sphx_glr_3_short_fiber_example_thumb.png
  dev/_images/sphx_glr_4_get_material_properties_example_001.png
  dev/_images/sphx_glr_6_filter_composite_data_example_001.png
  dev/_images/sphx_glr_6_filter_composite_data_example_002.png
  dev/_images/sphx_glr_6_filter_composite_data_example_003.png
  dev/_images/sphx_glr_7_interlaminar_normal_stress_example_001.png
  dev/_images/sphx_glr_7_interlaminar_normal_stress_example_002.png
  dev/_images/sphx_glr_7_interlaminar_normal_stress_example_thumb.png
  dev/_images/sphx_glr_8_assembly_example_001.png
  dev/_images/sphx_glr_8_assembly_example_thumb.png
  dev/_images/sphx_glr_dpf_composite_failure_workflow_001.png
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/api/_autosummary/ansys.dpf.composites.sampling_point.SamplingPoint.add_ply_sequence_to_plot.html
  dev/api/_autosummary/ansys.dpf.composites.sampling_point.SamplingPoint.add_results_to_plot.html
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

Use latest container
  .github/workflows/ci_cd.yml
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  tests/basic_workflow_test.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Add licensing context for example helper
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
Due: mypy-code

Try different plugin load order
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

Try to load plugin with random suffix
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

Try to load inexisting lib for testing
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

undo Try to load inexisting lib for testing
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

Add test that loads single core operator
  tests/basic_workflow_test.py
Due: mypy-tests

Upload file to server
  tests/basic_workflow_test.py
Due: mypy-tests

Explicitly pass server argument
  tests/basic_workflow_test.py
Due: mypy-tests

Explicitly specify the key
  tests/basic_workflow_test.py
Due: mypy-tests

Explicitly specify the key
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

Print path with prefix
  tests/basic_workflow_test.py
Due: mypy-tests

Print path before upload
  tests/basic_workflow_test.py
Due: mypy-tests

use separate var for server file
  tests/basic_workflow_test.py
Due: mypy-tests

Upload to specific folder
  tests/basic_workflow_test.py
Due: mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
