Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

prepend port in all cases
  tests/conftest.py
Due: mypy-tests

Relax pyvista requirement upper bound (#278)
  minimum_requirements.txt
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

DOC: update development documentation d0824413a92780ab56fe1c2cc8f69c064d46b64f
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Automatically upload file to server in CompositeModel
  doc/source/api/server_helpers.rst
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/composite_model_test.py
  tests/getting_started_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Add 2024_1_pre0 to supported directories.
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

Handle files that have already been uploaded
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: mypy-code

Fix docs of composite model
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

Add show function to show sampling point plots
  doc/source/intro.rst
  tests/getting_started_test.py
Due: mypy-tests

Document docker container from customer portal (#277)
  .github/workflows/ci_cd.yml
  .gitignore
  README.rst
  doc/source/api/server_helpers.rst
  doc/source/index.rst
  doc/source/intro.rst
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/__init__.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/composite_model_test.py
  tests/conftest.py
  tests/data/workflow_example/assembly/result_definition.json
  tests/getting_started_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
  tox.ini
Due: mypy-code, mypy-tests

Minor fixes
  src/ansys/dpf/composites/composite_model.py
  tests/performance_test.py
Due: mypy-code, mypy-tests

Bump version
  pyproject.toml
Due: none

Fix package version
  tests/test_metadata.py
Due: mypy-tests

Bump version (#285)
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

First working version
  examples/10_harmonic_example.py
Due: mypy-code

DOC: update development documentation 78bf4e10ea03e08dbe55a062998bc2eec885aadc
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Basic harmonic example
  examples/10_harmonic_example.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/failure_criteria/__init__.py
  src/ansys/dpf/composites/failure_criteria/_failure_mode_enum.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: mypy-code

Sort the examples correctly and add more comments
  doc/source/api/failure_criteria.rst
  examples/001_failure_operator_example.py
  examples/002_sampling_point_example.py
  examples/003_short_fiber_example.py
  examples/004_get_material_properties_example.py
  examples/005_get_layup_properties_example.py
  examples/006_filter_composite_data_example.py
  examples/007_interlaminar_normal_stress_example.py
  examples/008_assembly_example.py
  examples/009_short_fiber_orientation_tensor.py
  examples/010_harmonic_example.py
  examples/011_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/failure_criteria/_failure_mode_enum.py
Due: mypy-code

Fix links
  doc/source/api/layup_info.rst
  doc/source/api/select_indices.rst
  doc/source/index.rst
  doc/source/intro.rst
Due: none

Update examples/010_harmonic_example.py
  examples/010_harmonic_example.py
Due: mypy-code

Implement PR comments
  examples/010_harmonic_example.py
  src/ansys/dpf/composites/failure_criteria/_failure_mode_enum.py
Due: mypy-code
