Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

add connect_to_or_start_server to the module and fix documentation
  doc/source/api/base.rst
  doc/source/index.rst
  src/ansys/dpf/composites/__init__.py
Due: mypy-code

sort helper function in the documentation
  doc/source/api/base.rst
Due: none

add connect_to_or_start_server to __all__
  src/ansys/dpf/composites/__init__.py
Due: mypy-code

style check
  src/ansys/dpf/composites/__init__.py
Due: mypy-code

Move assembly workflow example to subfolder
  tests/composite_model_test.py
  tests/data/workflow_example/assembly/CAERep.xml
  tests/data/workflow_example/assembly/CAERepOutput.xml
  tests/data/workflow_example/assembly/MatML.xml
  tests/data/workflow_example/assembly/Model 4/ACP-Pre-2.copy.mapping
  tests/data/workflow_example/assembly/Model 4/ACP-Pre-2.engd
  tests/data/workflow_example/assembly/Readme
  tests/data/workflow_example/assembly/Setup 3/ACP-Pre.acph5
  tests/data/workflow_example/assembly/Setup 3/ACPSolidModel_SM.acmo
  tests/data/workflow_example/assembly/Setup 3/ACPSolidModel_SM.h5
  tests/data/workflow_example/assembly/Setup 3/ACPSolidModel_SM.mapping
  tests/data/workflow_example/assembly/Setup 3/ACPSolidModel_SM.pmdb
  tests/data/workflow_example/assembly/Setup 3/material.engd
  tests/data/workflow_example/assembly/Setup 4/ACP-Pre.acph5
  tests/data/workflow_example/assembly/Setup 4/ACPCompositeDefinitions.h5
  tests/data/workflow_example/assembly/Setup 4/ACPCompositeDefinitions.mapping
  tests/data/workflow_example/assembly/ds.dat
  tests/data/workflow_example/assembly/file.DSP
  tests/data/workflow_example/assembly/file.aapresults
  tests/data/workflow_example/assembly/file.cnd
  tests/data/workflow_example/assembly/file.mntr
  tests/data/workflow_example/assembly/file.rst
  tests/data/workflow_example/assembly/file0.err
  tests/data/workflow_example/assembly/result_definition.json
  tests/data/workflow_example/assembly/solve.out
Due: mypy-tests

WindowsPath cannot be converted to JSON.
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

fix von Mises
  src/ansys/dpf/composites/failure_criteria/von_mises.py
  tests/failure_criteria/von_mises_test.py
Due: mypy-code, mypy-tests

update doc string
  src/ansys/dpf/composites/failure_criteria/von_mises.py
Due: mypy-code

style checks
  tests/failure_criteria/von_mises_test.py
Due: mypy-tests

style checks
  src/ansys/dpf/composites/failure_criteria/von_mises.py
Due: mypy-code

pass mapping file to the result definition of the sampling point.
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

style check
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

DOC: add development documentation
  dev/_sources/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.eval_ins.rst.txt
  dev/_sources/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.ins.rst.txt
  dev/_sources/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.iss.rst.txt
  dev/_sources/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.rst.txt
  dev/_sources/examples/gallery_examples/assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/basic_example.rst.txt
  dev/_sources/examples/gallery_examples/failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/short_fiber_example.rst.txt
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.active.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.eval_ins.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.iss.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.name.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.to_dict.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.to_json.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.vme.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.vms.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.wf_vme.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.wf_vms.html
  dev/examples/gallery_examples/assembly_example.html
  dev/examples/gallery_examples/basic_example.html
  dev/examples/gallery_examples/failure_operator_example.html
  dev/examples/gallery_examples/filter_composite_data_example.html
  dev/examples/gallery_examples/get_layup_properties_example.html
  dev/examples/gallery_examples/get_material_properties_example.html
  dev/examples/gallery_examples/interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/sampling_point_example.html
  dev/examples/gallery_examples/sampling_point_operator_example.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/short_fiber_example.html
  dev/genindex.html
  dev/objects.inv
  dev/searchindex.js
Due: none

DOC: add development documentation
  dev/_sources/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.eval_ins.rst.txt
  dev/_sources/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.ins.rst.txt
  dev/_sources/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.iss.rst.txt
  dev/_sources/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.rst.txt
  dev/_sources/examples/gallery_examples/assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/basic_example.rst.txt
  dev/_sources/examples/gallery_examples/failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/short_fiber_example.rst.txt
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.active.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.ins.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.iss.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.name.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.to_dict.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.to_json.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.vme.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.vms.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.VonMisesCriterion.wf_vme.html
  dev/examples/gallery_examples/assembly_example.html
  dev/examples/gallery_examples/basic_example.html
  dev/examples/gallery_examples/failure_operator_example.html
  dev/examples/gallery_examples/filter_composite_data_example.html
  dev/examples/gallery_examples/get_layup_properties_example.html
  dev/examples/gallery_examples/get_material_properties_example.html
  dev/examples/gallery_examples/interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/sampling_point_example.html
  dev/examples/gallery_examples/sampling_point_operator_example.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/short_fiber_example.html
  dev/genindex.html
  dev/objects.inv
  dev/searchindex.js
Due: none

DOC: add development documentation
  dev/_sources/examples/gallery_examples/assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/basic_example.rst.txt
  dev/_sources/examples/gallery_examples/failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/sampling_point_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_sources/examples/gallery_examples/short_fiber_example.rst.txt
  dev/examples/gallery_examples/assembly_example.html
  dev/examples/gallery_examples/basic_example.html
  dev/examples/gallery_examples/failure_operator_example.html
  dev/examples/gallery_examples/filter_composite_data_example.html
  dev/examples/gallery_examples/get_layup_properties_example.html
  dev/examples/gallery_examples/get_material_properties_example.html
  dev/examples/gallery_examples/interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/sampling_point_example.html
  dev/examples/gallery_examples/sampling_point_operator_example.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/gallery_examples/short_fiber_example.html
  dev/searchindex.js
Due: none

Add getting started example and corresponding test
  doc/source/intro.rst
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/connect_to_or_start_server.py
  src/ansys/dpf/composites/result_definition.py
  tests/data/workflow_example/shell/MatML.xml
  tests/data/workflow_example/shell/Setup/ACPCompositeDefinitions.h5
  tests/data/workflow_example/shell/file.rst
  tests/getting_started_test.py
Due: mypy-code, mypy-tests

Simplify imports
  doc/source/intro.rst
  tests/getting_started_test.py
Due: mypy-tests

Remove ServerContext
  doc/source/intro.rst
  examples/assembly_example.py
  examples/basic_example.py
  examples/failure_operator_example.py
  examples/filter_composite_data_example.py
  examples/get_layup_properties_example.py
  examples/get_material_properties_example.py
  examples/interlaminar_normal_stress_example.py
  examples/sampling_point_example.py
  examples/sampling_point_operator_example.py
  examples/short_fiber_example.py
  src/ansys/dpf/composites/connect_to_or_start_server.py
  src/ansys/dpf/composites/example_helper/example_helper.py
  tests/getting_started_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/performance_test.py
Due: mypy-code, mypy-tests

Fix tests
  tests/getting_started_test.py
  tests/test_data_sources.py
Due: mypy-tests

Basic test to verify that all composite files are passed to the result definition of a sampling point.
  tests/composite_model_test.py
Due: mypy-tests

Fix getting started test
  doc/source/intro.rst
  tests/getting_started_test.py
  tests/test_data_sources.py
Due: mypy-tests

style checks
  tests/composite_model_test.py
Due: mypy-tests

Add more comments for getting started example test
  src/ansys/dpf/composites/composite_model.py
  tests/getting_started_test.py
Due: mypy-code, mypy-tests

Fix the import of Ans.Dpf.EngineeringData from the installer
  src/ansys/dpf/composites/load_plugin.py
Due: mypy-code

sort and update examples
  doc/source/api/failure_criteria.rst
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/3_short_fiber_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
  examples/dpf_sampling_point_operator.py
Due: mypy-code

remove obsolete example
  examples/dpf_sampling_point_operator.py
Due: mypy-code

minor reformatting
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/3_short_fiber_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

fix headings and resolve style violations
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
Due: mypy-code

Minor improvements
  examples/6_filter_composite_data_example.py
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

fix broken links
  doc/source/api/select_indices.rst
  doc/source/intro.rst
Due: none

Fix broken link
  doc/source/index.rst
Due: none

Add pictures to getting started an minor improvements to documentation
  doc/source/_static/boat_irf.png
  doc/source/_static/boat_sampling_point.png
  doc/source/api/base.rst
  doc/source/intro.rst
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/add_layup_info_to_mesh.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Fix another broken link
  doc/source/index.rst
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
