Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

convert rst always into a list. Users were manually setting the rst as a pure path.
  src/ansys/dpf/composites/data_sources.py
Due: mypy-code

fix styling issues.
  src/ansys/dpf/composites/data_sources.py
Due: mypy-code

improve description
  README.rst
  pyproject.toml
Due: none

implement suggestions from the code review and add unit test
  src/ansys/dpf/composites/data_sources.py
  tests/test_data_sources.py
Due: mypy-code, mypy-tests

disable type check
  src/ansys/dpf/composites/data_sources.py
Due: mypy-code

CompositeFiles: convert rst always into a list. (#347)
  README.rst
  pyproject.toml
  src/ansys/dpf/composites/data_sources.py
  tests/test_data_sources.py
Due: mypy-code, mypy-tests

Pump version to 0.3.1
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

Update the description in index.rst also.
  doc/source/index.rst
Due: none

Publish 0.3.1 (#349)
  README.rst
  doc/source/index.rst
  pyproject.toml
  src/ansys/dpf/composites/data_sources.py
  tests/test_data_sources.py
  tests/test_metadata.py
Due: mypy-code, mypy-tests

Fix broken link, and port changes from 0.3.1 back to develop
  README.rst
  doc/source/index.rst
Due: none

Fix broken link, and port changes from 0.3.1 back to develop (#350)
  README.rst
  doc/source/index.rst
Due: none

Move minimum_requirements.txt to separate directory
  .ci/minimum_requirements.txt
  tox.ini
Due: none

add `material_names` as property to the CompositeModel which returns a dict[dpf mat id, material name].
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

add unit test
  tests/composite_model_test.py
Due: mypy-tests

apply pre-commit patch
  src/ansys/dpf/composites/_composite_model_impl.py
  tests/composite_model_test.py
Due: mypy-code, mypy-tests

apply pre-commit patch
  src/ansys/dpf/composites/_composite_model_impl.py
Due: mypy-code

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
