Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Support dpf composite backend 6.1 (23.2) and 7.0 (24.1) in parallel (#299)
  doc/source/api/composite_model.rst
  doc/source/api/composite_scope.rst
  doc/source/api/data_sources.rst
  doc/source/api/index.rst
  doc/source/api/result_definition.rst
  doc/source/intro.rst
  examples/008_assembly_example.py
  examples/011_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/_composite_model_factory.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/composite_scope.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/sampling_point_types.py
  src/ansys/dpf/composites/server_helpers/__init__.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
  tests/conftest.py
  tests/data/shell/shell_2load_steps.rst
  tests/helper.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

DOC: update development documentation 0d5ea832e48640d6bcbf6cdd06733347d5975372
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Implement simplified plugin load
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

Remove 2024R1 from possible_awp_roots
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

Move comment
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

Implement simplified plugin load (#309)
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

DOC: update development documentation 678667a7903bb260e05975f4e24ba2888ddec281
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Add tests for cases without unit system
  tests/composite_model_test.py
  tests/data/shell_mapdl/ACPCompositeDefinitions.h5
  tests/data/shell_mapdl/linear_shell_3_layer_analysis_model.rst
  tests/data/shell_mapdl/material.engd
  tests/sampling_point_test.py
Due: mypy-tests

Fix merge
  tests/composite_model_test.py
Due: mypy-tests

Fix sampling point and use rst file without unit system
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  tests/composite_model_test.py
  tests/data/shell_mapdl/ACPCompositeDefinitions.h5
  tests/data/shell_mapdl/linear_shell_3_layer_analysis_model.rst
  tests/data/shell_mapdl/linear_shell_analysis_model.rst
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

DOC: update development documentation 61f8377b7e33cb76f1c9c9ed494eb87c93166837
  version/dev/_images/sphx_glr_002_sampling_point_example_001.png
  version/dev/_images/sphx_glr_002_sampling_point_example_002.png
  version/dev/_images/sphx_glr_002_sampling_point_example_003.png
  version/dev/_images/sphx_glr_002_sampling_point_example_004.png
  version/dev/_images/sphx_glr_002_sampling_point_example_005.png
  version/dev/_images/sphx_glr_002_sampling_point_example_006.png
  version/dev/_images/sphx_glr_005_get_layup_properties_example_001.png
  version/dev/_images/sphx_glr_010_harmonic_example_002.png
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation 61f8377b7e33cb76f1c9c9ed494eb87c93166837
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Add tests for cases without unit system (#311)
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  tests/composite_model_test.py
  tests/data/shell_mapdl/ACPCompositeDefinitions.h5
  tests/data/shell_mapdl/linear_shell_analysis_model.rst
  tests/data/shell_mapdl/material.engd
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

DOC: update development documentation 7311db174d4d63e96b379c79f1808bcc601ea271
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Add doc string for 1_ext_suffix function
  src/ansys/dpf/composites/data_sources.py
Due: mypy-code

Fix extension filtering.
  src/ansys/dpf/composites/data_sources.py
Due: mypy-code

Update examples/010_harmonic_example.py
  examples/010_harmonic_example.py
Due: mypy-code

Update src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/data_sources.py
Due: mypy-code

Fix line too long error
  examples/010_harmonic_example.py
Due: mypy-code

clean up harmonic example and ignore files with 1_ext suffix (#308)
  doc/source/api/data_sources.rst
  examples/010_harmonic_example.py
  src/ansys/dpf/composites/data_sources.py
  tests/data/workflow_example/assembly/Setup 3/ACPSolidModel_SM.1_ext.h5
  tests/data/workflow_example/assembly/Setup 4/ACPCompositeDefinitions.1_ext.h5
  tests/data/workflow_example/harmonic/harmonic_analysis/MatML.xml
  tests/data/workflow_example/harmonic/harmonic_analysis/file.rst
  tests/data/workflow_example/harmonic/modal_analysis/Setup/ACPCompositeDefinitions.h5
  tests/test_data_sources.py
Due: mypy-code, mypy-tests

DOC: update development documentation 50877aa2523cc1da68d55418b50ab32c4e132fd4
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Add compatibility info for new release
  doc/source/intro.rst
Due: none

Bump version to 0.4.0
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

Use correct dpf version
  doc/source/intro.rst
Due: none
