Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy-code, mypy-tests

pylint:
  name: pylint
  entry: pylint
  language: system

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

starting to edit the random vib example
  examples/019_random_vibration_example.py
Due: none

Revised the random vibration example
  examples/019_random_vibration_example.py
Due: none

run style check
  examples/019_random_vibration_example.py
Due: none

fix style errors
  tox.ini
Due: none

revert accidental change
  examples/019_random_vibration_example.py
  tox.ini
Due: none

Random vibration example (#691)
  examples/019_random_vibration_example.py
  src/ansys/dpf/composites/example_helper/__init__.py
Due: pylint, mypy-code

Bump version 0.8.0
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

Bump version 0.9.dev0
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

update compatibility table
  doc/source/intro.rst
Due: none

Update compatibility table
  doc/source/intro.rst
Due: none

Update doc/source/intro.rst
  doc/source/intro.rst
Due: none

doc
  doc/source/intro.rst
Due: none

Bump version 0.9.dev0 (#695)
  doc/source/intro.rst
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

update compatibility table (#694)
  doc/source/intro.rst
Due: none

use released version of pydpf-core
  pyproject.toml
Due: none

update poetry.lock
  poetry.lock
Due: none

use released version of pydpf-core (#696)
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-tests: any of: ^(tests/) and \.py$
