Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://gitlab.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8



- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

improve documentation
  README.rst
  examples/sampling_point_example.py
  examples/sampling_point_operator_example.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Fix unit test
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

precommit hooks (style)
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

PR comments and improve performance tests
  pyproject.toml
  src/ansys/dpf/composites/layup_info.py
  tests/helper.py
  tests/layered_test.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Deploying to gh-pages from @ pyansys/pydpf-composites@dabeb9396da56d80852678d81ab79f30b6921d7b 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

add API documentation and improve documentation of ResultDefinition
  doc/source/api/base.rst
  doc/source/api/failure_criteria.rst
  doc/source/api/index.rst
  doc/source/index.rst
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/result_definition.py
  tox.ini
Due: mypy-code

Add API Reference and improve doc strings of ResultDefinition. Fix some warnings of the build step of the documentation
  src/ansys/dpf/composites/failure_criteria/combined_failure_criterion.py
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

precommit hooks. Fix typo.
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

precommit hooks
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

Fix property name of ResultDefinition
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

Fix coding error: setter of combined_failure_criterion
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

Fix unit test and fix typos in the API reference
  doc/source/api/base.rst
  doc/source/api/failure_criteria.rst
  tests/result_definition_test.py
Due: mypy-tests

Add indices by analysis ply Add performance test for different local field options
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/layered_test.py
  tests/performance_tests.py
Due: mypy-code, mypy-tests

Move log files in separate folder More type information
  .gitignore
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/conftest.py
  tests/layered_test.py
Due: mypy-code, mypy-tests

precommit hooks
  examples/sampling_point_example.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

precommit hooks
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

improve update logic
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

implement enum for the spots
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

precommit hooks
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

use enum for the spots instead of strings
  doc/source/api/base.rst
  examples/sampling_point_example.py
  src/ansys/dpf/composites/__init__.py
Due: mypy-code

precommit hooks
  examples/sampling_point_example.py
Due: mypy-code

update unit tests
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

style checks
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

style checks
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Fix docu
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Fix documentation
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

fix docu
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

doc style
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Add tests for all element types
  src/ansys/dpf/composites/layup_info.py
  tests/data/all_element_types/model_with_all_element_types_all_except_mid_output.rst
  tests/data/all_element_types/model_with_all_element_types_all_output.rst
  tests/data/all_element_types/model_with_all_element_types_minimal_output.rst
  tests/layered_test.py
Due: mypy-code, mypy-tests

Deploying to gh-pages from @ pyansys/pydpf-composites@ff460cccf4bdba86b76e2e53bb0299724ed34a59 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

update docu of SamplingPoint
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

documentation
  doc/source/api/base.rst
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

improve documentation of the SamplingPoint.
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

remove unneeded comments
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Handle and test various edge cases
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/layered_test.py
Due: mypy-code, mypy-tests
