Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

poetry-pyproject-consistency:
  name: 'poetry: check pyproject.toml consistency'
  entry: poetry
  language: system
  args:
  - check
  pass_filenames: false

poetry-lockfile-consistency:
  name: 'poetry: check lockfile consistency'
  entry: poetry
  language: system
  args:
  - lock
  - --check
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

run style checks
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  tests/helper.py
Due: pylint, mypy-code, mypy-tests

apply style patch
  tests/helper.py
Due: mypy-tests

style checks
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/sampling_point_types.py
Due: pylint, mypy-code

revert conftest.py
  tests/conftest.py
Due: mypy-tests

comment debug output
  tests/sampling_point_solid_stack_test.py
Due: mypy-tests

implement remarks from the code review
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_types.py
Due: pylint, mypy-code

implement remarks from the code review
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/sampling_point.py
Due: pylint, mypy-code

fix docu
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_types.py
Due: pylint, mypy-code

fix docu
  src/ansys/dpf/composites/sampling_point.py
Due: pylint, mypy-code

Sampling Point for solids (#576)
  examples/015_solid_model.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
  src/ansys/dpf/composites/sampling_point_types.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/conftest.py
  tests/data/solid_model/ref_110_old.txt
  tests/data/solid_model/ref_113_old.txt
  tests/data/solid_model/ref_154_old.txt
  tests/data/solid_model/ref_219_old.txt
  tests/helper.py
  tests/sampling_point_solid_stack_test.py
Due: pylint, mypy-code, mypy-tests

use latest pydpf core
  poetry.lock
Due: poetry-lockfile-consistency

update imports
  .github/workflows/ci_cd.yml
  src/ansys/dpf/composites/ply_wise_data.py
  src/ansys/dpf/composites/sampling_point.py
  tests/ply_wise_data_test.py
Due: pylint, mypy-code, mypy-tests

support also older versions of ansys.dpf.core
  src/ansys/dpf/composites/ply_wise_data.py
  tests/ply_wise_data_test.py
Due: pylint, mypy-code, mypy-tests

cosmetic changes
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/ply_wise_data.py
Due: pylint, mypy-code

fix type in lsdyna bird strike example
  examples/016_lsdyna_bird_strike.py
Due: none

Use latest pydpf core (#578)
  examples/016_lsdyna_bird_strike.py
  poetry.lock
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/ply_wise_data.py
  tests/ply_wise_data_test.py
Due: poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

fix(doc): remove outdated options in conf.py
  doc/source/conf.py
Due: none

fix(doc): remove outdated options in conf.py (#581)
  doc/source/conf.py
Due: none

Path conditions:
  poetry-pyproject-consistency: any of: ^pyproject\.toml$
  poetry-lockfile-consistency: any of: ^(pyproject\.toml|poetry\.lock)$
  pylint: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-tests: any of: ^(tests/) and \.py$
