Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Add support for plots on reference surfaces
  examples/008_assembly_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/layup_info/_reference_surface.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_test.py
  tests/data/workflow_example/multiple_time_steps/MatML.xml
  tests/data/workflow_example/multiple_time_steps/Setup/ACPCompositeDefinitions.h5
  tests/data/workflow_example/multiple_time_steps/file.rst
Due: mypy-code, mypy-tests

Check version in test
  examples/008_assembly_example.py
  tests/composite_model_test.py
Due: mypy-code, mypy-tests

Check version in test
  tests/composite_model_test.py
Due: mypy-tests

Fix layer index that starts at zero for older versions
  tests/composite_model_test.py
Due: mypy-tests

Update version and add more backward compatibility tests
  .github/workflows/ci_cd.yml
  examples/008_assembly_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_test.py
  tox.ini
Due: mypy-code, mypy-tests

Update version and add more backward compatibility tests
  .github/workflows/ci_cd.yml
  tox.ini
Due: none

Fix yaml file
  .github/workflows/ci_cd.yml
Due: none

Don't initialize ref surface operator for older versions
  src/ansys/dpf/composites/_composite_model_impl.py
Due: mypy-code

Only test material name for versions >=7.1
  tests/composite_model_test.py
Due: mypy-tests

Add 2024r1 container
  .github/workflows/ci_cd.yml
  tox.ini
Due: none

Clarify version info and fix return value annotation.
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/server_helpers/_versions.py
Due: mypy-code

Update minimum DPF core requirement to 0.8.0 (#374)
  .ci/minimum_requirements.txt
Due: none

Fix type hints for paths
  src/ansys/dpf/composites/_typing_helper.py
Due: mypy-code

first version that runs with RST file only
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/select_indices.py
  src/ansys/dpf/composites/server_helpers/_versions.py
Due: mypy-code
