Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Add support for plots on reference surfaces (#384)
  .github/workflows/ci_cd.yml
  examples/008_assembly_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/layup_info/_reference_surface.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_test.py
  tests/data/workflow_example/multiple_time_steps/MatML.xml
  tests/data/workflow_example/multiple_time_steps/Setup/ACPCompositeDefinitions.h5
  tests/data/workflow_example/multiple_time_steps/file.rst
  tox.ini
Due: mypy-code, mypy-tests

ElementInfo with material ID from EBLOCK.
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/server_helpers/_versions.py
Due: mypy-code

update evaluate_failure_criteria to support the different types of lay-up models (ACP, RST, MIXED) Some cosmetic changes.
  doc/source/index.rst
  examples/008_assembly_example.py
  examples/099_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: mypy-code

add unit test and example for the RST based workflow
  doc/source/index.rst
  examples/008_assembly_example.py
  examples/011_rst_workflow.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
  tests/rst_only_workflow_test.py
Due: mypy-code, mypy-tests

expose layup_model_type and update tests
  .github/workflows/ci_cd.yml
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  tests/composite_model_test.py
  tests/rst_only_workflow_test.py
Due: mypy-code, mypy-tests

Update tests/rst_only_workflow_test.py
  tests/rst_only_workflow_test.py
Due: mypy-tests

Update src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: mypy-code

Update src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

Update doc/source/index.rst
  doc/source/index.rst
Due: none

Update examples/008_assembly_example.py
  examples/008_assembly_example.py
Due: mypy-code

Update examples/011_rst_workflow.py
  examples/011_rst_workflow.py
Due: mypy-code

Update src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/_indexer.py
Due: mypy-code

Update src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/data_sources.py
Due: mypy-code

style checks
  doc/styles/Vocab/ANSYS/accept.txt
  examples/011_rst_workflow.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/composite_model_test.py
  tests/rst_only_workflow_test.py
Due: mypy-code, mypy-tests

style check
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: mypy-code

style checks
  examples/011_rst_workflow.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
  tests/rst_only_workflow_test.py
Due: mypy-code, mypy-tests

style checks
  examples/011_rst_workflow.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

style check
  examples/011_rst_workflow.py
Due: mypy-code

update doc
  doc/source/api/layup_info.rst
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/composite_model_test.py
  tests/rst_only_workflow_test.py
Due: mypy-code, mypy-tests

documentation
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

documentation
  doc/source/index.rst
Due: none

update the documentation
  doc/source/index.rst
Due: none

use dpf composite docker image with tag mapdl_section_data
  src/ansys/dpf/composites/server_helpers/_versions.py
  tox.ini
Due: mypy-code

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
