Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

run style check and update RST (add unit system)
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/result_definition.py
  tests/composite_model_test.py
  tests/data/shell/shell.rst
  tests/result_definition_test.py
Due: mypy-code, mypy-tests

fix new unit test
  tests/composite_model_test.py
Due: mypy-tests

run style checks
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

fix type error (mypy check)
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

Support scoping by named selections (elemental component sets) (#217)
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/result_definition.py
  tests/composite_model_test.py
  tests/data/shell/shell.rst
  tests/result_definition_test.py
Due: mypy-code, mypy-tests

Update index.html and versions file
  index.html
  versions.json
Due: none

Disable the 'force-orphan' option in the doc deployment
  .github/workflows/ci_cd.yml
Due: none

Add pydata-sphinx-theme install workaround
  .github/workflows/ci_cd.yml
  README.rst
Due: none

Disable the 'force-orphan' option in the doc deployment (#225)
  .github/workflows/ci_cd.yml
  README.rst
Due: none

Use new keyopt provider
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: mypy-code

Aligning to v4 PyAnsys actions multi-version docs
  doc/source/conf.py
Due: none

Update poetry.lock
  poetry.lock
Due: none

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Due: none

Adapting to new PyAnsys actions v4 (main)
  doc/source/conf.py
Due: none

Revert poetry lock
  poetry.lock
Due: none

Update conf.py
  doc/source/conf.py
Due: none

Update doc/source/conf.py
  doc/source/conf.py
Due: none

Fix URL for ansys-dpf-core doc
  doc/source/conf.py
Due: none

Adapting to new PyAnsys actions v4 (main) (#228)
  doc/source/conf.py
Due: none

Get all material ids from the element infos instead of the analysis plies reuse the unit system when evaluating the properties
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/unit_system.py
Due: mypy-code

Get all material ids from the element infos instead of the analysis p… (#229)
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/unit_system.py
Due: mypy-code

Temp commit
  examples/dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  tests/composite_model_test.py
  tests/conftest.py
  tests/helper.py
  tests/performance_test.py
Due: mypy-code, mypy-tests

Set env vars for licensing
  tests/conftest.py
Due: mypy-tests

Fix name arg
  tests/conftest.py
Due: mypy-tests

use secret
  .github/workflows/ci_cd.yml
  tests/conftest.py
  tox.ini
Due: mypy-tests

Use dpf_composites:customer_portal container
  .github/workflows/ci_cd.yml
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

Use dpf_composites:customer_portal container: fix ANSYSCL232_DIR
  tests/conftest.py
Due: mypy-tests

Use dpf_composites:customer_portal container: fix load composite plugin
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

Use dpf_composites:customer_portal container: debug container setup
  tests/conftest.py
Due: mypy-tests

Use dpf_composites:customer_portal container: debug container setup
  README.rst
  src/ansys/dpf/composites/server_helpers/__init__.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Use dpf_composites:customer_portal container: fix home directory
  tests/conftest.py
Due: mypy-tests

Use dpf_composites:customer_portal container: remove HOME
  tests/conftest.py
Due: mypy-tests
