Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

style checks
  src/ansys/dpf/composites/example_helper/example_helper.py
Due: mypy-code

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

improve examples within the python doc strings
  src/ansys/dpf/composites/failure_criteria/combined_failure_criterion.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

style
  src/ansys/dpf/composites/failure_criteria/combined_failure_criterion.py
Due: mypy-code

improve examples within the python doc strings (#120)
  src/ansys/dpf/composites/failure_criteria/combined_failure_criterion.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/api/_autosummary/ansys.dpf.composites.SamplingPoint.add_results_to_plot.html
  dev/api/_autosummary/ansys.dpf.composites.SamplingPoint.get_indices.html
  dev/api/_autosummary/ansys.dpf.composites.SamplingPoint.get_polar_plot.html
  dev/api/_autosummary/ansys.dpf.composites.SamplingPoint.get_result_plots.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.CombinedFailureCriterion.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.CombinedFailureCriterion.insert.html
  dev/api/_autosummary/ansys.dpf.composites.failure_criteria.CombinedFailureCriterion.remove.html
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

Support WB projects if the solution was solved in distributed mode (#117)
  src/ansys/dpf/composites/composite_data_sources.py
Due: mypy-code

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/api/_autosummary/ansys.dpf.composites.get_composite_files_from_workbench_result_folder.html
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

Element scope supports all types of int (e.g. np.int) (#111)
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  tests/composite_model_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/api/_autosummary/ansys.dpf.composites.SamplingPoint.analysis_plies.html
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

Add pylint checks
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/composite_data_sources.py
  src/ansys/dpf/composites/connect_to_or_start_server.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/failure_criteria/combined_failure_criterion.py
  src/ansys/dpf/composites/failure_criteria/failure_criterion_base.py
  src/ansys/dpf/composites/failure_criteria/puck.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

Fix example_helper imports
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/3_short_fiber_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
  tests/composite_model_test.py
  tests/getting_started_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
Due: mypy-code, mypy-tests

Update lockfile
  poetry.lock
Due: none

Fix example_helper import
  tests/sampling_point_test.py
Due: mypy-tests

Add pylint checks (#115)
  .pre-commit-config.yaml
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/3_short_fiber_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/composite_data_sources.py
  src/ansys/dpf/composites/connect_to_or_start_server.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/failure_criteria/combined_failure_criterion.py
  src/ansys/dpf/composites/failure_criteria/failure_criterion_base.py
  src/ansys/dpf/composites/failure_criteria/puck.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/result_definition.py
  tests/composite_model_test.py
  tests/getting_started_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

DOC: add development documentation
  dev/_downloads/0ceda182f5f52dbb13e30c600c99a2ab/1_failure_operator_example.ipynb
  dev/_downloads/139306772400c841de910108371f3025/dpf_composite_failure_workflow.ipynb
  dev/_downloads/17321ebe36092bd4e1302e206e846af2/5_get_layup_properties_example.py
  dev/_downloads/182734e7babe023574be666ab4d0c279/4_get_material_properties_example.py
  dev/_downloads/491641e9a5e6494a96fec16ad05a39f7/5_get_layup_properties_example.ipynb
  dev/_downloads/69acae2b746b2763a8d711f6de4d0393/3_short_fiber_example.ipynb
  dev/_downloads/6b26539de83fbf2e8d5b37668ecc4e76/dpf_composite_failure_workflow.py
  dev/_downloads/7e9cf296843a413f05366030fec0953f/2_sampling_point_example.py
  dev/_downloads/7fbd17dbe9eea9f3b1cbedd3beefee18/7_interlaminar_normal_stress_example.ipynb
  dev/_downloads/834844dd5f9fb735dc47d160776f651c/8_assembly_example.py
  dev/_downloads/896c84cc1c245945d2ca349ce8f06ae9/4_get_material_properties_example.ipynb
  dev/_downloads/8e7784dcad693950905e90085a0c70d8/8_assembly_example.ipynb
  dev/_downloads/9ff5ec05dd6df800cc962cd22c60cd28/6_filter_composite_data_example.ipynb
  dev/_downloads/aacf4e81e7cf567a4fea4a631f9c6861/7_interlaminar_normal_stress_example.py
  dev/_downloads/c85b56dab21447c163731d74b0a4284d/2_sampling_point_example.ipynb
  dev/_downloads/d8ea217109bc4b7c7ba4e3aaa13216ef/1_failure_operator_example.py
  dev/_downloads/e05f846beb0a8299ac35fefa3ea22a53/6_filter_composite_data_example.py
  dev/_downloads/e79424f559efb4dcca51af7a09973e19/3_short_fiber_example.py
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/_static/css/ansys_sphinx_theme.css
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: mypy-code

Prefix individual failure criterion modules
  src/ansys/dpf/composites/failure_criteria/__init__.py
  src/ansys/dpf/composites/failure_criteria/_combined_failure_criterion.py
  src/ansys/dpf/composites/failure_criteria/_core_failure.py
  src/ansys/dpf/composites/failure_criteria/_cuntze.py
  src/ansys/dpf/composites/failure_criteria/_face_sheet_wrinkling.py
  src/ansys/dpf/composites/failure_criteria/_failure_criterion_base.py
  src/ansys/dpf/composites/failure_criteria/_hashin.py
  src/ansys/dpf/composites/failure_criteria/_hoffman.py
  src/ansys/dpf/composites/failure_criteria/_larc.py
  src/ansys/dpf/composites/failure_criteria/_max_strain.py
  src/ansys/dpf/composites/failure_criteria/_max_stress.py
  src/ansys/dpf/composites/failure_criteria/_puck.py
  src/ansys/dpf/composites/failure_criteria/_quadratic_failure_criterion.py
  src/ansys/dpf/composites/failure_criteria/_shear_crimping.py
  src/ansys/dpf/composites/failure_criteria/_tsai_hill.py
  src/ansys/dpf/composites/failure_criteria/_tsai_wu.py
  src/ansys/dpf/composites/failure_criteria/_von_mises.py
  src/ansys/dpf/composites/result_definition.py
  tests/failure_criteria/combined_failure_criterion_test.py
  tests/failure_criteria/core_failure_test.py
  tests/failure_criteria/cuntze_test.py
  tests/failure_criteria/face_sheet_wrinkling_test.py
  tests/failure_criteria/hashin_test.py
  tests/failure_criteria/hoffman_test.py
  tests/failure_criteria/larc_test.py
  tests/failure_criteria/max_strain_criterion_test.py
  tests/failure_criteria/max_stress_criterion_test.py
  tests/failure_criteria/puck_test.py
  tests/failure_criteria/shear_crimping_test.py
  tests/failure_criteria/tsai_hill_test.py
  tests/failure_criteria/tsai_wu_test.py
  tests/failure_criteria/von_mises_test.py
  tests/result_definition_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Create layup_info submodule
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/enums.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_enums.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/material_properties.py
  tests/composite_model_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
Due: mypy-code, mypy-tests

Rename composite_data_sources -> data_sources
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  tests/composite_model_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
  tests/test_data_sources.py
Due: mypy-code, mypy-tests

Delete unused failure_config, make indexer private
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/failure_config.py
Due: mypy-code

More module renaming, add missing __all__
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/3_short_fiber_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/select_indices.py
  src/ansys/dpf/composites/server_helpers/__init__.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  tests/composite_model_test.py
  tests/conftest.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/getting_started_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Update imports in examples
  doc/source/intro.rst
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/3_short_fiber_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/constants.py
Due: mypy-code

Update documentation
  doc/source/api/composite_model.rst
  doc/source/api/constants.rst
  doc/source/api/data_sources.rst
  doc/source/api/index.rst
  doc/source/api/layup_info.rst
  doc/source/api/layup_information.rst
  doc/source/api/result_definition.rst
  doc/source/api/sampling_point.rst
  doc/source/api/select_indices.rst
  doc/source/api/server_helper.rst
  doc/source/api/server_helpers.rst
  doc/source/index.rst
  examples/2_sampling_point_example.py
  examples/4_get_material_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
  src/ansys/dpf/composites/__init__.py
Due: mypy-code

Ignore GL08 numpydoc check
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Due: none

Jvonrick/more doc improvements (#113)
  doc/source/api/composite_model.rst
  doc/source/intro.rst
  examples/1_failure_operator_example.py
  examples/2_sampling_point_example.py
  examples/8_assembly_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/connect_to_or_start_server.py
  src/ansys/dpf/composites/failure_criteria/puck.py
  src/ansys/dpf/composites/sampling_point.py
  tests/composite_model_test.py
  tests/getting_started_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Update example
  examples/3_short_fiber_example.py
Due: mypy-code

Add test with min requirements
  .github/workflows/ci_cd.yml
  minimum_requirements.txt
Due: none

CI: enhance jobs and add missing ones
  .github/workflows/ci_cd.yml
Due: none

Style fix
  examples/3_short_fiber_example.py
Due: mypy-code

Add comments to indexer
  src/ansys/dpf/composites/_indexer.py
Due: mypy-code

Update short fiber composite example (#123)
  examples/3_short_fiber_example.py
Due: mypy-code

Add checks for minimal versions of some key dependencies
  .github/workflows/ci_cd.yml
  minimum_requirements.txt
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/indexer.py
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/select_indices.py
  tox.ini
Due: mypy-code
