Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 23.3.0  # IF VERSION CHANGES --> MODIFY "blacken-docs" MANUALLY AS WELL!!
  hooks:
  - id: black

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.14.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.3.0]
    exclude: "^tests/"

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.7.0
  hooks:
  - id: pyupgrade
    args: [--py39-plus]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: ["tomli"]
    exclude: "^(tests/|examples/)"

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
    exclude: '^poetry\.lock$'

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.2.6
  hooks:
  - id: add-license-headers
    args: ["--start_year", "2023"]

- repo: local
  hooks:
  - id: poetry-pyproject-consistency
    name: "poetry: check pyproject.toml consistency"
    entry: poetry
    language: system
    args: ["check"]
    files: '^pyproject\.toml$'
    pass_filenames: false
  - id: poetry-lockfile-consistency
    name: "poetry: check lockfile consistency"
    entry: poetry
    language: system
    args: ["lock", "--check"]
    files: '^(pyproject\.toml|poetry\.lock)$'
    pass_filenames: false
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: "^(doc/)|(tests/)|(examples/)"
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Bump version in main and remove beta specification. (#432)
  pyproject.toml
  tests/test_metadata.py
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, mypy-tests

Re-lock dependencies to update transitive dependencies
  poetry.lock
Due: poetry-lockfile-consistency

Re-lock dependencies to update transitive dependencies (#438)
  poetry.lock
Due: poetry-lockfile-consistency

Use dev version of dpf core
  poetry.lock
  pyproject.toml
  release_checklist.rst
Due: poetry-pyproject-consistency, poetry-lockfile-consistency

Use dev version of dpf core
  poetry.lock
Due: poetry-lockfile-consistency

Use dev version of dpf core (#439)
  poetry.lock
  pyproject.toml
  release_checklist.rst
Due: poetry-pyproject-consistency, poetry-lockfile-consistency
