Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

poetry-pyproject-consistency:
  name: 'poetry: check pyproject.toml consistency'
  entry: poetry
  language: system
  args:
  - check
  pass_filenames: false

poetry-lockfile-consistency:
  name: 'poetry: check lockfile consistency'
  entry: poetry
  language: system
  args:
  - lock
  - --check
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Fix vale warnings
  README.rst
  doc/source/intro.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

Convert numpy slice to list
  tests/filter_layered_data_test.py
Due: mypy-tests

Add release checklist and add missing version to compatibility
  doc/source/intro.rst
  release_checklist.rst
Due: none

Add missing link
  release_checklist.rst
Due: none

Convert numpy slice to list to fix test (#425)
  tests/filter_layered_data_test.py
Due: mypy-tests

Complete release checklist and add tests for the newly tagged version.
  .github/workflows/ci_cd.yml
  release_checklist.rst
  tox.ini
Due: none

Fix vale warnings (#423)
  README.rst
  doc/source/intro.rst
  doc/styles/Vocab/ANSYS/accept.txt
Due: none

Feat/add release checklist (#427)
  .github/workflows/ci_cd.yml
  doc/source/intro.rst
  release_checklist.rst
  tox.ini
Due: none

Bump version to 0.4.0
  pyproject.toml
  tests/test_metadata.py
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, mypy-tests

Bump version in main and remove beta specification.
  pyproject.toml
  tests/test_metadata.py
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, mypy-tests

Path conditions:
  poetry-pyproject-consistency: any of: ^pyproject\.toml$
  poetry-lockfile-consistency: any of: ^(pyproject\.toml|poetry\.lock)$
  pylint: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-tests: any of: ^(tests/) and \.py$
