Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Fix typo
  examples/006_filter_composite_data_example.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

code style checks
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: mypy-code

Move minimum_requirements.txt to separate directory (#352)
  .ci/minimum_requirements.txt
  tox.ini
Due: none

code style checks
  examples/006_filter_composite_data_example.py
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

code style checks
  examples/006_filter_composite_data_example.py
Due: mypy-code

code style checks
  src/ansys/dpf/composites/_composite_model_impl.py
Due: mypy-code

code style checks
  src/ansys/dpf/composites/_composite_model_impl.py
  tests/composite_model_test.py
Due: mypy-code, mypy-tests

run new test only if the latest server version is used.
  tests/composite_model_test.py
Due: mypy-tests

Use grouped updates for python dependencies (#334)
  .github/dependabot.yml
Due: none

Update src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: mypy-code

Update documentation
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/unit_system.py
Due: mypy-code

code style checks
  examples/006_filter_composite_data_example.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: mypy-code

fix documentation
  examples/006_filter_composite_data_example.py
Due: mypy-code

Feat/exposure of material names (#353)
  examples/006_filter_composite_data_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/unit_system.py
  tests/composite_model_test.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

Fix broken link, and port changes from 0.3.1 back to develop (#350)
  README.rst
  doc/source/index.rst
Due: none

Feat/material names into v0.3 (#355)
  README.rst
  doc/source/index.rst
  examples/006_filter_composite_data_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/unit_system.py
  tests/composite_model_test.py
  tests/material_properties_test.py
Due: mypy-code, mypy-tests

set version to 0.3.2
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

set version to 0.3.2 (#357)
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

Sort composite definition labels before comparing in test. Their order is irrelevant since all lookups happen with the label.
  tests/composite_model_test.py
Due: mypy-tests

Add basic merge test
  tests/performance_test.py
Due: mypy-tests

Remove merge test
  tests/performance_test.py
Due: mypy-tests

Compare data by id instead of by index in composite scoping tests
  tests/composite_model_scoping_test.py
Due: mypy-tests

Sort composite definition labels before comparing in test. (#361)
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
Due: mypy-tests
