Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

poetry-pyproject-consistency:
  name: 'poetry: check pyproject.toml consistency'
  entry: poetry
  language: system
  args:
  - check
  pass_filenames: false

poetry-lockfile-consistency:
  name: 'poetry: check lockfile consistency'
  entry: poetry
  language: system
  args:
  - lock
  - --check
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

support of dpf server 9.0 (2025R1 pre0)
  .github/workflows/ci_cd.yml
  doc/source/intro.rst
  tox.ini
Due: none

Bump version 0.6.0
  pyproject.toml
  release_checklist.rst
Due: poetry-pyproject-consistency, poetry-lockfile-consistency

bump version 0.7.0dev
  pyproject.toml
  release_checklist.rst
Due: poetry-pyproject-consistency, poetry-lockfile-consistency

update lock file
  poetry.lock
Due: poetry-lockfile-consistency

update release_checklist.rst
  release_checklist.rst
Due: none

update version test
  tests/test_metadata.py
Due: mypy-tests

update test_metadata.py
  tests/test_metadata.py
Due: mypy-tests

support of dpf server 9.0 (2025R1 pre0) (#501)
  .github/workflows/ci_cd.yml
  doc/source/intro.rst
  tox.ini
Due: none

update the lock file (#503)
  .github/workflows/ci_cd.yml
  doc/source/intro.rst
  poetry.lock
  tests/test_metadata.py
  tox.ini
Due: poetry-lockfile-consistency, mypy-tests

bump version 0.7.0dev (#502)
  pyproject.toml
  release_checklist.rst
  tests/test_metadata.py
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, mypy-tests

Update conf.py to adapt to new ansys-sphinx-theme
  doc/source/conf.py
Due: none

Update conf.py to adapt to new ansys-sphinx-theme (#504)
  doc/source/conf.py
Due: none

Path conditions:
  poetry-pyproject-consistency: any of: ^pyproject\.toml$
  poetry-lockfile-consistency: any of: ^(pyproject\.toml|poetry\.lock)$
  pylint: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-tests: any of: ^(tests/) and \.py$
