Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Use correct path when uploading example files
  src/ansys/dpf/composites/example_helper/__init__.py
Due: mypy-code

Improve function name Also support windows remote servers Don't rely on dpf mat ids in tests
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/basic_workflow_test.py
  tests/element_info_output_all_element_types_test.py
  tests/element_info_test.py
Due: mypy-code, mypy-tests

Apply suggestions from code review
  examples/006_filter_composite_data_example.py
  src/ansys/dpf/composites/ply_wise_data.py
Due: mypy-code

Implement PR suggestion
  examples/012_fatigue_example.py
Due: mypy-code

Apply suggestions from code review
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: mypy-code

Make doc string fit in one line
  src/ansys/dpf/composites/ply_wise_data.py
Due: mypy-code

Fix intendation.
  examples/006_filter_composite_data_example.py
Due: mypy-code

Manually change top-level LICENSE year
  LICENSE
Due: none

Add convenience function to get ply-wise data (#396)
  doc/source/api/index.rst
  doc/source/api/ply_wise_data.rst
  examples/006_filter_composite_data_example.py
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/ply_wise_data.py
  tests/ply_wise_data_test.py
Due: mypy-code, mypy-tests

Upload files to unique folder on server to avoid conflicts (#409)
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/basic_workflow_test.py
  tests/element_info_output_all_element_types_test.py
  tests/element_info_test.py
Due: mypy-code, mypy-tests

Fix merge problem
  examples/006_filter_composite_data_example.py
Due: mypy-code

New fatigue example (#405)
  doc/source/api/ply_wise_data.rst
  examples/006_filter_composite_data_example.py
  examples/012_fatigue_example.py
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/ply_wise_data.py
  tests/ply_wise_data_test.py
Due: mypy-code, mypy-tests

cicd: update add-license-header hook
  .pre-commit-config.yaml
Due: none

cicd: update add-license-header hook (#414)
  .pre-commit-config.yaml
Due: none
