Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Update supported Python versions
  .github/workflows/ci_cd.yml
  README.rst
  poetry.lock
  pyproject.toml
  tox.ini
Due: none

Limit upper Python version
  poetry.lock
  pyproject.toml
Due: none

Run pyupgrade for Python 3.9+
  .pre-commit-config.yaml
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/composite_scope.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/failure_criteria/_combined_failure_criterion.py
  src/ansys/dpf/composites/failure_criteria/_failure_criterion_base.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/sampling_point_types.py
  src/ansys/dpf/composites/select_indices.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/conftest.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/helper.py
  tests/result_definition_test.py
Due: mypy-code, mypy-tests

Update supported python versions (#360)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  README.rst
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/composite_scope.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/failure_criteria/_combined_failure_criterion.py
  src/ansys/dpf/composites/failure_criteria/_failure_criterion_base.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/sampling_point_types.py
  src/ansys/dpf/composites/select_indices.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/conftest.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/helper.py
  tests/result_definition_test.py
  tox.ini
Due: mypy-code, mypy-tests

Add note that the critical layer indices are 1-based.
  examples/010_harmonic_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  tests/basic_workflow_test.py
Due: mypy-code, mypy-tests

add note when using get_selected_indices
  src/ansys/dpf/composites/select_indices.py
Due: mypy-code

update comments and note about 1-based indices
  examples/010_harmonic_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/select_indices.py
  tests/basic_workflow_test.py
Due: mypy-code, mypy-tests

implement remark from the code review.
  src/ansys/dpf/composites/select_indices.py
Due: mypy-code

improve documentation
  src/ansys/dpf/composites/select_indices.py
Due: mypy-code

Document composite:minmax_per_element_operator (#366)
  examples/010_harmonic_example.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/select_indices.py
  tests/basic_workflow_test.py
Due: mypy-code, mypy-tests

Update minimum DPF core requirement to 0.8.0
  .ci/minimum_requirements.txt
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
