Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

poetry-pyproject-consistency:
  name: 'poetry: check pyproject.toml consistency'
  entry: poetry
  language: system
  args:
  - check
  pass_filenames: false

poetry-lockfile-consistency:
  name: 'poetry: check lockfile consistency'
  entry: poetry
  language: system
  args:
  - lock
  - --check
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Update conf.py to adapt to new ansys-sphinx-theme (#504)
  doc/source/conf.py
Due: none

revert last commit
  poetry.lock
Due: poetry-lockfile-consistency

update test_metadata.py
  tests/test_metadata.py
Due: mypy-tests

v0.6.1: improve field indexer for layered solid elements (#515)
  doc/source/conf.py
  examples/013_thermal_example.py
  pyproject.toml
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/data/all_element_types/model_with_all_element_types_all_output_1_layer.rst
  tests/data/all_element_types/model_with_all_element_types_all_output_1_layer_material.xml
  tests/element_info_output_all_element_types_test.py
  tests/performance_test.py
  tests/test_metadata.py
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

draft of a cyclic symmetry example
  examples/014_cyclic_symmetry.py
Due: none

run style check
  examples/014_cyclic_symmetry.py
  src/ansys/dpf/composites/example_helper/__init__.py
Due: pylint, mypy-code

run style checks
  examples/014_cyclic_symmetry.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
Due: pylint, mypy-code

cosmetic changes
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/composite_model.py
Due: pylint, mypy-code

add get_rst_streams_provider to CompositeModelImpl2023R2
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
Due: pylint, mypy-code

polish examples/014_cyclic_symmetry.py
  examples/014_cyclic_symmetry.py
Due: none

revert temporary change
  src/ansys/dpf/composites/example_helper/__init__.py
Due: pylint, mypy-code

rename file
  examples/014_cyclic_symmetry_example.py
Due: none

cosmetic changes
  examples/014_cyclic_symmetry_example.py
Due: none

add link to DPF Core
  examples/014_cyclic_symmetry_example.py
Due: none

Update examples/014_cyclic_symmetry_example.py
  examples/014_cyclic_symmetry_example.py
Due: none

run style checks after doc update
  examples/014_cyclic_symmetry_example.py
Due: none

Path conditions:
  poetry-pyproject-consistency: any of: ^pyproject\.toml$
  poetry-lockfile-consistency: any of: ^(pyproject\.toml|poetry\.lock)$
  pylint: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-tests: any of: ^(tests/) and \.py$
