Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

poetry-pyproject-consistency:
  name: 'poetry: check pyproject.toml consistency'
  entry: poetry
  language: system
  args:
  - check
  pass_filenames: false

poetry-lockfile-consistency:
  name: 'poetry: check lockfile consistency'
  entry: poetry
  language: system
  args:
  - lock
  - --check
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Re-enable full example again.
  examples/013_thermal_example.py
Due: none

cosmetic changes
  examples/013_thermal_example.py
Due: none

fix missing imports
  examples/013_thermal_example.py
Due: none

Run full thermal example (#609)
  examples/013_thermal_example.py
Due: none

Add dependabot cooldown of 7 days
  .github/dependabot.yml
Due: none

chore: update CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Due: none

Add dependabot cooldown of 7 days (#610)
  .github/dependabot.yml
Due: none

Remove <2 upper version limit for poetry in CI (#598)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
Due: none

Run old server version tests in separate CI jobs (#606)
  .github/workflows/ci_cd.yml
  tests/conftest.py
  tox.ini
Due: mypy-tests

chore: Update missing or outdated files (#611)
  CODE_OF_CONDUCT.md
Due: none

Update poetry lockfile
  poetry.lock
Due: poetry-lockfile-consistency

Support all type of dpf server and connections (e.g. grpc transport mode etc.)
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
Due: pylint, mypy-code

Path conditions:
  poetry-pyproject-consistency: any of: ^pyproject\.toml$
  poetry-lockfile-consistency: any of: ^(pyproject\.toml|poetry\.lock)$
  pylint: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-tests: any of: ^(tests/) and \.py$
