Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

Add GH action for cleaning stale packages
  .github/workflows/package_cleanup.yml
Due: none

Add GH action for cleaning stale packages (#204)
  .github/workflows/package_cleanup.yml
Due: none

Remove Python version upper limit on numpy requirement
  poetry.lock
  pyproject.toml
Due: none

replace version 231 with 232
  README.rst
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
Due: mypy-code

Use temporary docker container
  .github/workflows/ci_cd.yml
  tests/conftest.py
Due: mypy-tests

Switch back to latest
  .github/workflows/ci_cd.yml
  tests/conftest.py
Due: mypy-tests

Remove Python version upper limit on numpy requirement (#206)
  poetry.lock
  pyproject.toml
Due: none

Use dev version of dpf core
  poetry.lock
  pyproject.toml
Due: none

Time becomes an optional input in the Result Definition since the backend now automatically selects the last time / frequency.
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/result_definition.py
  tests/result_definition_test.py
Due: mypy-code, mypy-tests

Update name of input pins
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

Remove setuptools dependency, unblock newer numpy
  poetry.lock
  pyproject.toml
Due: none

Change ansys-dpf-core intersphinx URL
  doc/source/conf.py
Due: none

Remove setuptools dependency, unblock newer numpy (#209)
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Due: none

Handle unit system
  examples/7_interlaminar_normal_stress_example.py
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  src/ansys/dpf/composites/unit_system.py
  tests/basic_workflow_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tox.ini
Due: mypy-code, mypy-tests

Use result info provider instead of ResultInfo directly
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/unit_system.py
Due: mypy-code

Enforce 0.7.3 for dpf core
  minimum_requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Support the scoping by named selections (elemental component sets)
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/result_definition.py
  tests/composite_model_test.py
  tests/data/shell/shell.rst
  tests/result_definition_test.py
Due: mypy-code, mypy-tests

complete documentation
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/unit_system.py
Due: mypy-code

Add deprecations warnings
  src/ansys/dpf/composites/layup_info/material_operators.py
Due: mypy-code

Add deprecations warnings
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

Fix type
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

Use latest container (#197)
  .github/workflows/ci_cd.yml
  README.rst
  examples/7_interlaminar_normal_stress_example.py
  examples/dpf_composite_failure_workflow.py
  minimum_requirements.txt
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  src/ansys/dpf/composites/unit_system.py
  tests/basic_workflow_test.py
  tests/conftest.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tox.ini
Due: mypy-code, mypy-tests

Update name of input pins
  examples/dpf_composite_failure_workflow.py
  tests/basic_workflow_test.py
Due: mypy-code, mypy-tests

Update name of input pins
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/basic_workflow_test.py
Due: mypy-code, mypy-tests

Update examples
  examples/3_short_fiber_example.py
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

run style checks
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

Change json_url to pyansys/actions@v4 format
  doc/source/conf.py
Due: none

Update name of input pins (#208)
  examples/3_short_fiber_example.py
  examples/dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/basic_workflow_test.py
Due: mypy-code, mypy-tests

Time becomes an optional input in the Result Definition (#207)
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/result_definition.py
  tests/result_definition_test.py
Due: mypy-code, mypy-tests

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
