Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 23.3.0  # IF VERSION CHANGES --> MODIFY "blacken-docs" MANUALLY AS WELL!!
  hooks:
  - id: black

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.14.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.3.0]
    exclude: "^tests/"

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.7.0
  hooks:
  - id: pyupgrade
    args: [--py39-plus]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: ["tomli"]
    exclude: "^(tests/|examples/)"

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
    exclude: '^poetry\.lock$'

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.2.6
  hooks:
  - id: add-license-headers
    args: ["--start_year", "2023"]

- repo: local
  hooks:
  - id: poetry-pyproject-consistency
    name: "poetry: check pyproject.toml consistency"
    entry: poetry
    language: system
    args: ["check"]
    files: '^pyproject\.toml$'
    pass_filenames: false
  - id: poetry-lockfile-consistency
    name: "poetry: check lockfile consistency"
    entry: poetry
    language: system
    args: ["lock", "--check"]
    files: '^(pyproject\.toml|poetry\.lock)$'
    pass_filenames: false
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: "^(doc/)|(tests/)|(examples/)"
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

[WIP] work on sampling point for solid stack
  src/ansys/dpf/composites/sampling_point_solid_stack.py
Due: pylint, mypy-code

extend the rst workflow example: show how to compute and access layer-wise results of a failure evaluation.
  examples/011_rst_workflow.py
Due: none

cosmetic changes to make the code style check passing
  examples/011_rst_workflow.py
Due: none

cosmetic change
  examples/011_rst_workflow.py
Due: none

fix docu build
  examples/011_rst_workflow.py
Due: none

use combined failure criteria with wrinkling
  examples/011_rst_workflow.py
Due: none

fix code style
  examples/011_rst_workflow.py
Due: none

Add section API changes to the documentation
  doc/source/index.rst
  examples/011_rst_workflow.py
Due: none

cosmetic changes
  doc/source/index.rst
Due: none

Update examples/011_rst_workflow.py
  examples/011_rst_workflow.py
Due: none

Update doc/source/index.rst
  doc/source/index.rst
Due: none

improve the example and plot some data.
  examples/011_rst_workflow.py
Due: none

code style changes
  examples/011_rst_workflow.py
Due: none

add nitpick ignore py:data typing.Union [ref.data]
  doc/source/conf.py
Due: none

nitpick py:data typing.Union[ref.data]
  doc/source/conf.py
Due: none

nitpick
  doc/source/conf.py
Due: none

extend the rst workflow example (#557)
  doc/source/conf.py
  doc/source/index.rst
  examples/011_rst_workflow.py
Due: none

[WIP] commit latest development
  doc/source/index.rst
  examples/015_solid_model.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/_solid_stack_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/sampling_point_solid_stack.py
Due: pylint, mypy-code

These tests should pass now since ADO issue 856638 is resolved.
  tests/composite_model_scoping_test.py
  tests/composite_model_test.py
  tests/rst_only_workflow_test.py
Due: mypy-tests

fix tests if distributed_rst is used
  tests/composite_model_scoping_test.py
Due: mypy-tests
