Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

rename tag
  .github/workflows/ci_cd.yml
  tox.ini
Due: none

update comment
  .github/workflows/ci_cd.yml
Due: none

Remove commented-out code used for testing
  src/ansys/dpf/composites/layup_info/_layup_info.py
Due: mypy-code

Test backward compatibility and add option to test any container (#295)
  .github/workflows/ci_cd.yml
  tests/conftest.py
  tox.ini
Due: mypy-tests

DOC: update development documentation 37dc73f8893a6123200a9d1a50d65e7911abf8ca
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Skip distributed RST tests for older server versions
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/basic_workflow_test.py
  tests/composite_model_test.py
  tests/conftest.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Add support for distributed RST files (#292)
  .pre-commit-config.yaml
  examples/011_dpf_composite_failure_workflow.py
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/basic_workflow_test.py
  tests/composite_model_test.py
  tests/conftest.py
  tests/data/shell/distributed_shell0.rst
  tests/data/shell/distributed_shell1.rst
  tests/helper.py
  tests/performance_test.py
  tests/result_definition_test.py
  tests/sampling_point_test.py
  tests/test_data_sources.py
Due: mypy-code, mypy-tests

Set --cov-append on second pytest run in tox
  tox.ini
Due: none

Upload coverage reports to codecov
  .github/workflows/ci_cd.yml
Due: none

Set codecov token
  .github/workflows/ci_cd.yml
Due: none

Set --cov-append on second pytest run in tox (#297)
  tox.ini
Due: none

DOC: update development documentation 0ad6e4bff0bccf198d090b5a84a458fbd0122f43
  version/dev/_sources/examples/gallery_examples/001_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/002_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/003_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/004_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/005_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/006_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/007_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/008_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/009_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/010_harmonic_example.rst.txt
  version/dev/_sources/examples/gallery_examples/011_dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/001_failure_operator_example.html
  version/dev/examples/gallery_examples/002_sampling_point_example.html
  version/dev/examples/gallery_examples/003_short_fiber_example.html
  version/dev/examples/gallery_examples/004_get_material_properties_example.html
  version/dev/examples/gallery_examples/005_get_layup_properties_example.html
  version/dev/examples/gallery_examples/006_filter_composite_data_example.html
  version/dev/examples/gallery_examples/007_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/008_assembly_example.html
  version/dev/examples/gallery_examples/009_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/010_harmonic_example.html
  version/dev/examples/gallery_examples/011_dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

implement interface to support dpf server 6.1 and 7.0 in parallel
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/_composite_model_interface_2023r2.py
  src/ansys/dpf/composites/_composite_model_interface_factory.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/composite_scope.py
Due: mypy-code

start with the implementation of the new composite model
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

apply pre-commit patches
  src/ansys/dpf/composites/__init__.py
  src/ansys/dpf/composites/_composite_model_interface_2023r2.py
  src/ansys/dpf/composites/_composite_model_interface_factory.py
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/composite_scope.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

apply pre-commit patches
  src/ansys/dpf/composites/_composite_model_interface_2023r2.py
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

apply pre-commit patches
  src/ansys/dpf/composites/_composite_model_interface_2023r2.py
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/composite_scope.py
  src/ansys/dpf/composites/data_sources.py
Due: mypy-code

apply pre-commit patches
  src/ansys/dpf/composites/data_sources.py
Due: mypy-code

apply pre-commit patches
  src/ansys/dpf/composites/_composite_model_interface_factory.py
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/data_sources.py
Due: mypy-code

apply pre-commit patches
  src/ansys/dpf/composites/_composite_model_interface_factory.py
Due: mypy-code

apply pre-commit patches
  src/ansys/dpf/composites/_composite_model_interface_latest.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_factory.py
  src/ansys/dpf/composites/_sampling_point_base.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/server_helpers/__init__.py
  src/ansys/dpf/composites/server_helpers/_versions.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_2023r2.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_factory.py
  src/ansys/dpf/composites/_sampling_point_base.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  src/ansys/dpf/composites/server_helpers/_versions.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_2023r2.py
  src/ansys/dpf/composites/_sampling_point_base.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Upload coverage reports to codecov (#298)
  .github/workflows/ci_cd.yml
Due: none

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_2023r2.py
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/_sampling_point_base.py
  src/ansys/dpf/composites/_sampling_point_types.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
  tests/conftest.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_2023r2.py
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/_sampling_point_base.py
  src/ansys/dpf/composites/_sampling_point_types.py
  src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_sampling_point_types.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/_sampling_point_types.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_sampling_point_helpers.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/_sampling_point_types.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_sampling_point_helpers.py
  src/ansys/dpf/composites/_sampling_point_types.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
Due: mypy-code

Work on sampling point to support the old and new backend of dpf composites
  src/ansys/dpf/composites/_composite_model_interface_latest.py
  src/ansys/dpf/composites/_sampling_point_types.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/sampling_point_2023r2.py
Due: mypy-code

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
