Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

DOC: update development documentation 140ff5cc6c4d63c17f98a5f56562a091083fc3e6
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Update package version
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

Jvonrick/bump version (#247)
  .github/workflows/ci_cd.yml
  README.rst
  poetry.lock
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

DOC: update development documentation d6a7a1a4b2606f2599549e4ff94e7d75d8ea8873
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Modify FOT example
  examples/9_short_fiber_orientation_tensor.py
Due: mypy-code

Note about scipy prerequisite
  examples/9_short_fiber_orientation_tensor.py
Due: mypy-code

Get field variables by name
  examples/9_short_fiber_orientation_tensor.py
Due: mypy-code

Use name to identify field variables
  examples/9_short_fiber_orientation_tensor.py
Due: mypy-code

Revert adding port argument
  examples/9_short_fiber_orientation_tensor.py
Due: mypy-code

DOC: update development documentation 86806674c354de3f900de2b370f52222edb1465b
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Note on scoping to solid mesh
  examples/9_short_fiber_orientation_tensor.py
Due: mypy-code

Adjust note's style
  examples/9_short_fiber_orientation_tensor.py
Due: mypy-code

Short fiber example: fiber orientation tensor (#233)
  examples/3_short_fiber_example.py
  examples/9_short_fiber_orientation_tensor.py
  poetry.lock
  pyproject.toml
Due: mypy-code

DOC: update development documentation aee850e5561af899f70b2880a1f581215894d2c8
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation c68d95f8ec8405bb16488e0d5a436a0446c1ee12
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Add info to explain switching of doc versions
  README.rst
  doc/source/index.rst
Due: none

Add info to explain switching of doc versions (#256)
  README.rst
  doc/source/index.rst
Due: none

DOC: update development documentation effd27e253b8343187f1c84575a658fe1884e6ac
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/_sources/index.rst.txt
  version/dev/contribute.html
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/index.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation effd27e253b8343187f1c84575a658fe1884e6ac
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Drop support for Python 3.7
  .github/workflows/ci_cd.yml
  .gitignore
  README.rst
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tox.ini
Due: mypy-code

Drop support for Python 3.7 (#257)
  .github/workflows/ci_cd.yml
  .gitignore
  README.rst
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tox.ini
Due: mypy-code

Update AWP_ROOT_DOCKER variable
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

Update AWP_ROOT_DOCKER variable (#265)
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
Due: mypy-code

Update pre-commit hooks
  .pre-commit-config.yaml
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
  tests/conftest.py
  tests/failure_criteria/combined_failure_criterion_test.py
  tests/failure_criteria/core_failure_test.py
  tests/failure_criteria/cuntze_test.py
  tests/failure_criteria/face_sheet_wrinkling_test.py
  tests/failure_criteria/hashin_test.py
  tests/failure_criteria/hoffman_test.py
  tests/failure_criteria/larc_test.py
  tests/failure_criteria/max_strain_criterion_test.py
  tests/failure_criteria/max_stress_criterion_test.py
  tests/failure_criteria/puck_test.py
  tests/failure_criteria/shear_crimping_test.py
  tests/failure_criteria/tsai_hill_test.py
  tests/failure_criteria/tsai_wu_test.py
  tests/failure_criteria/von_mises_test.py
  tests/filter_layered_data_test.py
  tests/helper.py
  tests/material_properties_test.py
  tests/performance_test.py
Due: mypy-code, mypy-tests

Add and run pyupgrade, remove TYPE_CHECKING guards
  .pre-commit-config.yaml
  doc/source/conf.py
  minimum_requirements.txt
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/select_indices.py
Due: mypy-code

Update pre-commit dependencies, remove code obsolete with Python 3.7 drop (#258)
  .pre-commit-config.yaml
  doc/source/conf.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/dpf_composite_failure_workflow.py
  minimum_requirements.txt
  src/ansys/dpf/composites/_indexer.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/select_indices.py
  tests/conftest.py
  tests/failure_criteria/combined_failure_criterion_test.py
  tests/failure_criteria/core_failure_test.py
  tests/failure_criteria/cuntze_test.py
  tests/failure_criteria/face_sheet_wrinkling_test.py
  tests/failure_criteria/hashin_test.py
  tests/failure_criteria/hoffman_test.py
  tests/failure_criteria/larc_test.py
  tests/failure_criteria/max_strain_criterion_test.py
  tests/failure_criteria/max_stress_criterion_test.py
  tests/failure_criteria/puck_test.py
  tests/failure_criteria/shear_crimping_test.py
  tests/failure_criteria/tsai_hill_test.py
  tests/failure_criteria/tsai_wu_test.py
  tests/failure_criteria/von_mises_test.py
  tests/filter_layered_data_test.py
  tests/helper.py
  tests/material_properties_test.py
  tests/performance_test.py
Due: mypy-code, mypy-tests

Add allow-last-days option to package cleanup
  .github/workflows/package_cleanup.yml
Due: none

Rename build-package to build-library, improve dependencies
  .github/workflows/ci_cd.yml
Due: none

Add 'build-wheelhouse' job to CI/CD
  .github/workflows/ci_cd.yml
Due: none

DOC: update development documentation 5250b58fedc92bf3061ba57013898ce3b1baa232
  version/dev/_downloads/17321ebe36092bd4e1302e206e846af2/5_get_layup_properties_example.py
  version/dev/_downloads/182734e7babe023574be666ab4d0c279/4_get_material_properties_example.py
  version/dev/_downloads/6b26539de83fbf2e8d5b37668ecc4e76/dpf_composite_failure_workflow.py
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: mypy-code

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
