Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 23.3.0  # IF VERSION CHANGES --> MODIFY "blacken-docs" MANUALLY AS WELL!!
  hooks:
  - id: black

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.14.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==23.3.0]
    exclude: "^tests/"

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.7.0
  hooks:
  - id: pyupgrade
    args: [--py39-plus]

- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: ["tomli"]
    exclude: "^(tests/|examples/)"

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
    additional_dependencies: ['tomli'] # needed to parse pyproject.toml
    exclude: '^poetry\.lock$'

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.2.6
  hooks:
  - id: add-license-headers
    args: ["--start_year", "2023"]

- repo: local
  hooks:
  - id: poetry-pyproject-consistency
    name: "poetry: check pyproject.toml consistency"
    entry: poetry
    language: system
    args: ["check"]
    files: '^pyproject\.toml$'
    pass_filenames: false
  - id: poetry-lockfile-consistency
    name: "poetry: check lockfile consistency"
    entry: poetry
    language: system
    args: ["lock", "--check"]
    files: '^(pyproject\.toml|poetry\.lock)$'
    pass_filenames: false
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: "^(doc/)|(tests/)|(examples/)"
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|(examples/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Upgrade dependencies
  poetry.lock
Due: poetry-lockfile-consistency

update test matrix of the docker containers. Add 2025 R2 and remove previews.
  .github/workflows/ci_cd.yml
  tox.ini
Due: none

update code owners
  .github/CODEOWNERS
Due: none

update test matrix of the docker containers (#567)
  .github/CODEOWNERS
  .github/workflows/ci_cd.yml
  tox.ini
Due: none

remove hack to consider timeout on start dpf server because this is now done in dpf core.
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  tests/conftest.py
Due: pylint, mypy-code, mypy-tests

fix formatting and imports
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
Due: pylint, mypy-code

update minimum_requirements.txt
  .ci/minimum_requirements.txt
Due: none

update poetry.lock
  poetry.lock
Due: poetry-lockfile-consistency

CI: Test dev ansys action to debug
  .github/workflows/ci_cd.yml
Due: none

test
  .github/workflows/ci_cd.yml
Due: none

Update poetry lock (#569)
  poetry.lock
Due: poetry-lockfile-consistency

Create release 0.7.0
  doc/source/intro.rst
  pyproject.toml
  tests/test_metadata.py
Due: poetry-pyproject-consistency, poetry-lockfile-consistency, mypy-tests

update poetry lock
  poetry.lock
Due: poetry-lockfile-consistency

fix(release): use the GITHUB_TOKEN when releasing to GitHub
  .github/workflows/ci_cd.yml
Due: none

Maint/fix release action (#572)
  .github/workflows/ci_cd.yml
Due: none

Update ci_cd.yml
  .github/workflows/ci_cd.yml
Due: none

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Due: none
