Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Use relative imports
  poetry.lock
  pyproject.toml
  tests/basic_workflow_test.py
Due: mypy-tests

Improve type hints
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/select_indices.py
Due: mypy-code

Add reference results for user defined failure criteria
  tests/layered_test.py
Due: mypy-tests

Use correct material id
  tests/layered_test.py
Due: mypy-tests

More documentation
  .pre-commit-config.yaml
  src/ansys/dpf/composites/layup_info.py
Due: mypy-code

More comments
  src/ansys/dpf/composites/layup_info.py
  src/ansys/dpf/composites/select_indices.py
  tests/layered_test.py
Due: mypy-code, mypy-tests

Cleanup performance tests
  tests/performance_tests.py
Due: mypy-tests

More comments
  src/ansys/dpf/composites/layup_info.py
Due: mypy-code

Update lockfile Set dependencies correctly for numpy (to support python 3.10) allow pre-releases for vtk (to support python 3.10)
  poetry.lock
  pyproject.toml
Due: none

Remove pre flag for poetry install
  .github/workflows/ci_cd.yml
Due: none

Load all the plugins
  src/ansys/dpf/composites/load_plugin.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Fix examples
  examples/basic_example.py
  examples/failure_operator_example.py
  examples/sampling_point_example.py
Due: mypy-code

Increase timeout and use uids
  tests/conftest.py
Due: mypy-tests

Improve readme
  README.rst
Due: none

Fix typo in readme
  README.rst
Due: none

Add comments
  pyproject.toml
  tests/conftest.py
Due: mypy-tests

Add new log file naming to .gitignore
  .gitignore
Due: none

Jvonrick/fix tests (#10)
  .github/workflows/ci_cd.yml
  .gitignore
  README.rst
  examples/basic_example.py
  examples/failure_operator_example.py
  examples/sampling_point_example.py
  poetry.lock
  pyproject.toml
  src/ansys/dpf/composites/load_plugin.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Deploying to gh-pages from @ pyansys/pydpf-composites@c5eda81d09decc71b7ceb7749901ab963df69b4a 🚀
  _downloads/42405952459ced51b7a430af4ff2191b/basic_example.ipynb
  _downloads/53550da7d710b90f295d971d334d40bd/failure_operator_example.py
  _downloads/54f16dc01300d9b2014a3113546ecf0c/sampling_point_example.ipynb
  _downloads/d793f7edefe895cce4c5ac36c52043cb/basic_example.py
  _downloads/e6cd01b6074eb736f509d78d8292b856/failure_operator_example.ipynb
  _downloads/f179ce73dacd6109b726784466d31230/sampling_point_example.py
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _static/doctools.js
  _static/searchtools.js
  _static/sphinx_highlight.js
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/index.html
  genindex.html
  index.html
  search.html
  searchindex.js
Due: mypy-code

Add short fiber example
  examples/short_fiber_example.py
  tests/conftest.py
  tests/data/short_fiber/MatML.xml
  tests/data/short_fiber/ds.dat
  tests/data/short_fiber/file.rst
Due: mypy-code, mypy-tests

Add daily schedule and fix dependabot yml
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
Due: none

Add daily schedule and fix dependabot yml (#12)
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
Due: none

Deploying to gh-pages from @ pyansys/pydpf-composites@d393632f6a4abcf489353b69ce611d580983a5af 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sg_execution_times.html
  searchindex.js
Due: none

Use inputs instead of pins
  examples/short_fiber_example.py
Due: mypy-code

Deploying to gh-pages from @ pyansys/pydpf-composites@8bc3f84ca7e403037a392619d268c9b736b42401 🚀
  _downloads/1d3aec630b324236d9219dfeba967518/short_fiber_example.ipynb
  _downloads/6278f4596737d14ff90de7317fac883b/short_fiber_example.py
  _images/sphx_glr_short_fiber_example_001.png
  _images/sphx_glr_short_fiber_example_thumb.png
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  examples/index.html
  objects.inv
  searchindex.js
Due: mypy-code

Disable dependabot
  .github/dependabot.yml
  .github/dependabot_disabled.yml
  pyproject.toml
Due: none

Deploying to gh-pages from @ pyansys/pydpf-composites@8bc3f84ca7e403037a392619d268c9b736b42401 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

Disable dependabot (#17)
  .github/dependabot.yml
  .github/dependabot_disabled.yml
  pyproject.toml
Due: none

Deploying to gh-pages from @ pyansys/pydpf-composites@3cf8d1ed8b1baddf3ee5f94a523d8441e1dde24b 🚀
  _sources/examples/gallery_examples/basic_example.rst.txt
  _sources/examples/gallery_examples/failure_operator_example.rst.txt
  _sources/examples/gallery_examples/sampling_point_example.rst.txt
  _sources/examples/gallery_examples/sg_execution_times.rst.txt
  _sources/examples/gallery_examples/short_fiber_example.rst.txt
  examples/gallery_examples/basic_example.html
  examples/gallery_examples/failure_operator_example.html
  examples/gallery_examples/sampling_point_example.html
  examples/gallery_examples/sg_execution_times.html
  examples/gallery_examples/short_fiber_example.html
  searchindex.js
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
