Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-consistency, poetry-lockfile-consistency, pylint, mypy-code, mypy-tests

poetry-pyproject-consistency:
  name: 'poetry: check pyproject.toml consistency'
  entry: poetry
  language: system
  args:
  - check
  pass_filenames: false

poetry-lockfile-consistency:
  name: 'poetry: check lockfile consistency'
  entry: poetry
  language: system
  args:
  - lock
  - --check
  pass_filenames: false

pylint:
  name: pylint
  entry: pylint
  language: system

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

fix docu build
  examples/016_lsdyna_bird_strike.py
Due: none

Update src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/data_sources.py
Due: pylint, mypy-code

[debugging] add print messages to track file upload to server
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/lsdyna_workflow_test.py
Due: pylint, mypy-code, mypy-tests

[debugging] minor fix
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: pylint, mypy-code

[debugging] get print message on the console
  tox.ini
Due: none

[debugging] add more debug output
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: pylint, mypy-code

[debugging] ensure that the d3plot file is used and not d3plot<...>
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: pylint, mypy-code

[debugging] remove debug output and ensure that the main d3plot file is passed to the composite file definition
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/lsdyna_workflow_test.py
Due: pylint, mypy-code, mypy-tests

Update minimum requirement of ansys-dpf-core
  .ci/minimum_requirements.txt
  pyproject.toml
Due: poetry-pyproject-consistency, poetry-lockfile-consistency

improve test to run with different version of pydpf-core.
  examples/016_lsdyna_bird_strike.py
  tests/lsdyna_workflow_test.py
Due: mypy-tests

[WIP] implement remarks from code review and run style checks
  examples/010_harmonic_example.py
  examples/016_lsdyna_bird_strike.py
  examples/099_dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_operators.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
  tests/composite_model_test.py
  tests/element_info_output_all_element_types_test.py
  tests/element_info_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/lsdyna_workflow_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_solid_stack_test.py
  tests/sampling_point_test.py
  tests/test_data_sources.py
  tox.ini
Due: pylint, mypy-code, mypy-tests

run style checks
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/server_helpers/_upload_files_to_server.py
Due: pylint, mypy-code

cosmetic changes
  examples/016_lsdyna_bird_strike.py
  tests/composite_model_test.py
Due: mypy-tests

cosmetic change (docu)
  examples/016_lsdyna_bird_strike.py
Due: none

Move class descriptions otherwise it won't show up in the API docu.
  src/ansys/dpf/composites/data_sources.py
Due: pylint, mypy-code

update new test and compare values with LS PrePost
  tests/lsdyna_workflow_test.py
Due: mypy-tests

add comments
  tests/lsdyna_workflow_test.py
Due: mypy-tests

run pre-commit checks
  tests/lsdyna_workflow_test.py
Due: mypy-tests

git missed changes
  doc/source/index.rst
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
Due: pylint, mypy-code

refine documentation
  doc/source/index.rst
Due: none

run style checks
  doc/source/index.rst
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
Due: pylint, mypy-code

typo
  doc/source/index.rst
Due: none

fix typo
  doc/source/index.rst
Due: none

implement solver type for the legacy composite model.
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
Due: pylint, mypy-code

fix doc style
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
Due: pylint, mypy-code

Update limitations due to the support of LS Dyna (#561)
  doc/source/index.rst
  src/ansys/dpf/composites/_composite_model_impl.py
  src/ansys/dpf/composites/_composite_model_impl_2023r2.py
Due: pylint, mypy-code

Path conditions:
  poetry-pyproject-consistency: any of: ^pyproject\.toml$
  poetry-lockfile-consistency: any of: ^(pyproject\.toml|poetry\.lock)$
  pylint: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)|(examples/)
  mypy-tests: any of: ^(tests/) and \.py$
