Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

DOC: update development documentation 5250b58fedc92bf3061ba57013898ce3b1baa232
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Add 'build-wheelhouse' job to CI/CD (#264)
  .github/workflows/ci_cd.yml
  .github/workflows/package_cleanup.yml
Due: none

DOC: update development documentation 7fbe2e541ba51957f8b7d8df496f859e7e6795ec
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation 48ea14f91b1ca63171e70a6a6c4b7bcdf3e6ea36
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

DOC: update development documentation 0264c8ffb9c08907212bc6aa0b1f5a1d36f0dd86
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Support customer portal docker images and update docs
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/index.rst
  doc/source/intro.rst
  src/ansys/dpf/composites/server_helpers/_load_plugin.py
  tests/conftest.py
  tests/data/workflow_example/assembly/result_definition.json
  tox.ini
Due: mypy-code, mypy-tests

Minor doc improvements
  doc/source/intro.rst
Due: none

Adapt to organization rename from pyansys to ansys
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/package_cleanup.yml
  README.rst
  doc/source/conf.py
  pyproject.toml
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Remove --server-bin pytest option because it is not working anymore.
  README.rst
  doc/source/intro.rst
  tests/conftest.py
Due: mypy-tests

Adapt to organization rename from 'pyansys' to 'ansys' (#276)
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/package_cleanup.yml
  README.rst
  doc/source/conf.py
  pyproject.toml
  src/ansys/dpf/composites/example_helper/__init__.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  tests/conftest.py
Due: mypy-code, mypy-tests

Ignore generated result definitions.
  .gitignore
  tests/data/workflow_example/assembly/result_definition.json
Due: none

Update README.rst
  README.rst
Due: none

DOC: update development documentation 79d83a0624822fca73b767d2e3b772d4af0b863c
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Relax pyvista requirement upper bound
  minimum_requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Apply suggestions from code review
  README.rst
  doc/source/intro.rst
Due: none

Revert wording concerning venv
  doc/source/intro.rst
Due: none

Adapt to inheritance changes in matplotlib Axes
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

DOC: update development documentation 8fb74db96b370de3be6ab32941e9b0b46023bfed
  version/dev/_images/sphx_glr_2_sampling_point_example_001.png
  version/dev/_images/sphx_glr_2_sampling_point_example_002.png
  version/dev/_images/sphx_glr_2_sampling_point_example_003.png
  version/dev/_images/sphx_glr_2_sampling_point_example_004.png
  version/dev/_images/sphx_glr_2_sampling_point_example_005.png
  version/dev/_images/sphx_glr_2_sampling_point_example_006.png
  version/dev/_images/sphx_glr_5_get_layup_properties_example_001.png
  version/dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  version/dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  version/dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  version/dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  version/dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  version/dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  version/dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  version/dev/_sources/examples/gallery_examples/9_short_fiber_orientation_tensor.rst.txt
  version/dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  version/dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  version/dev/examples/gallery_examples/1_failure_operator_example.html
  version/dev/examples/gallery_examples/2_sampling_point_example.html
  version/dev/examples/gallery_examples/3_short_fiber_example.html
  version/dev/examples/gallery_examples/4_get_material_properties_example.html
  version/dev/examples/gallery_examples/5_get_layup_properties_example.html
  version/dev/examples/gallery_examples/6_filter_composite_data_example.html
  version/dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  version/dev/examples/gallery_examples/8_assembly_example.html
  version/dev/examples/gallery_examples/9_short_fiber_orientation_tensor.html
  version/dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  version/dev/examples/gallery_examples/sg_execution_times.html
  version/dev/searchindex.js
Due: none

Fix pre-commit failures
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
