Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

mypy-code:
  name: 'mypy: strict checks on code'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --strict
  - --namespace-packages
  - --explicit-package-bases

mypy-tests:
  name: 'mypy: lenient checks on tests'
  entry: mypy
  language: python
  require_serial: true
  args:
  - --namespace-packages
  - --explicit-package-bases

Fix get_results_plot if only one axis is active fix set y-bounds in add_ply_sequence_to_plot
  examples/2_sampling_point_example.py
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

pre-commit hooks
  src/ansys/dpf/composites/sampling_point.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

pre-commit hooks
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

correction of an accidental change
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

DOC: add development documentation
  dev/_downloads/7e9cf296843a413f05366030fec0953f/2_sampling_point_example.py
  dev/_downloads/c85b56dab21447c163731d74b0a4284d/2_sampling_point_example.ipynb
  dev/_images/sphx_glr_2_sampling_point_example_003.png
  dev/_images/sphx_glr_2_sampling_point_example_005.png
  dev/_images/sphx_glr_2_sampling_point_example_006.png
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/api/_autosummary/ansys.dpf.composites.sampling_point.SamplingPoint.add_ply_sequence_to_plot.html
  dev/api/_autosummary/ansys.dpf.composites.sampling_point.SamplingPoint.html
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: mypy-code

Remove empty 'needs' statement
  .github/workflows/ci_cd.yml
Due: none

Revert code-style changes
  .github/workflows/ci_cd.yml
Due: none

Match only tags starting with 'v' for release
  .github/workflows/ci_cd.yml
Due: none

Split poetry install into a separate command
  .github/workflows/ci_cd.yml
  tox.ini
Due: none

Add pre-commit hooks to check poetry.lock and pyproject.toml
  .pre-commit-config.yaml
  poetry.lock
Due: none

Improve docstring for p value
  src/ansys/dpf/composites/failure_criteria/_puck.py
Due: mypy-code

Fix typo
  src/ansys/dpf/composites/failure_criteria/_puck.py
Due: mypy-code

Fix vale errors
  doc/.vale.ini
  doc/source/_templates/autosummary/class.rst
  doc/source/api/layup_info.rst
  doc/source/api/select_indices.rst
  doc/source/index.rst
  doc/source/intro.rst
  doc/styles/Vocab/Custom/accept.txt
  doc/styles/Vocab/Custom/reject.txt
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

Add documentation for failure criteria init functions (#136)
  src/ansys/dpf/composites/failure_criteria/_core_failure.py
  src/ansys/dpf/composites/failure_criteria/_cuntze.py
  src/ansys/dpf/composites/failure_criteria/_face_sheet_wrinkling.py
  src/ansys/dpf/composites/failure_criteria/_hashin.py
  src/ansys/dpf/composites/failure_criteria/_hoffman.py
  src/ansys/dpf/composites/failure_criteria/_larc.py
  src/ansys/dpf/composites/failure_criteria/_max_strain.py
  src/ansys/dpf/composites/failure_criteria/_max_stress.py
  src/ansys/dpf/composites/failure_criteria/_puck.py
  src/ansys/dpf/composites/failure_criteria/_quadratic_failure_criterion.py
  src/ansys/dpf/composites/failure_criteria/_shear_crimping.py
  src/ansys/dpf/composites/failure_criteria/_tsai_hill.py
  src/ansys/dpf/composites/failure_criteria/_tsai_wu.py
  src/ansys/dpf/composites/failure_criteria/_von_mises.py
Due: mypy-code

CI: only trigger on tags starting with 'v'
  .github/workflows/ci_cd.yml
Due: none

Support test runs with local installer
  README.rst
  src/ansys/dpf/composites/example_helper/__init__.py
  tests/basic_workflow_test.py
  tests/composite_model_test.py
  tests/conftest.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/getting_started_test.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

DOC: apply heading style
  doc/source/api/index.rst
  doc/source/examples/index.rst
  doc/source/index.rst
  doc/source/intro.rst
Due: none

pre-commit hooks
  README.rst
Due: none

Add code owners
  .github/CODEOWNERS
Due: none

FIx docs
  src/ansys/dpf/composites/example_helper/__init__.py
Due: mypy-code

Fix missing argument
  tests/conftest.py
Due: mypy-tests

Add code owners (#148)
  .github/CODEOWNERS
Due: none

CI: enhance jobs and add missing ones (#125)
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/.vale.ini
  doc/source/_templates/autosummary/class.rst
  doc/source/api/index.rst
  doc/source/api/layup_info.rst
  doc/source/api/select_indices.rst
  doc/source/examples/index.rst
  doc/source/index.rst
  doc/source/intro.rst
  doc/styles/Vocab/Custom/accept.txt
  doc/styles/Vocab/Custom/reject.txt
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
  poetry.lock
  tox.ini
Due: mypy-code

Support test runs with local installer (#145)
  README.rst
  src/ansys/dpf/composites/example_helper/__init__.py
  tests/basic_workflow_test.py
  tests/composite_model_test.py
  tests/conftest.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
  tests/getting_started_test.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Allow manually running Github CI
  .github/workflows/ci_cd.yml
Due: none

Allow manually running Github CI (#149)
  .github/workflows/ci_cd.yml
Due: none

Remove unnecessary local server checks
  src/ansys/dpf/composites/example_helper/__init__.py
  tests/composite_model_test.py
  tests/getting_started_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

first stable release 0.1 and update classifiers
  pyproject.toml
Due: none

update pkg test
  tests/test_metadata.py
Due: mypy-tests

Remove unnecessary local server checks (#150)
  src/ansys/dpf/composites/example_helper/__init__.py
  tests/composite_model_test.py
  tests/getting_started_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
Due: mypy-code, mypy-tests

Remove the 'testing session' section from docs (#134)
  doc/source/intro.rst
Due: none

Merge changes from main into the release 0.1 branch and fist pkg test (#151)
  doc/source/intro.rst
  src/ansys/dpf/composites/example_helper/__init__.py
  tests/composite_model_test.py
  tests/getting_started_test.py
  tests/helper.py
  tests/layup_properties_test.py
  tests/material_properties_test.py
  tests/performance_test.py
  tests/sampling_point_test.py
  tests/test_metadata.py
Due: mypy-code, mypy-tests

bump version to 0.2.dev0
  README.rst
  pyproject.toml
  tests/test_metadata.py
Due: mypy-tests

Use pyansys action for package build
  .github/workflows/ci_cd.yml
Due: none

Path conditions:
  mypy-code: any of: \.py$, but not: ^(doc/)|(tests/)
  mypy-tests: any of: ^(tests/) and \.py$
