Repository ansys/pydpf-composites: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-code, mypy-tests

.pre-commit-config.yaml:

repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
  - id: pydocstyle
    additional_dependencies: [toml]
    exclude: "^(tests/|examples/)"


- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]
  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)"
    args: ["--namespace-packages", "--explicit-package-bases"]

Try again to fix error in _puck.py
  src/ansys/dpf/composites/failure_criteria/_puck.py
Due: mypy-code

In constants.py:28, fFix D209: Multi-line docstring closing quotes should be on a separate line
  src/ansys/dpf/composites/constants.py
  src/ansys/dpf/composites/failure_criteria/_core_failure.py
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

Change after running pre-commit
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

Add missing space between words
  README.rst
Due: none

DOC: add development documentation
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/searchindex.js
Due: none

Fix tests and pre-commit checks
  src/ansys/dpf/composites/result_definition.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
Due: mypy-code, mypy-tests

Review / edit of doc changes
  README.rst
  doc/source/api/index.rst
  doc/source/api/layup_info.rst
  doc/source/api/select_indices.rst
  doc/source/conf.py
  doc/source/intro.rst
  examples/2_sampling_point_example.py
  examples/3_short_fiber_example.py
  examples/5_get_layup_properties_example.py
  examples/7_interlaminar_normal_stress_example.py
  examples/8_assembly_example.py
  examples/dpf_composite_failure_workflow.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/failure_criteria/_combined_failure_criterion.py
  src/ansys/dpf/composites/failure_criteria/_core_failure.py
  src/ansys/dpf/composites/failure_criteria/_hashin.py
  src/ansys/dpf/composites/layup_info/__init__.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_enums.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/sampling_point.py
  src/ansys/dpf/composites/select_indices.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  tests/element_info_output_all_element_types_test.py
Due: mypy-code, mypy-tests

Fix missing links, rename Dev Guide to Contribute
  README.rst
  doc/source/conf.py
  doc/source/contribute.rst
  doc/source/developers_guide.rst
  doc/source/index.rst
  examples/1_failure_operator_example.py
  examples/7_interlaminar_normal_stress_example.py
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

Fix indentation issues
  doc/source/api/select_indices.rst
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

More indentation fixes
  src/ansys/dpf/composites/sampling_point.py
Due: mypy-code

Add codespell to pre-commit, fix some typos
  .pre-commit-config.yaml
  doc/source/conf.py
  examples/2_sampling_point_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  pyproject.toml
  src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/result_definition.py
  tests/element_info_output_all_element_types_test.py
  tests/filter_layered_data_test.py
Due: mypy-code, mypy-tests

Improve error message for missing analysis ply
  src/ansys/dpf/composites/layup_info/_layup_info.py
  tests/filter_layered_data_test.py
Due: mypy-code, mypy-tests

Update src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
  src/ansys/dpf/composites/server_helpers/_connect_to_or_start_server.py
Due: mypy-code

Update src/ansys/dpf/composites/failure_criteria/_combined_failure_criterion.py
  src/ansys/dpf/composites/failure_criteria/_combined_failure_criterion.py
Due: mypy-code

Update src/ansys/dpf/composites/failure_criteria/_puck.py
  src/ansys/dpf/composites/failure_criteria/_puck.py
Due: mypy-code

Update src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
  src/ansys/dpf/composites/layup_info/_add_layup_info_to_mesh.py
Due: mypy-code

Update src/ansys/dpf/composites/result_definition.py
  src/ansys/dpf/composites/result_definition.py
Due: mypy-code

Update doc/source/api/select_indices.rst
  doc/source/api/select_indices.rst
Due: none

Apply suggestions from code review
  src/ansys/dpf/composites/failure_criteria/_shear_crimping.py
Due: mypy-code

Update doc/source/index.rst
  doc/source/index.rst
Due: none

Apply suggestions from code review
  doc/source/index.rst
  examples/2_sampling_point_example.py
  examples/5_get_layup_properties_example.py
  src/ansys/dpf/composites/data_sources.py
  src/ansys/dpf/composites/layup_info/_layup_info.py
  src/ansys/dpf/composites/layup_info/material_properties.py
  src/ansys/dpf/composites/result_definition.py
  tests/element_info_output_all_element_types_test.py
Due: mypy-code, mypy-tests

Update src/ansys/dpf/composites/composite_model.py
  src/ansys/dpf/composites/composite_model.py
Due: mypy-code

Fix trailing whitespace
  examples/2_sampling_point_example.py
Due: mypy-code

Improve example hover tooltips
  examples/3_short_fiber_example.py
  examples/4_get_material_properties_example.py
  examples/5_get_layup_properties_example.py
  examples/6_filter_composite_data_example.py
  examples/7_interlaminar_normal_stress_example.py
Due: mypy-code

Fix SFW example description
  examples/3_short_fiber_example.py
Due: mypy-code

Add missing newline after rst title
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

Add missing newline after rst title (#188)
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

Add missing newline after rst title (#189)
  examples/dpf_composite_failure_workflow.py
Due: mypy-code

DOC: add development documentation
  dev/_downloads/6b26539de83fbf2e8d5b37668ecc4e76/dpf_composite_failure_workflow.py
  dev/_sources/examples/gallery_examples/1_failure_operator_example.rst.txt
  dev/_sources/examples/gallery_examples/2_sampling_point_example.rst.txt
  dev/_sources/examples/gallery_examples/3_short_fiber_example.rst.txt
  dev/_sources/examples/gallery_examples/4_get_material_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/5_get_layup_properties_example.rst.txt
  dev/_sources/examples/gallery_examples/6_filter_composite_data_example.rst.txt
  dev/_sources/examples/gallery_examples/7_interlaminar_normal_stress_example.rst.txt
  dev/_sources/examples/gallery_examples/8_assembly_example.rst.txt
  dev/_sources/examples/gallery_examples/dpf_composite_failure_workflow.rst.txt
  dev/_sources/examples/gallery_examples/sg_execution_times.rst.txt
  dev/examples/gallery_examples/1_failure_operator_example.html
  dev/examples/gallery_examples/2_sampling_point_example.html
  dev/examples/gallery_examples/3_short_fiber_example.html
  dev/examples/gallery_examples/4_get_material_properties_example.html
  dev/examples/gallery_examples/5_get_layup_properties_example.html
  dev/examples/gallery_examples/6_filter_composite_data_example.html
  dev/examples/gallery_examples/7_interlaminar_normal_stress_example.html
  dev/examples/gallery_examples/8_assembly_example.html
  dev/examples/gallery_examples/dpf_composite_failure_workflow.html
  dev/examples/gallery_examples/sg_execution_times.html
  dev/examples/index.html
  dev/searchindex.js
Due: mypy-code

Add documentation link
  pyproject.toml
Due: none

Add documentation link to pyproject.toml (#190)
  pyproject.toml
Due: none

Add documentation link to pyproject.toml (#191)
  pyproject.toml
Due: none
